.map {
  padding-top: 15rem;
  @media (max-width: 1024px) {
    padding: 10rem 7rem 5rem;
  }
  @media (max-width: 768px) {
    padding: 8rem 2rem 4rem;
  }
} 
.contact {
  padding-top: 15rem;
  @media (max-width: 1024px) {
    padding: 10rem 7rem 5rem;
  }
  @media (max-width: 768px) {
    padding: 8rem 1rem 4rem;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input::placeholder,
  textarea::placeholder {
    text-transform: capitalize;
  }

}

.maps {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 768px) {
    height: 300px;
  }

  iframe {
    display: block;
    width: 100%;
    min-height: 450px;
    border: none;
  }
}

.social-icons {
  width: 25px;
  height: 25px;
  object-fit: contain;
  @media screen and (max-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

textarea {
  height: 246px;
  @media screen and (max-width: 1440px) {
    height: 300px;
  }
  @media screen and (max-width: 1200px) {
    height: 173px;
  }
  @media screen and (max-width: 768px) {
    height: 150px;
  }
}
