<section class="contact sectionPadding">
  <div class="container-fluid">
    <!-- heading -->
    <h1 class="size60 performa-light text-capitalize text-center mb-xxl-4 mb-lg-3 mb-md-3 mb-2" 
      >
      get in touch
    </h1>
    <p class="size18 redhat-semibold text-center margin-bottom"  >
      <!-- Experience Luxury On The Move – Book Your Journey With Us Today. -->
      Book Your Luxury Moves For Epic Stories – Your Journey Starts Here
    </p>

    <div class="row">
      <!-- form -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-12 pad-right"  >
        <form [formGroup]="addcontactForm" (ngSubmit)="onSubmit()" method="post" novalidate>
          <div class="row">
            <div class="col-6 mb-xl-4 mb-lg-3 mb-md-3 mb-2">
              <div class="form-box-padding d-flex flex-column border border-1 rounded-3 text-capitalize ">
                <label for="firstName" class="form-label gray-light-color m-0 size16 redhat-medium">first Name</label>
                <input id="firstName" type="text" class="border-0 outline-0 gray-color size18 redhat-semibold"
                  placeholder="first Name" formControlName="name" name="name" />

              </div>
              <span *ngIf="submitted && hasError('name', 'required')"
                class="alert-danger ms-md-3 ms-2 size16 redhat-semibold">Name is required</span>


            </div>
            <div class="col-6 mb-xl-4 mb-lg-3 mb-md-3 mb-2">
              <div class="form-box-padding d-flex flex-column border border-1 rounded-3 text-capitalize">
                <label for="lastName" class="form-label gray-light-color m-0 size16 redhat-medium">last name</label>
                <input id="lastName" type="text" class="border-0 outline-0 gray-color size18 redhat-semibold"
                  placeholder="last name" formControlName="lastname" name="lastname" />
              </div>
              <span *ngIf="submitted && hasError('lastname', 'required')"
                class="alert-danger ms-md-3 ms-2 size16 redhat-semibold">Last is required</span>
            </div>
            <div class="col-6 mb-xl-4 mb-lg-3 mb-md-3 mb-2">
              <div class="form-box-padding d-flex flex-column border border-1 rounded-3 text-capitalize">
                <label for="email" class="form-label gray-light-color m-0 size16 redhat-medium">email</label>
                <input id="email" type="email" class="border-0 outline-0 gray-color size18 redhat-semibold"
                  placeholder="email" formControlName="email" name="email" />
              </div>
              <span *ngIf="submitted && hasEmailError('email', 'required')"
                class="alert-danger ms-md-3 ms-2 size16 redhat-semibold">{{ hasEmailError("email", "required") }}</span>

            </div>
            <!-- <div class="col-6">
              <div
                class="form-box-padding d-flex flex-column border border-1 rounded-3 text-capitalize mb-xl-4 mb-lg-3 mb-md-3 mb-2">
                <label for="phone" class="form-label gray-light-color m-0">Phone</label>
                <input id="phone" type="number" min="0" class="border-0 outline-0 gray-color size18 redhat-semibold"
                  placeholder="Phone" formControlName="phone" name="phone" />
              </div>
              <span *ngIf="submitted && hasError('phone', 'required')" class="alert-danger mb-2">Phone is
                required</span>
            </div> -->
            <div class="col-6 mb-xl-4 mb-lg-3 mb-md-3 mb-2">
              <div class="form-box-padding d-flex flex-column border border-1 rounded-3 text-capitalize">
                <label for="phone" class="form-label gray-light-color m-0 size16 redhat-medium">Phone</label>
                <ngx-intl-tel-input id="floatingInput" class="interphone size18 redhat-semibold" id="floatingInput"
                  [cssClass]="'custom-intl-tel-input'" [enableAutoCountrySelect]="true" [enablePlaceholder]="false"
                  [searchCountryFlag]="true" [preferredCountries]="preferredCountries" [searchCountryField]="[
                    SearchCountryField.Iso2,
                    SearchCountryField.Name
                  ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.UnitedArabEmirates"
                  [phoneValidation]="true" [separateDialCode]="true" name="phone" formControlName="phone">
                </ngx-intl-tel-input>
              </div>

              <span *ngIf="submitted && hasPhoneNumberError('phone', 'required')"
                class="alert-danger ms-md-3 ms-2 size16 redhat-semibold">{{ hasPhoneNumberError("email", "required")
                }}</span>
            </div>
            <div class="col-12">
              <div class="form-box-padding d-flex flex-column border border-1 rounded-3 text-capitalize">
                <label for="message" class="form-label gray-light-color m-0 size16 redhat-medium">Message</label>
                <textarea style="resize: none" id="message" class="border-0 outline-0 gray-color size18 redhat-semibold"
                  placeholder="Message" formControlName="message" name="message"></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="alert alert-success alert-dismissable mt-4" style="text-align: center" *ngIf="msg_success">
                {{ throw_msg }}
              </div>
              <button class="black-button size18 redhat-bold mt-xl-3 mt-lg-3 my-md-3 my-2 text-capitalize">
                send message
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- details -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-12 pad-left"  >
        <div class="border border-1 rounded-3 inner-padding">
          <h3 class="size24 redhat-bold text-capitalize margin12">
            contact details
          </h3>
          <p class="size18 redhat-semibold margin32 line-height30">
            Experience Luxury On The Move – Book Your Journey With Us Today.
          </p>
          <div class="d-flex gap-3 margin35">
            <img src="{{ imageURL }}/contact/location_pin.svg" alt="" class="social-icons flex-shrink-0" />
            <div class="w-100">
              <h5 class="size18 redhat-semibold text-capitalize m-0">
                address
              </h5>
              <p class="size16 redhat-semibold mb-0 para-width">
                GHOST RENTALS, No.40, MK Ghanim Warehouses, Al Quoz 3Rd, Dubai,
                U.A.E
              </p>
            </div>
          </div>
          <div class="d-flex gap-3 margin35">
            <img src="{{ imageURL }}/contact/email.png" alt="" class="social-icons flex-shrink-0" />
            <div class="">
              <h5 class="size18 redhat-semibold text-capitalize m-0">email</h5>
              <p class="size16 redhat-semibold m-0">
                ghostrentals&#64;gmail.com
              </p>
            </div>
          </div>
          <div class="d-flex gap-3 margin35">
            <img src="{{ imageURL }}/contact/phone.png" alt="" class="social-icons" />
            <div class="">
              <h5 class="size18 redhat-semibold text-capitalize m-0">phone</h5>
              <p class="size16 redhat-semibold m-0">+971 800 44678</p>
            </div>
          </div>

          <div class="socials">
            <h5 class="size18 redhat-semibold text-capitalize margin20">
              follow us
            </h5>
            <div class="icons d-flex gap-3">
              <img src="{{ imageURL }}/contact/facebook.png" alt="" class="social-icons" />
              <img src="{{ imageURL }}/contact/instagram.png" alt="" class="social-icons" />
              <img src="{{ imageURL }}/contact/telegram.png" alt="" class="social-icons" />
              <img src="{{ imageURL }}/contact/youtube.png" alt="" class="social-icons" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sectionPadding mapsTop"  >
  <div class="maps">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.400098298194!2d55.223214776052565!3d25.122160834734654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6bb7c49961e7%3A0x4b3661e383f4d582!2sGhost%20Rentals!5e0!3m2!1sen!2sin!4v1748495097567!5m2!1sen!2sin"
      width="100%" height="450" style="border: 0" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</section>
