.product {
  height: 100vh;
}

.bannerImage {
  @media screen and (max-width: 1280px) {
    object-position: center;
    transition: transform 0.3s ease-in-out;
  }
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transform: translateY(-50%);

  left: 200px;
  top: 50%;

  @media screen and (max-width: 2048px) {
    left: 200px;
    // top: 45%;
  }

  @media screen and (max-width: 1920px) {
    // top: 44%;
    left: 125px;
  }

  @media screen and (max-width: 1536px) {
    // top: 43.5%;
    left: 86px;
  }
  @media screen and (max-width: 1440px) {
    // top: 47%;
    left: 86px;
   } 

  @media screen and (max-width: 1280px) {
    // top: 47%;
    left: 85px;
  }
  @media screen and (max-width: 1024px) {
    // top: 47%;
    left: 40px;
  }
  @media screen and (max-width: 768px) {
    // top: 47%;
    left: 48px;
  }
  @media screen and (max-width: 430px) {
    // top: 47%;
    left: 0px;
    padding: 0px 20px;
  }
}

// .content {
//   width: 52%;
//   position: absolute;
//   transform: translateY(-50%);
//   top: 37%;
//   left: 8%;


//   @media (max-width: 2048px) {
//     top: 45.5%;
//     left: 10%;
//   }
//   @media screen and (max-width: 1920px) {
//     // top: 43%;
//       top: 44%;
//       left: 6.7%;
//     // left: 6.8%;
//     // width: 48%;
//   }

//   @media screen and (max-width: 1536px) {
//     top: 42%;
//     left: 5.9%;
//   }

//   @media screen and (max-width: 1440px) {
//     //  top: 42%;
//     //  left: 4.8%;
//     top: 45%;
//       left: 6%;
//   }

//   @media screen and (max-width: 1366px) {
//     top: 42.5%;
//     left: 7.8%;
//   }

//   @media (max-width: 1280px) {
//     left: 6.3%;
//     // padding: 0;
//   }

//   @media (max-width: 1024px) {
//     width: 100%;
//     left: 3.5%;
//     top: 34%;
//   }

//   @media (max-width: 768px) {
//     top: 30%;
//     left: 6%;
//   }

//   @media (max-width: 480px) {
//     padding: 0 15px;
//     left: 0;
//   }

//   // @media (max-width: 768px) {
//   //   top: 50%;
//   //   width: 100%;
//   //   left: 5%;
//   //   transform: translateY(-50%);
//   // }
// }

.hero-para {
  width: 576px;
  padding-left: 6px;

  @media (max-width:1920px) {
    width: 580px;
  }

  @media (max-width:991px) {
    width: 450px;
  }

  @media (max-width:480px) {
    width: 100%;
  }
}

.collection_image {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  object-fit: contain;

  @media screen and (max-width: 1536px) {
    width: 28px;
    height: 28px;
  }

  @media screen and (max-width: 1440px) {
    width: 25px;
    height: 25px;
  }

  @media screen and (max-width: 430px) {
    width: 32px;
    height: 32px;
  }
}

.swiper {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  position: relative;

  .swiper-wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
  }

  .swiper-slide {
    height: auto;
    display: flex;
    align-items: stretch;
  }
}

.car-swiper-button-prev,
.car-swiper-button-next,
.yacht-swiper-button-prev,
.yacht-swiper-button-next {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid black;
  transition: all 0.3s ease;

  &:hover {
    background: black;
    color: white;
  }

  &::after {
    display: none;
  }

  .swiper-button-icon {
    width: 24px;
    height: 24px;
    line-height: normal;
  }
}

.car-card {
  border: 1px solid #d1d1d1;
  height: 100%;
  display: flex;
  flex-direction: column;
  // width: 500px;
  width: 100%;
  border-radius: 15px;
  padding: 12px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  @media screen and (max-width: 768px) {
    padding: 10px;
  }

}

.card-content {
  padding: 16px 18px 0;

  @media screen and (max-width: 1920px) {
    padding: 12px 14px 0;
  }

  @media screen and (max-width: 1400px) {
    padding: 10px 12px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 8px 10px 0;
  }

  @media screen and (max-width: 430px) {
    padding: 16px 16px 12px;
  }
}

.pagination {
  list-style: none;
  padding-left: 0;
}

.circle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: transparent;
  transition: all 0.3s ease;
}

.circle-btn.filled {
  background-color: black;
  color: white;
  border: none;
}

.circle-btn:disabled {
  cursor: not-allowed;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.number-btn {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  padding: 0 10px;
  transition: 0.3s;
}

.number-btn.active-page {
  // font-weight: bold;
  color: black;
}


.sectionPadding {
  padding: 121px 116px 120px;

  @media screen and (max-width: 1440px) {
    padding: 100px 90px 0;
  }

  @media screen and (max-width: 1280px) {
    padding: 100px 55px 0;
  }

  @media screen and (max-width: 1200px) {
    padding: 90px 70px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 60px 2rem;
  }

  @media screen and (max-width: 480px) {
    padding: 60px 5px;
  }
}

// .down-arrow {
//   width: 20px;
//   height: auto;
//   position: absolute;
//   top: 50%;
//   right: 0;
//   background: #fff;
//   transform: translateY(-50%);
//   pointer-events: none;
//   cursor: pointer;
//   transition: transform 0.2s ease-in-out;
// }

.car-types-section {
  padding: 50px 197px 50px;

  @media screen and (max-width: 1536px) {
    padding: 50px 116px;
  }

  @media screen and (max-width: 1440px) {
    padding: 50px 116px;
  }

  @media screen and (max-width: 1200px) {
    padding: 50px 100px;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 50px;
  }

  @media screen and (max-width: 430px) {
    padding: 66px 20px;
  }

  @media screen and (max-width: 320px) {
    padding: 36px 20px;
  }

  .grid-category {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2rem;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }

    @media screen and (max-width: 430px) {
      column-gap: 1rem;
      row-gap: 1.5rem;
    }
  }

  .car-icon {
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .category-image {
    width: auto;
    height: auto;
    transform: scale(1.25);
    object-fit: contain;
    display: block;

    @media screen and (max-width: 1920px) {
      width: auto;
      height: auto;
      transform: scale(1);
    }

    @media screen and (max-width: 1680px) {
      width: 100%;
      height: 133px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
    }

    &:hover {
      transition: transform 0.3s ease;
      transform: translateX(5px) scale(1.01);
    }
  }

  .padding-between {
    padding-left: 18px;
    padding-right: 18px;
  }

  .type-margin {
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 100%;

    @media screen and (max-width: 1920px) {
      bottom: -1.5px;
    }

    @media screen and (max-width: 1024px) {
      // bottom: 18.5px;
      bottom: 7.5px;
    }

    @media screen and (max-width: 768px) {
      bottom: 3.5px;
    }

    @media screen and (max-width: 414px) {
      bottom: -3px;
    }
  }

  .gap {
    gap: 7rem;
    justify-content: center;

    @media screen and (max-width: 1920px) {
      gap: 3rem;
    }

    @media screen and (max-width: 1680px) {
      gap: 3rem;
    }

    @media screen and (max-width: 1536px) {
      gap: 2rem;
    }

    @media screen and (max-width: 1440px) {
      gap: 2rem;
    }

    @media screen and (max-width: 1200px) {
      gap: 1rem;
    }

    @media screen and (max-width: 768px) {
      gap: 0.5rem;
    }
  }

  p {
    font-size: 18px;

    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }


  .category-card {
    opacity: .8;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      opacity: 1;
    }
  }

  .activeCategory {
    transform: scale(1.1);
    opacity: 1;
  }

   
.hover-a {
  position: relative;
  display: inline-block;
  
  .hover-span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    opacity: 0;
    width: max-content;
    text-transform: uppercase;
    transition: all 0.6s ease;
  }

  &:hover {
    .hover-span {
      // top: -10%;
      top: 100%;
      opacity: 1;
    }
    .type-margin {
      z-index: -1;
      opacity: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      bottom: auto;
    }
  }
}
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.2);
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, #00000000 100%) 0% 0% no-repeat padding-box;
  border-radius: 20px;
  z-index: 1;
}

.car-card {
  .card-footer {
    border: 0;
    background-color: transparent;
    padding: 0px 18px 0;

    @media screen and (max-width: 1920px) {
      padding: 0px 14px 0;
    }

    @media screen and (max-width: 1400px) {
      padding: 0px 12px 0;
    }

    @media screen and (max-width: 768px) {
      padding: 0px 10px 0;
    }

    @media screen and (max-width: 430px) {
      padding: 0px 16px 12px;
    }
  }

  .card-header {
    border: 0;
    padding: 0;
    background-color: transparent;
  }

  .card-body {
    padding: 0;
  }
}

.sort{
  .down-arrow{
    width: 20px;
    height: auto;
    // position: absolute;
    // top: 50%;
    // right: 0;
    background: #fff;
    // transform: translateY(-50%);
    pointer-events: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    @media (max-width: 1366px) {
      width: 16px;
    }
  }
}



// sort dropdown

.dropdown-toggle{
	&::after{
		display: none;
	}
}

.dropdown-menu-custom{
	width: max-content;
	right: 0;
  z-index: 9;
}
.dropdown-item-custom{
	list-style: none;
	cursor: pointer;
	border-bottom: 1px solid #1d1d1d;

	&:last-child{
		border-bottom: none;
	}
	&:hover{
		background-color: #000;
		color: #fff;
	}
}