.product{
  height: 100vh;
}
.content {
  width: 654px;
  position: absolute;
  top: 32%;
  left: 6%;
  transform: translateY(-32%);
  @media (max-width: 1536px) {
    width: 702px;
  }
  @media (max-width: 768px) {
    top: 50%;
    width: 100%;
    left: 5%;
    transform: translateY(-50%);
  }
  .hero-para {
    width: 495px;
    line-height: 26px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}



.collection_image {
  width: 35px;
  height: 35px;
}
.swiper {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  position: relative;

  .swiper-wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
  }

  .swiper-slide {
    height: auto;
    display: flex;
    align-items: stretch;
  }
}
.car-swiper-button-prev,
.car-swiper-button-next,
.yacht-swiper-button-prev,
.yacht-swiper-button-next {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid black;
  transition: all 0.3s ease;

  &:hover {
    background: black;
    color: white;
  }
  &::after {
    display: none;
  }
  .swiper-button-icon {
    width: 24px;
    height: 24px;
  }
}
.car-card {
  border: 1px solid #d1d1d1;
  height: 100%;
  display: flex;
  flex-direction: column;
  // width: 500px;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .thumbnail-image {
    padding: 12px 12px 0px 12px;

    @media screen and (max-width: 1920px) {
      padding: 12px 12px 0px 12px;
    }
    @media screen and (max-width: 1400px) {
      padding: 10px 10px 0px 10px;
    }
    @media screen and (max-width: 1200px) {
      padding: 10px 10px 0px 10px;
    }
    @media screen and (max-width: 1024px) {
      padding: 10px 10px 0px 10px;
    }
    @media screen and (max-width: 768px) {
      padding: 8px 8px 0px 8px;
    }
  }
}
.card-content {
  padding: 26px;

  @media screen and (max-width: 1920px) {
    padding: 12px;
  }
  @media screen and (max-width: 1400px) {
    padding: 10px;
  }
  @media screen and (max-width: 1200px) {
    padding: 10px;
  }
  @media screen and (max-width: 1024px) {
    padding: 10px;
  }
  @media screen and (max-width: 768px) {
    padding: 8px;
  }
}

.pagination {
  list-style: none;
  padding-left: 0;
}

.circle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: transparent;
  transition: all 0.3s ease;
}

.circle-btn.filled {
  background-color: black;
  color: white;
  border: none;
}

.circle-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.number-btn {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  padding: 0 10px;
  transition: 0.3s;
}

.number-btn.active-page {
  font-weight: bold;
  color: black;
}


.sectionPadding{
  @media screen and (max-width: 1024px){
    padding: 100px 60px;
  }
  @media screen and (max-width: 768px){
    padding: 3rem 10px;
  }
}