<section class="sectionPadding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-11">
        <h1 class="size90 performa-light text-capitalize heading-width gray-color">
          Terms and Conditions
        </h1>
        <p class="size18 redhat-medium gray-color">Welcome to Ghost Rentals LLC! To ensure a smooth and enjoyable car rental experience, we’ve outlined our
          terms and conditions in a clear and easy-to-understand format. Please read them carefully before renting a
          vehicle.</p>
      </div>
      <div class="col-11">
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            Car Delivery And Pickup
          </h2>
          <ul class="size18 redhat-medium gray-color">
            <li>Vehicle Condition: The car will be delivered to you in excellent condition, free of visible defects or
              damage, except for those noted in the provided inspection diagram.</li>
            <li>Return Policy: The vehicle must be returned to Ghost Rentals in the same condition as it was delivered.
            </li>
          </ul>
        </div>
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">Terms Of Use</h2>
          <p class="size18 redhat-bold gray-color">
            As a renter, you agree to the following terms:
          </p>
          <ol class="size18 redhat-bold" style="color: #1D1D1F">
            <li class="size18 redhat-medium gray-color">
              Authorized Drivers Only: Only individuals listed in the rental contract are permitted to drive the
              vehicle.
            </li>
            <li class="size18 redhat-medium gray-color">
              Prohibited Activities: The car must not be driven off-road, used for speed racing, rallying, or any other
              unauthorized activities.
            </li>
            <li class="size18 redhat-medium gray-color">
              Vehicle Maintenance: You are responsible for conducting periodic inspections of the car and must inform
              Ghost Rentals of any issues. Failure to report problems and continuing to drive the car may result in
              liability for damages.
            </li>
            <li class="size18 redhat-medium gray-color">
              Prohibited Goods: The car must not be used to transport illegal or prohibited items, such as alcohol or
              drugs.
            </li>
          </ol>
        </div>
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            Insurance Exclusions
          </h2>
          <p class="size18 redhat-bold gray-color">
            Insurance coverage will not apply in the following situations:
          </p>
          <ul class="size18 redhat-medium gray-color">
            <li>If the driver is under the influence of alcohol or drugs at the time of an accident.</li>
            <li>If the car is rented to another party without written consent from Ghost Rentals.</li>
            <li>If the driver does not hold a valid driver’s license.</li>
          </ul>
          <p class="size18 redhat-medium gray-color">In these cases, the renter will be fully responsible for all
            damages to the vehicle. Additionally, renters must comply with all traffic laws.
          </p>
        </div>

        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            Expenses
          </h2>
          <p class="size18 redhat-bold gray-color">
            The following charges and fees apply:
          </p>
          <ul class="size18 redhat-medium gray-color">
            <li>Rental Charges: Time and mileage fees are calculated based on the applicable tariff at the time of
              rental.</li>
            <li>Additional Fees: This includes traffic violations, Salik toll charges, vehicle delivery fees, and any
              other applicable expenses.</li>
            <li>Fuel Policy: The car will be delivered with a full fuel tank and must be returned in the same condition.
            </li>
            <li>Payment Authorization: By signing the rental agreement, you authorize Ghost Rentals to deduct all
              related expenses from your credit card, including charges incurred during and after the rental period.
            </li>
          </ul>
        </div>

        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            Accidents & Thefts
          </h2>
          <ul class="size18 redhat-medium gray-color">
            <li>Accidents: In the event of an accident or injury, you must immediately inform the police and have them inspect the accident site.</li>
            <li>Theft: If the vehicle or any part of it is stolen, notify the police immediately.</li>
            <li>Repairs: No repairs should be made to the vehicle without prior written consent from Ghost Rentals.</li>
          </ul>
        </div>
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">Insurance Coverage</h2>
          <p class="size18 redhat-medium gray-color">
            Ghost Rentals provides insurance exclusively for licensed drivers listed in the rental agreement. The insurance policy complies with UAE car accident regulations and is available upon request.
          </p>
        </div>
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            Booking Modifications and Cancellations
          </h2>
          <p class="size18 redhat-medium gray-color">
            You can modify or cancel your booking free of charge up to 48 hours before the rental start date.
          </p>
        </div>
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            Security Deposit
          </h2>
          <ul class="size18 redhat-medium gray-color">
            <li>Deposit Amount: A refundable security deposit of AED 1,500 is required at the time of car pickup. This must be paid via credit card.</li>
            <li>Refund Timeline: The deposit will be refunded within 21 to 30 days after the car is returned.</li>
          </ul>
        </div>
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            Required Identification
          </h2>
          <p class="size18 redhat-bold gray-color">
            To rent a car, you must provide the following documents:
          </p>
          <ul class="size18 redhat-medium gray-color">
            <li>A copy of your passport.</li>
            <li>A valid driver’s license.</li>
            <li>An international driving license (for non-Gulf citizens).</li>
          </ul>
        </div>
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">Payment Policy</h2>
          <ul class="size18 redhat-medium gray-color">
            <li>Accepted Payment Methods: Only credit cards are accepted. Prepaid or debit cards are not allowed.</li>
            <li>Card Ownership: The credit card used for payment must belong to the renter and must be presented at the time of vehicle pickup or delivery.</li>
          </ul>
        </div>
        <div class="">
          <h2 class="size18 redhat-medium gray-color">By renting a vehicle from Ghost Rentals LLC, you agree to abide by these terms and conditions. If you have any questions or need further clarification, feel free to contact us at info&#64;ghostrentals.ae. Safe travels!</h2>
        </div>
      </div>
    </div>
  </div>
</section>