<section class="sectionPadding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="size90 performa-light text-capitalize heading-width gray-color"   >
          Terms and Conditions of Use Ghost Rentals LLC
        </h1>
      </div>
      <div class="col-11">
        <div class="border-bottom border-2"  >
          <h2 class="size55 performa-light text-capitalize gray-color">
            Car Delivery And Pickup
          </h2>
          <p class="size18 redhat-medium gray-color">
            The vehicle is delivered to the renter in good condition, without
            any visible defects or blemishes, except for those shown in the
            diagram. The vehicle must be returned to the lessor.
          </p>
        </div>
        <div class="border-bottom border-2" >
          <h2 class="size55 performa-light text-capitalize gray-color">Terms Of Use</h2>
          <p class="size18 redhat-bold gray-color">
            The Hirer Undertakes And Warrants That:
          </p>
          <ol class="size18 redhat-bold" style="color: #1D1D1F">
            <li class="size18 redhat-medium gray-color">
              It is not permitted to drive a car, except by the persons whose
              names are registered in the rental contract.
            </li>
            <li class="size18 redhat-medium gray-color">
              The renter is not entitled to drive the car off-road or use it for
              speed racing, rallying, or any other activity.
            </li>
            <li class="size18 redhat-medium gray-color">
              The lessee undertakes to conduct periodic inspections, and to
              inform the lessor of any problems, and the lessee shall bear
              responsibility for the damages resulting from failure to inform
              the lessor of problems and to continue driving the car.
            </li>
            <li class="size18 redhat-medium gray-color">
              It is not allowed to use the car to transport prohibited goods
              (alcohol, drugs, etc.).
            </li>
          </ol>
        </div>
        <div class="border-bottom border-2"  >
          <h2 class="size55 performa-light text-capitalize gray-color">
            The Insurance Does Not Apply In The Following Cases
          </h2>
          <p class="size18 redhat-medium gray-color">
            If the hirer or the driver during the rental period rents the car
            without the written consent of the lessor, if the hirer Driving
            under the influence of alcohol or drugs at the time of the accident,
            if the driver is not licensed to drive the vehicle. ln such cases,
            the hirer is responsible for all damages caused to the car, The
            tenant must comply with all traffic laws.
          </p>
        </div>

        <div class="border-bottom border-2"  >
          <h2 class="size55 performa-light text-capitalize gray-color">
            Liability In The Event Of Loss Or Damage To The Vehicle
          </h2>
          <p class="size18 redhat-medium gray-color">
            The renter is responsible for any damages to the car, or the loss of
            any of its parts. A police report on the accident must be presented
            in all cases.
          </p>
        </div>

        <div class="border-bottom border-2"  >
          <h2 class="size55 performa-light text-capitalize gray-color">Expenses</h2>
          <ol class="size18 redhat-bold" style="color: #1D1D1F">
            <li class="size18 redhat-medium gray-color">
              Time and kilometer charges calculated according to the tariff
              applicable at the time of rental.
            </li>
            <li class="size18 redhat-medium gray-color">
              Violations and payment fees, Salik tariffs and payment fees,
              vehicle delivery fees and any other expenses.
            </li>
            <li class="size18 redhat-medium gray-color">
              The fuel tank is full and must be returned as it was at the time
              of delivery.
            </li>
            <li class="size18 redhat-medium gray-color">
              The hirer agrees to deduct all costs incurred, from his credit
              card account under this contract, The hirer's signature is
              considered an agreement to withdraw all expenses related to
              renting the car and during the rental period thereafter also from
              the said credit card.
            </li>
          </ol>
        </div>

        <div class="border-bottom border-2"  >
          <h2 class="size55 performa-light text-capitalize gray-color">
            Accidents & Thefts
          </h2>
          <p class="size18 redhat-medium gray-color">
            In the event that the car was involved in an accident or there were
            injuries, the police must be informed to come to the accident site
            and inspect it. If the vehicle or any part of it is stolen, the
            police must be notified immediately. The lessee must not make any
            repairs to the car without approval the prior consent of the lessor.
          </p>
        </div>
        <div class="border-bottom border-2"  >
          <h2 class="size55 performa-light text-capitalize gray-color">Insurance</h2>
          <p class="size18 redhat-medium gray-color">
            The lessor provides insurance for persons who are licensed to drive
            the car (exclusively) in accordance with the insurance policy for
            car accidents in the United Arab Emirates, which can be obtained
            upon request.
          </p>
        </div>
        <div class="border-bottom border-2"  >
          <h2 class="size55 performa-light text-capitalize gray-color">
            Amending Or Canceling A Booking
          </h2>
          <p class="size18 redhat-medium gray-color">
            The booking can be modified or canceled without any additional cost
            within a maximum period of 48 hours prior to the start date of the
            rental.
          </p>
        </div>
        <div class="border-bottom border-2"  >
          <h2 class="size55 performa-light text-capitalize gray-color">
            Security Deposit Amount
          </h2>
          <p class="size18 redhat-medium gray-color">
            The hirer must deposit a security deposit during the rental period
            and the security amount is 1500 dirhams. This amount must be paid
            upon receipt of the car by credit card, and the amount will be
            returned after receiving the car within 21 and 30 days.
          </p>
        </div>
        <div class="border-bottom border-2"  >
          <h2 class="size55 performa-light text-capitalize gray-color">
            Identification Sheets
          </h2>
          <p class="size18 redhat-medium gray-color">
            The hirer must present the following documents to identify him when
            booking any car, a copy of the passport, driver's license,
            international driving license (non-Gul citizens).
          </p>
        </div>
        <div>
          <h2 class="size55 performa-light text-capitalize gray-color">Payment Policy</h2>
          <p class="size18 redhat-medium gray-color">
            Credit cards are the only method of payment. Prepaid cards or debit
            cards are not accepted. The hirer must be the owner of the credit
            card whose number is mentioned in the contract and must be present
            when the vehicle is received or delivered.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
