.sectionPadding {
  padding: 9rem 12rem 12rem;
  @media screen and (max-width: 1536px) {
    padding: 9rem 11rem 9rem;
  }
  @media screen and (max-width: 1200px) {
    padding: 9rem 10rem 9rem;
  }
  @media screen and (max-width: 768px) {
    padding: 6rem 5rem 6rem;
  }
  @media screen and (max-width: 430px) {
    padding: 90px 10px 50px;
  }
}
h1{
  margin-bottom: 3rem;
  @media screen and (max-width: 1536px) {
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 1440px) {
    margin-bottom: 1.8rem;
  }
  @media screen and (max-width: 430px) {
    margin-bottom: 1rem;
  }
}
h2{
  margin: 2.6rem 0;
  @media screen and (max-width: 1536px) {
    margin: 2rem 0;
  }
  @media screen and (max-width: 1440px) {
    margin: 1.8rem 0;
  }
  @media screen and (max-width: 430px) {
    margin: 1rem 0;
  }
}
p{
  margin-bottom: 2.6rem;
  @media screen and (max-width: 1536px) {
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 1440px) {
    margin-bottom: 1.8rem;
  }
  @media screen and (max-width: 430px) {
    margin-bottom: 1rem;
  }
}