<section class="about sectionPadding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8 pad-left mb-xl-5 mb-md-4 mb-2">
        <div class="about-content1">
          <h3 class="size22 redhat-semibold text-uppercase">
            about ghost rentals
          </h3>
          <h1 class="size80 performa-thin text-capitalize banner-content">
            Driven By Luxury Fueled By Experience
          </h1>
        </div>
      </div>
      <div class="col-12 col-lg-9 col-xl-4 mb-xl-5 mb-md-4 mb-2">
        <div class="about-content2">
          <p class="size20 redhat-regular mt-auto mb-3 mb-0">
            Ghost Rentals delivers luxury car, yacht, and chauffeur services in Dubai and across the UAE.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-12">
        <img
          src="{{ imageURL }}/about/about_cars.png"
          alt=""
          class="h-100 rounded-4"
        />
      </div>
      <div class="col-xl-4 col-lg-12">
        <img
          src="{{ imageURL }}/about/company_picture.png"
          alt=""
          class="about-image2 h-100 rounded-4"
        />
      </div>
    </div>
  </div>
</section>

<app-brands
  title="Pick Your Premium Ride From Top Brands"
  titleClass="text-center size22 redhat-bold text-capitalize mb-5"
  buttonTitle="view all"
></app-brands>

<section class="story">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xxl-5 col-xl-5 col-lg-9">
        <div
          class="story-content d-flex flex-column justify-content-center h-100"
        >
          <h4 class="text-uppercase size18 redhat-semibold">our story</h4>
          <h2 class="size60 performa-light text-capitalize">how we began</h2>
          <p class="size18 redhat-semibold my-4">
            A team of luxury enthusiasts and hospitality experts founded Ghost Rentals with the aim to provide the highest quality service with the most premium vehicles in the market to our customers.
          </p>
          <p class="size18 redhat-semibold mt-2">
            We started as a boutique car rental and soon grew into a trusted provider of premium yacht charters and chauffeured experiences. Our team has ensured that Ghost Rentals becomes synonymous with reliability, discretion and obsession for customer satisfaction. As Dubai's leading luxury car and yacht rental service provider, we create memorable experiences with a focus on luxury and personalization.
          </p>
        </div>
      </div>
      <div class="col-xxl-7 col-xl-7 col-lg-12 p-0 overflow-hidden">
        <img src="{{ imageURL }}/about/rr.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container-fluid mt-5">
    <h3 class="text-center margin54 size60 performa-light gray-color line-height90">
      Why Should You Rent With Us?
    </h3>
    <div class="row justify-content-around gap-xl-0 gap-md-3 gap-3 mt-xl-3 mt-2">
      <div
        class="col-xl-3 col-md-6 col-9 mb-md-4 mb-2 "
        *ngFor="let feature of features"
      >
        <img
          [src]="imageURL + '/' + feature.image"
          [alt]="feature.title"
          class="feature-icon d-flex mx-auto margin54"
        />
        <h4
          class="size26 redhat-semibold black-color text-center margin12"
        >
          {{ feature.title }}
        </h4>
        <p class="size18 redhat-semibold black-color text-center line-height30">
          {{ feature.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="signature position-relative">
  <div class="position-absolute top-0 start-0 h-100 w-100">
    <img
      src="{{ imageURL }}/home/services/services1.png"
      alt=""
      class="h-100 rounded-4 signature-image"
    />
    <span class="overlay"></span>
  </div>

  <div class="container-fluid position-relative h-100">
    <div class="row h-100">
      <div class="col-xl-8 col-lg-8" style="border-right: 1px solid #f3f3f359">
        <div class="row h-100">
          <div class="col-xl-12">
            <div class="row h-100">
              <div class="col-xl-6 col-lg-11 col-6 signature-padding">
                <h2
                  class="size60 performa-light text-capitalize white-color margin26"
                >
                  Our Signature Services
                </h2>
                <p
                  class="size18 redhat-regular white-color line-height30 d-lg-none d-block para-width mb-2 m-md-0"
                >
                Welcome to Ghost Rentals, where every journey becomes a statement! We offer tailored luxury services for supercar rentals, yachts, & chauffeur services in UAE.
                </p>
              </div>
              <div
                class="col-xl-6 col-lg-9 col-6 d-lg-none d-block signature2-padding"
                style="border-left: 1px solid #f3f3f359"
              >
                <div class="table-para-width">
                  <h4
                    class="size32 performa-light text-capitalize white-color heading-width margin10"
                  >
                    Luxury Chauffeur Services
                  </h4>
                  <p
                    class="size18 redhat-regular white-color para-width line-height30 margin41"
                  >
                  At Ghost Rentals, we excel at luxury travel. Our top-notch luxury chauffeur services in Dubai provide unparalleled elegance for every trip.
                  </p>
                  <button class="white-button size18 redhat-bold">
                    Hire A Chauffeur
                  </button>
                </div>
              </div>
              <div
                class="col-xl-6 col-lg-9 col-6 d-lg-block d-none signature-padding"
              >
                <p
                  class="size18 redhat-regular white-color line-height30 mb-2 m-md-0"
                >
                Welcome to Ghost Rentals, where every journey becomes a statement! We offer customized luxury services for supercar rentals, private yachts, and white-glove chauffeur services across the UAE.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-12" style="border-top: 1px solid #f3f3f359">
            <div class="row h-100">
              <div
                class="col-xl-6 col-lg-6 col-6 signature3-padding d-flex"
                style="border-right: 1px solid #f3f3f359"
              >
                <div
                  class="table-car-width d-flex justify-content-between align-items-start flex-column"
                >
                  <h4 class="size26 redhat-semibold white-color text-capitalize margin10">
                    Luxury Car Rental services
                  </h4>
                  <p
                    class="size18 redhat-regular white-color line-height30 margin41"
                  >
                  Find the best luxury car rentals in Dubai with Ghost Rentals. Choose Rolls-Royce, Lamborghini & Range Rover with free UAE delivery.
                  </p>
                  <button class="white-button size18 redhat-bold">
                    Explore Cars
                  </button>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-6 signature4-padding d-flex">
                <div
                  class="table-yacht-width d-flex justify-content-between align-items-start flex-column"
                >
                  <h4 class="size26 redhat-semibold white-color text-capitalize margin10">
                    Luxury Yacht Rental services
                  </h4>
                  <p
                    class="size18 redhat-regular white-color line-height30 margin41"
                  >
                  Sail by Dubai's famous landmarks such as Palm Jumeirah, Burj Al Arab, and Atlantis on our crewed and catered luxury yachts.
                  </p>
                  <button class="white-button size18 redhat-bold">
                    Explore Yachts
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 signature5-padding d-lg-block d-none">
        <div class="row h-100">
          <div class="col-xl-12 col-lg-12">
            <div class="table-para-width">
              <h4
                class="size32 performa-light text-capitalize white-color heading-width margin26"
              >
                Luxury Chauffeur Services
              </h4>
              <p
                class="size18 redhat-regular white-color para-width line-height30"
              >
              At Ghost Rentals, we excel at luxury travel. Our top-notch luxury chauffeur services in Dubai provide unparalleled elegance for every trip.
              </p>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 mt-auto">
            <button class="white-button size18 redhat-bold">
              Hire A Chauffeur
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-vip-number-plate></app-vip-number-plate>

<app-testimonials></app-testimonials>
