<section class="about sectionPadding">
  <div class="container-fluid">
    <div class="about-content1">
      <div class="row mb-5">
        <div class="col-12 col-lg-8">
          <h3 class="size22 redhat-semibold text-uppercase">
            about ghost rentals
          </h3>
          <h1 class="size60 performa-thin text-capitalize">
            Driven By Luxury. <br />
            Defined By Experience.
          </h1>
        </div>
        <div class="col-12 col-lg-9 col-xl-4">
          <div class="about-content2">
            <p class="size20 redhat-regular mt-auto mb-0">
              GhostRental.ae is your premier destination for luxury car, yacht,
              and chauffeur services in the UAE.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-8 col-lg-12">
          <img
            src="{{ imageURL }}/about/about_cars.png"
            alt=""
            class="h-100 rounded-4"
          />
        </div>
        <div class="col-xl-4 col-lg-12">
          <img
            src="{{ imageURL }}/about/company_picture.png"
            alt=""
            class="about-image2 h-100 rounded-4"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<app-brands
  title="Premium Car Rentals From Top Brands"
  titleClass="text-center size22 redhat-bold text-capitalize mb-5"
  buttonTitle="view all"
></app-brands>

<section class="story overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-xl-5">
        <div
          class="story-content d-flex flex-column justify-content-center h-100"
        >
          <h4 class="text-uppercase size18 redhat-semibold">our story</h4>
          <h2 class="size60 performa-light text-capitalize">how we began</h2>
          <p class="size18 redhat-semibold my-4">
            Founded in Dubai by a team of luxury enthusiasts and hospitality
            experts, GhostRental.ae was born out of a simple idea: to bring
            together world-class service with world-class vehicles.
          </p>
          <p class="size18 redhat-semibold mt-2">
            What started as a boutique car rental firm quickly expanded into
            premium yacht charters and chauffeured experiences. Our reputation
            was built on punctuality, discretion, and an obsession with customer
            satisfaction. Today, we proudly serve UAE residents, tourists,
            influencers, celebrities, and corporate clients from around the
            world.
          </p>
        </div>
      </div>
      <div class="col-lg-12 col-xl-7 p-lg-0">
        <img
          src="{{ imageURL }}/about/rolls_royce.png"
          alt=""
          class="story-image"
        />
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container-fluid mt-5">
    <h3 class="text-center my-5 size60 performa-light gray-color line-height90">
      What Sets Us Apart?
    </h3>
    <div class="row justify-content-center gap-xl-5 gap-md-3">
      <div
        class="col-xl-2 col-md-4 col-9 mb-md-4 mb-2"
        *ngFor="let feature of features"
      >
        <img
          [src]="imageURL + '/' + feature.image"
          [alt]="feature.title"
          class="feature-icon d-flex mx-auto mb-xl-5 mb-md-3 mb-2"
        />
        <h4
          class="size26 redhat-semibold black-color text-center mb-xl-3 mb-md-2 mb-1"
        >
          {{ feature.title }}
        </h4>
        <p class="size18 redhat-semibold black-color text-center">
          {{ feature.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="signature position-relative">
  <div class="img-container position-absolute top-0 start-0 h-100 w-100">
    <img
      src="{{ imageURL }}/home/services/services1.png"
      alt=""
      class="h-100 rounded-4"
    />
    <span class="overlay"></span>
  </div>

  <div class="container-fluid position-relative h-100">
    <div class="row h-100">
      <div class="col-xl-8 col-lg-8 border-end white-border-color">
        <div class="row h-100">
          <div class="col-xl-12 p-xl-5 p-lg-4 p-3">
            <div class="row h-100">
              <div class="col-xl-6 col-lg-11 col-6 mb-lg-4">
                <h1 class="size60 performa-light text-capitalize white-color">
                  Our Signature Services
                </h1>
                <p
                  class="size18 redhat-regular white-color line-height30 d-lg-none d-block"
                >
                  From high-performance supercars to private yacht escapes and
                  elite chauffeur experiences — we offer tailored luxury
                  services that redefine travel in the UAE.
                </p>
              </div>
              <div class="col-xl-6 col-lg-9 col-6 d-lg-none d-block">
                <div class="table-para-width">
                  <h4
                    class="size32 performa-light text-capitalize white-color heading-width"
                  >
                    Luxury Chauffeur Services
                  </h4>
                  <p
                    class="size18 redhat-regular white-color para-width line-height30"
                  >
                    Professional chauffeurs, luxury cars, and on-time service
                    for VIPs, weddings, or airport transfers.
                  </p>
                  <button class="white-button size18 redhat-bold">
                    Hire A Chauffeur
                  </button>
                </div>
              </div>
              <div class="col-xl-6 col-lg-9 col-6 d-lg-block d-none">
                <p class="size18 redhat-regular white-color line-height30">
                  From high-performance supercars to private yacht escapes and
                  elite chauffeur experiences — we offer tailored luxury
                  services that redefine travel in the UAE.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-12 border-top white-border-color">
            <div class="row h-100">
              <div
                class="col-xl-6 col-lg-6 col-6 p-xl-5 p-lg-4 p-3 border-end white-border-color d-flex"
              >
                <div
                  class="table-car-width d-flex justify-content-between align-items-start flex-column"
                >
                  <h4 class="size26 redhat-semibold white-color mb-2">
                    Luxury Car Rental
                  </h4>
                  <p
                    class="size18 redhat-regular white-color mb-4 line-height30"
                  >
                    Choose from top brands like Lamborghini, Rolls-Royce, and
                    Range Rover. Enjoy daily or long-term rentals with free
                    delivery across the UAE.
                  </p>
                  <button class="white-button size18 redhat-bold">
                    Explore Cars
                  </button>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-6 p-xl-5 p-lg-4 p-3 d-flex">
                <div
                  class="table-yacht-width d-flex justify-content-between align-items-start flex-column"
                >
                  <h4 class="size26 redhat-semibold white-color mb-2">
                    Luxury Yacht Rental
                  </h4>
                  <p
                    class="size18 redhat-regular white-color mb-4 line-height30"
                  >
                    Book private yachts for parties, getaways, or events.
                    Includes crew, catering options, and scenic routes like
                    Marina & Atlantis.
                  </p>
                  <button class="white-button size18 redhat-bold">
                    Explore Yachts
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 p-xl-5 p-lg-4 d-lg-block d-none">
        <div class="row h-100">
          <div class="col-xl-12 col-lg-12 p-lg-0">
            <div class="table-para-width">
              <h4
                class="size32 performa-light text-capitalize white-color heading-width"
              >
                Luxury Chauffeur Services
              </h4>
              <p
                class="size18 redhat-regular white-color para-width line-height30"
              >
                Professional chauffeurs, luxury cars, and on-time service for
                VIPs, weddings, or airport transfers.
              </p>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 mt-auto">
            <button class="white-button size18 redhat-bold">
              Hire A Chauffeur
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-testimonials></app-testimonials>
