.services {
  height: 100vh;
  .content {
    position: absolute;
    transform: translateY(-50%);
    top: 36%;
    left: 8%;

    @media (max-width: 1920px) {
      top: 43%;
      left: 6.5%;
    }

    @media (max-width: 1536px) {
      top: 42%;
      left: 5.9%;
    }

    @media (max-width: 1440px) {
      top: 41%;
    }

    @media (max-width: 1366px) {
      top: 43.5%;
      left: 7.8%;
    }

    @media (max-width: 1280px) {
      top: 44%;
      left: 6.3%;
    }

    @media (max-width: 1024px) {
      top: 35%;
      left: 4%;
    }
    @media (max-width: 768px) {
      top: 30%;
        left: 6%;
    }

    @media (max-width: 430px) {
      top: 47%;
    }

    .heading-width {
      width: 100%;

      @media (max-width: 1920px) {
        width: 100%;
      }

      @media (max-width: 1600px) {
        width: 100%;
      }

      // @media (max-width: 1536px) {
      //   width: 59%;
      // }

      // @media (max-width: 1440px) {
      //   width: 67%;
      // }

      // @media (max-width: 1280px) {
      //   width: 72%;
      // }

      // @media (max-width: 1024px) {
      //   width: 69%;
      // }
      // @media (max-width: 768px) {
      //   width: 93%;
      // }
    }

    p {
      width: 480px;
    padding-left: 8px;

      @media (max-width: 1920px) {
        width: 480px;
      }
 @media (max-width: 1600px) {
        width: 380px;
      }
      // @media (max-width: 1536px) {
      //   width: 33%;
      //   padding-left: 5px;
      // }

      // @media (max-width: 1440px) {
      //   width: 35%;
      // }
      // @media (max-width: 1366px) {
      //   width: 36%;
      // }

      @media (max-width: 1280px) {
        // width: 36%;
        padding-left: 3px;
      }

      // @media (max-width: 1024px) {
      //   width: 44%;
      // }

      // @media (max-width: 768px) {
      //   width: 62%;
      // }

      @media (max-width: 430px) {
        width: 100%;
      }
    }
  }
}

.sectionPadding {
  // padding: 9.4rem 0 0 0;
  padding: 12rem 0 0 0;

  @media screen and (max-width: 1280px) {
    padding: 11rem 0 0 0;
  }

  @media screen and (max-width: 1024px) {
    // padding: 8rem 0 0 0;
    padding: 12rem 0 0 0;
  }

  @media screen and (max-width: 430px) {
    padding: 8rem 0 0 0;
  }
}

.banner-left {
  height: 100%;
  padding-left: 28px;

  @media screen and (max-width: 1280px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 430px) {
    padding-left: 15px;
    padding-right: 15px;
  }

}

.banner-right {
  padding-right: 28px;
height: 100%;
  @media screen and (max-width: 1280px) {
    padding-right: 12px;
  }

}

.banner-content {
  width: 993px;

  @media screen and (max-width: 1680px) {
    width: 580px;
  }

  // @media screen and (max-width: 1536px) {
  //   // width: 93%;
  //   width: 62%;
  // }

  // @media screen and (max-width: 1440px) {
  //   // width: 100%;
  //   width: 68%;
  // }

  // @media screen and (max-width: 1366px) {
  //   // width: 100%;
  //   width: 71%;
  // }

  // @media screen and (max-width: 1280px) {
  //   width: 76%;
  // }

  @media screen and (max-width: 1024px) {
    width: 77%;
  }

  @media screen and (max-width: 820px) {
    width: 81%;
  }

  @media screen and (max-width: 768px) {
    width: 84%;
  }

  @media screen and (max-width: 610px) {
    width: 84%;
  }

  @media screen and (max-width: 430px) {
    width: 100%;
  }
}
.about-content1{
  padding-top:5rem;
  @media(max-width:1920px){
    padding-top:1.5rem;
  }
  @media(max-width:1199px){
    padding-top:0;
  }
}

.about-content2 {
  width: 63%;
  height: 100%;
  display: flex;
  
  @media screen and (max-width: 1920px) {
    width: 82%;
  }

  @media screen and (max-width: 1536px) {
    width: 93%;
  }

  @media screen and (max-width: 1440px) {
    width: 100%;
    padding-left: .8rem;
  }

  @media screen and (max-width: 1280px) {
    width: 100%;
    padding-left: 0rem;
  }

  @media screen and (max-width: 1024px) {
    padding-left: 80px;
    width: 62%;
  }

  @media screen and (max-width: 800px) {
    width: 60%;
  }

  @media screen and (max-width: 768px) {
    width: 59%;
    padding-left: 57px;
  }
  @media screen and (max-width: 610px) {
    width: 69%;
    padding-left: 57px;
  }

  @media screen and (max-width: 430px) {
    width: 100%;
    padding-left: 1.1rem;
  }

  @media screen and (max-width: 384px) {
    width: 100%;
    padding-left: .9rem;
  }
}

.about-image-container {
  height: 667px;

  @media screen and (max-width: 1200px) {
    height: max-content;
  }
}

.pad-left {
  padding-left: 8rem;
  @media screen and (max-width: 1920px) {
    padding-left: 6rem;
  }
  @media screen and (max-width: 1600px) {
    padding-left: 5rem;
  }
  @media screen and (max-width: 1200px) {
    padding-left: 2rem;
  }

  @media screen and (max-width: 1024px) {
    padding-left: 88px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 66px;
  }

  @media screen and (max-width: 430px) {
    padding-left: 30px;
  }

  @media screen and (max-width: 384px) {
    padding-left: 25px;
  }
}

.signature-padding {
  // padding: 23px 40px 177px 42px;
  padding:80px 221px 177px 52px;

  @media screen and (max-width: 1920px) {
    padding: 42px 48px 130px 34px;
  }

  @media screen and (max-width: 1536px) {
    padding: 42px 30px 30px 30px;
  }

  @media screen and (max-width: 1440px) {
    padding: 25px 8px 25px 20px;
  }

  @media screen and (max-width: 1200px) {
    padding: 42px 40px 25px 34px;
  }
  @media screen and (max-width: 820px) {
    padding: 23px 40px 25px 20px;
  }

  @media screen and (max-width: 430px) {
    padding: 12px 12px 30px;
  }
}

.signature2-padding {
  padding: 80px 50px;

  @media screen and (max-width: 1920px) {
    padding: 23px 40px;
  }

  @media screen and (max-width: 1536px) {
    padding: 23px 32px;
  }

  @media screen and (max-width: 1440px) {
    padding: 23px 20px;
  }

  @media screen and (max-width: 430px) {
    padding: 12px 12px 30px;
  }
}

.signature3-padding,
.signature4-padding,
.signature5-padding {
  padding: 80px 50px;

  @media screen and (max-width: 1920px) {
    padding: 40px 38px;
  }

  @media screen and (max-width: 1536px) {
    padding: 32px 30px;
  }

  @media screen and (max-width: 1440px) {
    padding: 25px 20px;
  }

  @media screen and (max-width: 430px) {
    padding: 12px 12px 30px;
  }
}

.about-banner {
   height: 667px;
  overflow: hidden;
  @media(max-width:1600px){
    height: 490px;
  }
  @media screen and (max-width: 1200px) {
    height: 538px;
  }

  @media screen and (max-width: 430px) {
    height: 481px;
  }
}

.features {
  padding: 4rem 24rem;

  @media screen and (max-width: 1920px) {
    padding: 4rem 10rem;
  }

  @media screen and (max-width: 1600px) {
    padding: 4rem 7rem;
  }

  @media screen and (max-width: 1536px) {
    padding: 4rem;
  }

  @media screen and (max-width: 1366px) {
    padding: 4rem 37px;
  }

  @media screen and (max-width: 1280px) {
    padding: 4rem;
  }

  @media screen and (max-width: 1024px) {
    padding: 3rem 100px;
  }

  @media screen and (max-width: 768px) {
    padding: 3rem 80px;
  }

  @media screen and (max-width: 430px) {
    padding: 2rem 10px;
  }

  .size18 {
    font-size: 18px;

    @media screen and (max-width: 1536px) {
      font-size: 16px;
    }
    @media screen and (max-width: 1280px) {
      font-size: 14px;
    }
  }
}

.feature-icon {
  width: 64px;
  height: 64px;
  object-fit: contain;
  filter: brightness(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.story {
  padding: 0rem 0 6rem 16.5rem;

  @media screen and (max-width: 1920px) {
    padding: 0rem 0 6rem 16.3rem;
  }

  @media screen and (max-width: 1536px) {
    padding: 0rem 0 6rem 10.5rem;
  }

  @media screen and (max-width: 1440px) {
    padding: 0rem 0 4rem 7.5rem;
  }

  @media screen and (max-width: 1280px) {
    padding: 0rem 0 4rem 5rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0rem 0 3rem 3rem;
  }

  @media screen and (max-width: 430px) {
    padding: 0rem 0 2rem;
  }

  .story-content {
    width: 66%;

    @media screen and (max-width: 1920px) {
      width: 93%;
    }

    @media screen and (max-width: 1536px) {
      width: 100%;
    }

    @media screen and (max-width: 1440px) {
      width: 94%;
    }

    @media screen and (max-width: 1200px) {
      width: 84%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (max-width: 430px) {
      padding: 0 30px;
    }
  }
}

.signature {
  padding: 100px 133px;

  @media screen and (max-width: 1536px) {
    padding: 5.5rem;
  }

  @media screen and (max-width: 1440px) {
    padding: 6.3rem;
  }

  @media screen and (max-width: 1200px) {
    padding: 60px 20px;
  }

  @media screen and (max-width: 768px) {
    padding: 30px 20px;
  }

  @media screen and (max-width: 430px) {
    padding: 0px 15px 30px;
  }
  // .size60 {
  //   font-size: 60px;

  //   @media screen and (max-width: 1536px) {
  //     font-size: 50px;
  //   }
  //   @media screen and (max-width: 1440px) {
  //     font-size: 48px;
  //   }
  //   @media screen and (max-width: 1366px) {
  //     font-size: 45px;
  //   }
  //   @media screen and (max-width: 1280px) {
  //     font-size: 43px;
  //   }
  //   @media screen and (max-width: 1199px) {
  //     font-size: 42px;
  //   }

  //   @media screen and (max-width: 430px) {
  //     font-size: 26px;
  //   }
  // }

  .size32 {
    font-size: 32px;

    @media screen and (max-width: 1280px) {
      font-size: 30px;
    }
    @media screen and (max-width: 1199px) {
      font-size: 26px;
    }

    @media screen and (max-width: 430px) {
      font-size: 22px;
    }
  }

  .size18 {
    font-size: 18px;

    @media screen and (max-width: 1199px) {
      font-size: 14px;
    }

    @media screen and (max-width: 430px) {
      font-size: 12px;
    }
  }

  .size26 {
    font-size: 26px;

    @media screen and (max-width: 1280px) {
      font-size: 20px;
    }

    @media screen and (max-width: 430px) {
      font-size: 16px;
    }
  }

  .bg-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
  }
}

.signature-image-container {
  width: 1688px;
  height: 627px;
}

.signature-image {
  object-fit: fill;

  @media screen and (max-width: 1200px) {
    object-fit: cover;
  }
}

.table-para-width {
  width: 60%;

  @media screen and (max-width: 1920px) {
    width: 85%;
  }

  @media screen and (max-width: 1536px) {
    width: 96%;
  }

  @media screen and (max-width: 1200px) {
    width: 94%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .heading-width {
    width: 100%;

    @media screen and (max-width: 1200px) {
      width: 64%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.table-yacht-width {
  width: 85%;

  @media screen and (max-width: 1920px) {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.table-car-width {
  width: 89%;

  @media screen and (max-width: 1920px) {
    width: 100%;
  }
}

// .size80 {
//   font-size: 80px;

//   @media (max-width:1680px) {
//     font-size: 76px;
//   }

//   @media (max-width:1536px) {
//     font-size: 72px;
//   }

//   @media (max-width:1366px) {
//     font-size: 70px;
//   }

//   @media (max-width:1280px) {
//     // font-size: 55px;
//     font-size: 64px;
//   }

//   @media (max-width:768px) {
//     font-size: 56px;
//   }

//   @media (max-width:430px) {
//     font-size: 30px;
//   }
// }


.size60 {
  @media (max-width:430px) {
    font-size: 26px;
  }
}

.size18 {
  @media (max-width:430px) {
    font-size: 12px;
  }
}


.size26 {
  font-size: 26px;

  @media (max-width: 1600px) {
    font-size: 24px;
  }

  @media (max-width: 1440px) {
    font-size: 21px;
  }

  @media (max-width: 1280px) {
    font-size: 20px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 430px) {
    // font-size: 22px;
    font-size: 16px;
  }
}

.marginLeft{
  margin-left: 1rem;
  @media (max-width: 1440px) {
    margin-left: 0;
  }
}
 
.about-pad{
  padding: 0rem 3rem;
  @media screen and (max-width: 1920px) {
    padding: 0rem 2rem;
  }
  @media screen and (max-width: 1680px) {
    padding: 0rem 2rem;
  }
  @media screen and (max-width: 1536px) {
    padding: 0rem 1.8rem;
  }
  @media screen and (max-width: 1440px) {
    padding: 0rem ;
  }
  @media screen and (max-width: 1280px) {
    padding: 0rem ;
  }
  @media screen and (max-width: 1024px) {
    padding: 0rem 4rem;
  }
  @media screen and (max-width: 820px) {
    padding: 0rem 1rem;
  }
  @media screen and (max-width: 430px) {
    padding: 0rem;
  }
}