// Colors
$text-cream: #FCF8F3;
$text-beige: #FAF2E8;
$text-gray: #808080;
$text-dark: #1A1818;
$text-dark-2: #282829;
$text-dark-3: #181511;
$text-shadow: #00000047;
$text-primary: #000000;
$placeholder:#cac6c2;
