@font-face {
  font-family: "Performa Thin";
  src: url("../../fonts/perfoma/performa-ex-thin.woff") format("woff");
}
@font-face {
  font-family: "Performa Light";
  src: url("../../fonts/perfoma/performa-ex-light.woff") format("woff");
}
@font-face {
  font-family: "Performa Regular";
  src: url("../../fonts/perfoma/performa-regular.woff") format("woff");
}
@font-face {
  font-family: "Performa Medium";
  src: url("../../fonts/perfoma/performa-medium.woff") format("woff");
}
@font-face {
  font-family: "Performa SemiBold";
  src: url("../../fonts/perfoma/performa-semibold.woff") format("woff");
}
@font-face {
  font-family: "Performa Bold";
  src: url("../../fonts/perfoma/performa-bold.woff") format("woff");
}

@font-face {
  font-family: "RedHat Regular";
  src: url("../../fonts/red-hat/RedHatDisplay-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "RedHat Bold";
  src: url("../../fonts/red-hat/RedHatDisplay-Bold.woff") format("woff");
}

@font-face {
  font-family: "RedHat Light";
  src: url("../../fonts/red-hat/RedHatDisplay-Light.woff") format("woff");
  
}

@font-face {
  font-family: "RedHat Medium";
  src: url("../../fonts/red-hat/RedHatDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: "RedHat SemiBold";
  src: url("../../fonts/red-hat/RedHatDisplay-SemiBold.woff")
    format("woff");
}
