

$background-color:#FCF8F3;
$text-color:#1A1818;
$text-dark-color:#000;
$text-light-color:#fff;
$text-muted-color:#808080;
$text-danger-color:#FF0000;
$shadow-color:#00000047;
// $placeholder:#cac6c2;

//unused variables or unused colors

$success-color:#28a745;
$label-color:#6c757d;
$border-color:#dee2e6;
$primary-color:#007bff;
$secondary-color:#6c757d;