@import './fonts.scss';

// Font variables with weights
$redhat: 'RedHatDisplay' ;

$perfoma-thin: 'Performa Thin' ;
$perfoma-light: 'Performa Light' ;
$perfoma-regular: 'Performa Regular' ;
$perfoma-medium: 'Performa Medium' ;
$perfoma-semibold: 'Performa SemiBold'  ;
$perfoma-bold: 'Performa Bold' ;

