@import './fonts.scss';

// Font variables with weights
$redhat-light: 'RedHat Light' ;
$redhat-regular: 'RedHat Regular' ;
$redhat-medium: 'RedHat Medium' ;
$redhat-semibold: 'RedHat SemiBold' ;
$redhat-bold: 'RedHat Bold' ;

$perfoma-thin: 'Performa Thin' ;
$perfoma-light: 'Performa Light' ;
$perfoma-regular: 'Performa Regular' ;
$perfoma-medium: 'Performa Medium' ;
$perfoma-semibold: 'Performa SemiBold'  ;
$perfoma-bold: 'Performa Bold' ;


// colors
$color-black:#000000;
$color-light-black: #11191F;
$color-white: #F3F3F3;
$color-border-white: #F3F3F359;
$color-gray: #1D1D1D;
$color-gray-beige: #F0F0F0;
$color-gray-light: #D1D1D1;
$color-beige: #F8F4F0;
$color-green: #89E283;
$color-card-p: #48494B;
// $color-light-gray: #F3F3F3;
// $color-gray: #F0F0F0;
// $color-light-beige: #F8F4F0;
// $color-white: #FFFFFF;
// $color-dark-gray: #1D1D1D;
// $color-black: #11191F;
// $color-gray: #D1D1D1;
  
// #F3F3F3 sub title or p
// #F0F0F0
// #F8F4F0 title
// #FFFFFF button text white bg-transparent
// #1D1D1D button text black bg-white  | black title 
// #F0F0F0 button text white bg-black
// #11191F input btns black bg-#F3F3F3  | text or names of the vehicle


// $color-card-p: #48494B; // card p | know more 