<section class="vip-number-plate">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 d-flex align-items-center mb-md-0 mb-4">
        <div class="">
          <h2 class="size60 performa-light text-capitalize margin10">
            Elevate Your Drive
          </h2>
          <h6 class="size36 performa-light text-capitalize margin20">Rent Luxury With VIP Plates!!</h6>
          <p class="size18 redhat-semibold para-width line-height30 margin37">
            Use VIP Number Plates in Dubai, unique luxury symbols that turn any drive into a statement. These highly demanded plates are more than just numbers they are status symbols and conversation starters that demand respect and attention anywhere you go.
          </p>
          <button
            class="black-button size18 redhat-bold mb-md-0 mb-4"
            [routerLink]="['/product/search','vip']" routerLinkActive="router-link-active" 
          >
            book now
          </button>
        </div>
      </div>
      <div class="col-xl-6">
        <img src="{{ imageURL }}/vip/vip-number-plate.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
