<section class="vip-number-plate">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-xl-6 col-lg-6 d-flex align-items-center mb-lg-0 mb-4 order-2 order-lg-1"
      >
        <div class="">
          <h2
            class="size60 performa-light text-capitalize margin10 gray-color"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            Drive Like a VIP
          </h2>
          <h6
            class="size36 performa-light text-capitalize margin20 gray-color"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Rent Cars With Vip Number Plates
          </h6>
          <p
            class="size18 redhat-semibold para-width line-height30 margin37 color-card-p"
            data-aos="fade-up"
            data-aos-duration="2000"
          >
            Use VIP Number Plates in Dubai, unique Luxury symbols that turn any
            drive into a statement. These highly demanded plates are more than
            just numbers they are status symbols and conversation starters that
            demand respect and attention anywhere you go.
          </p>
          <a
            class="black-button size18 redhat-bold text-capitalize"
            href="/product/search/vip"
            routerLinkActive="router-link-active"
            data-aos="fade-up"
            data-aos-duration="2500"
            data-text="Book Now"
          >
            <span class="size18 redhat-bold text-capitalize">Book Now</span>
          </a>
        </div>
      </div>
      <div
        class="col-xl-6 col-lg-6 order-1 order-lg-2 mb-lg-0 mb-4 pe-0"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <!-- <div
        class="col-xl-6 col-lg-6 offset-xl-1 order-1 order-lg-2 mb-lg-0 mb-4"
      > -->
        <!-- <img src="{{ imageURL }}/vip/ghost-rentals-vip.webp" alt="vip number plate" /> -->

        <img
          src="{{ imageURL }}/vip/ghost-rental-gwagon-dubai-1.webp"
          alt="vip number plate"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
