.vip-number-plate {
  padding: 200px 169px;

  @media screen and (max-width: 1600px) {
    padding: 150px 100px;
  }

  @media screen and (max-width: 1440px) {
    padding: 120px 85px;
  }

  @media screen and (max-width: 1200px) {
    padding: 100px;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 60px;
  }

  @media screen and (max-width: 480px) {
    padding: 50px 15px;
  }
}

.para-width {
  width: 651px;

  @media screen and (max-width: 1920px) {
    width: 645px;
  }

  @media screen and (max-width: 1680px) {
    width: 100%;
  }

  @media screen and (max-width: 1600px) {
    width: 573px;
  }

  // @media screen and (max-width: 1536px) {
  //   width: 81%;
  // }

  @media screen and (max-width: 1300px) {
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    width: 93%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.sectionPadding {
  padding: 6rem 10rem;

  @media screen and (max-width: 1536px) {
    padding: 4rem 7rem;
  }

  @media screen and (max-width: 1200px) {
    padding: 4rem 6rem;
  }

  @media screen and (max-width: 768px) {
    padding: 3rem 1rem;
  }
}

.size60 {
  @media (max-width: 1600px) {
    font-size: 48px !important;
  }
   @media (max-width: 1199px) {
    font-size: 38px !important;
  }
   @media (max-width: 767px) {
    font-size: 32px !important;
  }
   @media (max-width: 480px) {
    font-size: 28px !important;
  }
    @media (max-width: 360px) {
    font-size: 26px !important;
  }
  
}
.size36 {
  font-size: 34px !important;
  @media (max-width: 1600px) {
    font-size: 26px !important;
  }
   @media (max-width: 1199px) {
    font-size: 20px !important;
  }
   @media (max-width: 767px) {
    font-size: 18px !important;
  }
    @media (max-width: 480px) {
    font-size: 16px !important;
  }
 
}
.size18 {
  @media (max-width: 1600px) {
    font-size: 16px !important;
  }
   @media (max-width: 1199px) {
    font-size: 14px !important;
  }
   @media (max-width: 767px) {
    line-height: normal;
  }
}
.margin37{
  @media(max-width:1199px){
    margin-bottom: 25px;
  }
}