<nav
  class="position-fixed top-0 start-0 w-100 z-2"
  [class.scrolled]="isScrolled"
  [class.about-page]="isAboutPage()"
  [class.about-page]="isPrivacyPolicyPage()"
  [class.about-page]="isTermsAndConditionsPage()"
>
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
    style="padding: 1rem 3rem"
  >
    <a href="/">
      <img
        src="{{ imageURL }}/images/logo/nav_logo.png"
        alt=""
        class="nav-logo"
      />
    </a>
    <ul class="nav d-flex gap-5 align-items-center">
      <li>
        <a href="/" class="size16 redhat-semibold white text-decoration-none"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/about"
          class="size16 redhat-semibold white text-decoration-none"
          >About Us</a
        >
      </li>
      <li>
        <a
          href="/services"
          class="size16 redhat-semibold white text-decoration-none"
          >Our Services</a
        >
      </li>
      <li>
        <a
          href="/fleets"
          class="size16 redhat-semibold white text-decoration-none"
          >Our Fleets</a
        >
      </li>
      <li>
        <a href="/contact">
          <button class="button size18 redhat-bold">Contact Us</button>
        </a>
      </li>
    </ul>
  </div>
</nav>
