<nav
  class="position-fixed top-0 start-0 w-100 z-5"
  [ngClass]="{ 'large-padding': hasLargePadding }"
>
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <a href="/" class="d-flex align-items-center">
      <img
        src="{{ imageURL }}/images/logo/nav-logo.svg"
        alt="Ghost Rental Logo"
        class="nav-logo"
      />
    </a>

    <!-- Mobile menu button -->
    <button
      class="hamburger d-xl-none position-relative"
      type="button"
      (click)="toggleMenu($event)"
      aria-label="Toggle navigation"
      [class.active]="isMenuOpen"
      [class.dark]="isScrolled && !isMenuOpen"
      [class.white-hamburger]="!isDarkText || isScrolled || isMenuOpen"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <!-- Desktop Navigation -->
    <ul class="nav d-none d-xl-flex align-items-center">
      <li>
        <a
          href="/"
          [class.active]="router.isActive('/', true)"
          class="size16 redhat-regular white text-decoration-none"
          [class.dark]="isScrolled"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="size16 redhat-regular white text-decoration-none"
          [class.dark]="isScrolled"
          >About Us</a
        >
      </li>
      <li>
        <a
          routerLink="/services"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="size16 redhat-regular white text-decoration-none"
          [class.dark]="isScrolled"
          >Our Services</a
        >
      </li>
      <li>
        <a
          routerLink="/product/search"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="size16 redhat-regular white text-decoration-none"
          [class.dark]="isScrolled"
          [class.active]="router.isActive('/product/', false)"
          >Our Fleets</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="d-block size18 redhat-bold contact-button white-button text-capitalize"
          [class.active]="router.isActive('/contact', true)"
          [class.dark]="isDarkText && !isScrolled"
          (click)="closeMenu()"
          data-text="Contact Us"
        >
          <span>Contact Us</span>
        </a>
      </li>
    </ul>

    <!-- Mobile Navigation -->
    <div class="mobile-menu" [class.active]="isMenuOpen" (click)="closeMenu()">
      <div class="menu-overlay" (click)="$event.stopPropagation()">
        <nav class="menu-container w-100 h-100">
          <div
            class="menu-header d-flex justify-content-between align-items-center"
          >
            <a href="/" class="logo-link">
              <img
                src="{{ imageURL }}/images/logo/nav-logo.svg"
                alt="Logo"
                class="menu-logo"
                style="filter: brightness(0)"
              />
            </a>
            <!-- Mobile menu button -->
            <button
              class="close d-xl-none position-relative"
              type="button"
              (click)="toggleMenu($event)"
              aria-label="Toggle navigation"
              [class.active]="isMenuOpen"
              [class.dark]="isScrolled && !isMenuOpen"
              [class.white-hamburger]="!isDarkText || isScrolled || isMenuOpen"
            >
              <span class="close-box">
                <span class="close-inner"></span>
              </span>
            </button>
          </div>

          <ul class="nav-menu">
            <li class="nav-item" (click)="closeMenu()">
              <a
                href="/"
                [class.active]="router.isActive('/', true)"
                class="size16 redhat-medium text-decoration-none gray-color"
              >
                <!-- <lucide-icon name="home" class="nav-icon"></lucide-icon> -->
                <span>Home</span>
              </a>
            </li>

            <li class="nav-item" (click)="closeMenu()">
              <a
                href="/about"
                [class.active]="router.isActive('/about', false)"
                class="size16 redhat-medium text-decoration-none gray-color"
              >
                <!-- <lucide-icon name="users" class="nav-icon"></lucide-icon> -->
                <span>About Us</span>
              </a>
            </li>

            <li class="nav-item" (click)="closeMenu()">
              <a
                href="/services"
                [class.active]="router.isActive('/services', false)"
                class="size16 redhat-medium text-decoration-none gray-color"
              >
                <!-- <lucide-icon name="settings" class="nav-icon"></lucide-icon> -->
                <span>Our Services</span>
              </a>
            </li>

            <li class="nav-item" (click)="closeMenu()">
              <a
                href="/product/search"
                [class.active]="router.isActive('/product/search', false)"
                class="size16 redhat-medium text-decoration-none gray-color"
              >
                <!-- <lucide-icon name="car" class="nav-icon"></lucide-icon> -->
                <span>Our Fleets</span>
              </a>
            </li>

            <li class="nav-item" (click)="closeMenu()">
              <a
                href="/contact"
                class="nav-button d-block black-button w-100 size18 redhat-bold text-center text-capitalize"
                (click)="closeMenu()"
                data-text="Contact Us"
              >
                <span>Contact Us</span>
              </a>
            </li>
          </ul>
          <div class="menu-footer">
            <div class="social-links">
              <!-- <a href="#" class="social-link"
                ><lucide-icon name="facebook"></lucide-icon
              ></a>
              <a href="#" class="social-link"
                ><lucide-icon name="instagram"></lucide-icon
              ></a>
              <a href="#" class="social-link"
                ><lucide-icon name="twitter"></lucide-icon
              ></a> -->
              <!-- <ul class=" nav d-flex flex-column justify-content-center">
                <li class="nav-item ">
                  <a href="https://www.instagram.com/ghost.rentals/?hl=en"
                    class="text-decoration-none white-color size16 redhat-regular text-capitalize d-flex align-items-center">
                    <div class="social-icon-div me-2">
                      <img src="{{ imageURL }}/social/instagram.svg" alt="Instagram" class="footer-social-icon ">
                    </div>
                    <h4 class="size16 redhat-regular text-capitalize mb-0">Instagram</h4>
                  </a>
                </li>
                <li class="nav-item ">
                  <a href="https://www.facebook.com/Ghostrentalsdubai"
                    class="text-decoration-none white-color d-flex align-items-center size16 redhat-regular text-capitalize">
                    <div class="social-icon-div me-2">
                      <img src="{{ imageURL }}/social/facebook.svg" alt="Facebook" class="footer-social-icon ">
                    </div>
                    <h4 class="size16 redhat-regular text-capitalize mb-0">Facebook</h4>
                  </a>
                </li>
                <li class="nav-item ">
                  <a href="https://www.tiktok.com/@ghostrentals"
                    class="text-decoration-none white-color d-flex align-items-center size16 redhat-regular text-capitalize">
                    <div class="social-icon-div me-2">
                        <img src="{{ imageURL }}/social/tik_tok.svg" alt="Youtube" class="footer-social-icon ">
                    </div>
                    <h4 class="size16 redhat-regular text-capitalize mb-0">TikTok</h4>
                  </a>
                </li>
                <li class="nav-item ">
                  <a href="https://www.youtube.com/@GhostRentalsDXB?app=desktop"
                    class="text-decoration-none white-color d-flex align-items-center size16 redhat-regular text-capitalize">
                    <div class="social-icon-div me-2">
                        <img src="{{ imageURL }}/social/youtube.svg" alt="Youtube" class="footer-social-icon ">
                    </div>
                    <h4 class="size16 redhat-regular text-capitalize mb-0">Youtube</h4>
                  </a>
                </li>
                 
              </ul> -->
            </div>
            <p class="copyright text-center redhat-medium size16">
              © 2025, All Rights Reserved Ghost Rentals
            </p>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>
