.home {
  height: 100vh;
  .content {
    // width: 575px;
    // position: absolute;
    // top: 44%;
    // left: 8rem;
    // transform: translateY(-50%);
    @media (max-width: 1024px) {
      // width: 414px;
      // top: 41%;
      // left: 5%;
      // transform: translateY(-50%);
    }
    @media (max-width: 768px) {
      // width: 100%;
      // left: 0;
      // padding: 1rem;
    }

    .hero-para {
      width: 527px;
      @media (max-width: 1024px) {
        width: 422px;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
.form-top{
  top: 52%;
  @media screen and (max-width: 1600px) {
    top: 54%;
  }
  @media screen and (max-width: 1440px) {
    top: 57%;
  }
  @media screen and (max-width: 1024px) {
    top: 54%;
  }
  @media screen and (max-width: 414px) {
    top: 56%;
  }
}
  .form-glass {
    overflow: visible !important;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    fill-opacity: 49%;
    border-radius: 25px;
    padding: 42px 36px;
    width: 100%;
    // position: absolute;
    top: 50%;
    right: 6.5%;
    // transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 650px;
    @media screen and (max-width: 1920px) {
      max-width: 500px;
      gap: 0;
      padding: 30px;
    }
    @media screen and (max-width: 1600px) {
      padding: 25px;
      max-width: 450px;
    }
    @media screen and (max-width: 1536px) {
      padding: 15px;
      max-width: 400px;
    }
    @media screen and (max-width: 1440px) {
      padding: 20px;
      max-width: 373px;
    }
    @media screen and (max-width: 1366px) {
      padding: 18px;
    }
    @media (max-width: 1024px) {
      padding: 1rem;
    }
    @media (max-width: 768px) {
      padding: 0.5rem;
    }
    @media (max-width: 430px) {
      padding: 10px;
      max-width: 300px;
    }
    .form-select {
      position: relative;
      z-index: 1;

      option {
        position: relative;
        z-index: 1000;
      }
    }

    .form-control,
    .form-select {
      position: relative;
      z-index: 1;
      border: none;
      border-radius: 20px;
      padding: 19px 24px;
      @media screen and (max-width: 1920px) {
        padding: 10px 15px;
      }
      @media screen and (max-width: 1600px) {
        padding: 10px 12px;
      }
      @media screen and (max-width: 1536px) {
        padding: 5px 12px;
      }
      @media screen and (max-width: 1440px) {
        padding: 4px 18px;
      }
      @media screen and (max-width: 1280px) {
        padding: 10px 15px;
      }
      @media screen and (max-width: 430px) {
        padding: 7px 15px;
      }
      option {
        position: static;
        z-index: 1000;
      }
    }

    .form-label {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 85%;
      transform: translateY(-50%);
      margin: 0;
      background-color: white;
      @media screen and (max-width: 768px) {
        left: 10px;
        width: 90%;
      }
    }

    .toggle-switch {
      position: relative;
      width: 60px;
      height: 30px;
      background: white;
      border-radius: 24px;
      cursor: pointer;
      transition: background 0.3s;
      @media (max-width: 1536px) {
        width: 45px;
        height: 26px;
      }
      @media (max-width: 1440px) {
        width: 45px;
        height: 25px;
      }
      @media (max-width: 1366px) {
        width: 45px;
        height: 22px;
      }
      @media (max-width: 1280px) {
        width: 40px;
        height: 20px;
      }
      @media (max-width: 768px) {
        width: 35px;
        height: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        left: 3px;
        top: 3px;
        background-color: black;
        border-radius: 50%;
        transition: transform 0.3s;
        @media (max-width: 1536px) {
          width: 20px;
          height: 20px;
          left: 2px;
        }
        @media (max-width: 1440px) {
          width: 20px;
          height: 20px;
          left: 2px;
        }
        @media (max-width: 1366px) {
          width: 18px;
          height: 18px;
          left: 2px;
        }
        @media (max-width: 1280px) {
          width: 20px;
          height: 20px;
          left: 2px;
        }
        @media (max-width: 768px) {
          width: 15px;
          height: 15px;
          left: 1px;
        }
      }

      &.active {
        &::before {
          transform: translateX(29px);
          @media (max-width: 1536px) {
            transform: translateX(21px);
          }
          @media (max-width: 1440px) {
            transform: translateX(26px);
          }
          @media (max-width: 1366px) {
            transform: translateX(26px);
          }
          @media (max-width: 1280px) {
            transform: translateX(26px);
          }
          @media (max-width: 768px) {
            transform: translateX(17px);
          }
        }
      }
    }

    .size14 {
      font-size: 14px !important;
      @media (max-width: 768px) {
        font-size: 12px !important;
      }
    }

    .redhat-semibold {
      font-weight: 600 !important;
    }
    // custom - margin
    h2 {
      margin-bottom: 25px;
      @media screen and (max-width: 1920px) {
        margin-bottom: 25px;
      }
      @media screen and (max-width: 1600px) {
        margin-bottom: 22px;
      }
      @media screen and (max-width: 1440px) {
        margin-bottom: 18px;
      }
      @media screen and (max-width: 1366px) {
        margin-bottom: 18px;  
      }
      @media screen and (max-width: 1280px) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }
    .toggle {
      margin-bottom: 25px;
      @media screen and (max-width: 1920px) {
        margin-bottom: 25px;
      }
      @media screen and (max-width: 1600px) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: 1440px) {
        margin-bottom: 14px;
      }
      @media screen and (max-width: 1366px) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: 1280px) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }
    .type-margin {
      margin-bottom: 23px;
      @media screen and (max-width: 1920px) {
        margin-bottom: 23px;
      }
      @media screen and (max-width: 1600px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 1440px) {
        margin-bottom: 12px;
      }
      @media screen and (max-width: 1366px) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: 1280px) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 18px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }
    .label-margin {
      margin-bottom: 14px;
      @media screen and (max-width: 1920px) {
        margin-bottom: 14px;
      }
      @media screen and (max-width: 1600px) {
        margin-bottom: 12px;
      }
      @media screen and (max-width: 1440px) {
        margin-bottom: 12px;
      }
      @media screen and (max-width: 1366px) {
        margin-bottom: 12px;
      }
      @media screen and (max-width: 1280px) {
        margin-bottom: 11px;
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }
    .input-margin {
      margin-bottom: 17px;
      @media screen and (max-width: 1920px) {
        margin-bottom: 17px;
      }
      @media screen and (max-width: 1600px) {
        margin-bottom: 15px;
      }
      @media screen and (max-width: 1440px) {
        margin-bottom: 12px;
      }
      @media screen and (max-width: 1366px) {
        margin-bottom: 15px;
      }
      @media screen and (max-width: 1280px) {
        margin-bottom: 14px;
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 12px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }
    .select-margin {
      margin-bottom: 21px;
      @media screen and (max-width: 1920px) {
        margin-bottom: 21px;
      }
      @media screen and (max-width: 1600px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 1440px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 1366px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 1280px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }
    .btn-margin {
      margin-top: 53px;
      @media screen and (max-width: 1920px) {
        margin-top: 20px;
      }
      @media screen and (max-width: 1600px) {
        margin-top: 18px;
      }
      @media screen and (max-width: 1440px) {
        margin-top: 10px;
      }
      @media screen and (max-width: 1366px) {
        margin-top: 18px;
      }
      @media screen and (max-width: 1280px) {
        margin-top: 17px;
      }
      @media screen and (max-width: 1024px) {
        margin-top: 16px;
      }
      @media screen and (max-width: 768px) {
        margin-top: 10px;
      }
      @media screen and (max-width: 430px) {
        margin-top: 5px;
      }
    }

    .span-holder {
      background-color: white;
      width: 50%;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-86%, -50%);
      transition: opacity 0.3s ease;
      pointer-events: none;
      @media screen and (max-width: 1920px) {
        width: 50%;
      }
      @media screen and (max-width: 1600px) {
        width: 50%;
      }
      @media screen and (max-width: 1440px) {
        width: 54%;
        left: 58%;
      }
      @media screen and (max-width: 1366px) {
        width: 48%;
      }
      @media screen and (max-width: 1280px) {
        width: 48%;
      }
      @media screen and (max-width: 1024px) {
        width: 48%;
      }
      @media screen and (max-width: 768px) {
        width: 48%;
      }
      @media screen and (max-width: 430px) {
        width: 48%;
      }
    }
  }
}

// category section
.car-types-section {
  .row {
    @media screen and (max-width: 1024px) {
      row-gap: 2rem;
    }
  }
  .grid-category {
    grid-template-columns: repeat(6, 1fr);
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .car-icon {
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .category-image {
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    @media screen and (max-width: 1920px) {
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: 1680px) {
      width: 100%;
      height: 133px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }

  .padding-between {
    padding-left: 18px;
    padding-right: 18px;
  }
  .type-margin {
    position: absolute;
    bottom: -1.5px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 100%;
    @media screen and (max-width: 414px) {
      bottom: -8px;
    }
  }
}

.services {
  padding-left: 7rem;
  padding-right: 7rem;
  @media screen and (max-width: 1200px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  @media screen and (max-width: 768px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .card {
    transition: transform 0.3s ease;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 20px !important;
  }
  .card-content {
    padding: 0 16px 16px 16px;
  }
  .services-images {
    border-radius: 25px;
  }

  .topspace {
    top: -5%;
    @media (max-width: 768px) {
      top: 0%;
    }
  }
  .topMargin {
    margin-top: -6%;
    padding: 0px 50px;
    @media (max-width: 1199px) {
      margin-top: -7%;
      padding: 0px 30px;
    }
    @media (max-width: 768px) {
      margin-top: 0%;
    }
  }
}

// collections
.collection {
  padding: 6rem 0rem 6rem 7rem;
  @media screen and (max-width: 1200px) {
    padding-left: 3.75rem;
  }
  @media screen and (max-width: 768px) {
    padding: 22px;
  }
  .margin-right {
    margin-right: 11rem;
    @media screen and (max-width: 1200px) {
      margin-right: 8rem;
    }
    @media screen and (max-width: 768px) {
      margin-right: 0;
    }
  }
  .card-content {
    padding: 0 26px 26px 26px;

    @media screen and (max-width: 1024px) {
      padding: 0 20px 20px 20px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 10px 10px 10px;
    }
  }
  .collection_image {
    width: 35px;
    height: 35px;
  }
  .swiper {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    position: relative;

    .swiper-wrapper {
      align-items: stretch;
      display: flex;
      width: 100%;
    }

    .swiper-slide {
      height: auto;
      display: flex;
      align-items: stretch;
    }
  }
  .car-swiper-button-prev,
  .car-swiper-button-next,
  .yacht-swiper-button-prev,
  .yacht-swiper-button-next {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid black;
    transition: all 0.3s ease;

    &:hover {
      background: black;
      color: white;
    }
    &::after {
      display: none;
    }
    .swiper-button-icon {
      width: 24px;
      height: 24px;
    }
  }
  .car-card {
    border: 1px solid #d1d1d1;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 500px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }
    .thumbnail-image {
      padding: 12px 12px 0px 12px;
  
      @media screen and (max-width: 1920px) {
        padding: 12px 12px 0px 12px;
      }
      @media screen and (max-width: 1400px) {
        padding: 10px 10px 0px 10px;
      }
      @media screen and (max-width: 1200px) {
        padding: 10px 10px 0px 10px;
      }
      @media screen and (max-width: 1024px) {
        padding: 10px 10px 0px 10px;
      }
      @media screen and (max-width: 768px) {
        padding: 8px 8px 0px 8px;
      }
    }
  }
  .card-content {
    padding: 26px;
  
    @media screen and (max-width: 1920px) {
      padding: 12px;
    }
    @media screen and (max-width: 1400px) {
      padding: 10px;
    }
    @media screen and (max-width: 1200px) {
      padding: 10px;
    }
    @media screen and (max-width: 1024px) {
      padding: 10px;
    }
    @media screen and (max-width: 768px) {
      padding: 8px;
    }
  }
}

// About Us section
.about-us {
  padding: 5rem 7.2rem;
  @media screen and (max-width: 1200px) {
    padding: 4rem 9rem;
  }
  @media screen and (max-width: 768px) {
    padding: 3rem 10px;
  }
  .div-height {
    height: 580px;
    // @media screen {
    //   height: 480px;
    // }
  }
  .about-content {
    position: relative;
    z-index: 1;
    max-width: 900px;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1536px) {
      max-width: 814px;
    }
  }
  // .features-grid {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  //   gap: 3rem;
  //   justify-content: space-between;
  //   margin: 0 50px;
  //   @media screen and (max-width:768px) {
  //     margin: 0 ;
  //   }
  // }
  // .feature-item {
  //   text-align: center;
  //   padding: 1.5rem;
  //   border-radius: 8px;
  //   transition: transform 0.3s ease, box-shadow 0.3s ease;
  .feature-icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }
  // }
}

.trending_cars {
  padding: 6rem 7rem;
  @media screen and (max-width: 1200px) {
    padding: 4rem 5rem;
  }
  @media screen and (max-width: 768px) {
    padding: 3rem 1rem;
  }
  .black-bg {
    top: 0%;
    transform: translateY(0%);
  }

  .trending-cars-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  .thumbnail-image {
    padding: 12px;
    @media screen and (max-width: 1200px) {
      padding: 8px;
    }
    @media screen and (max-width: 768px) {
      padding: 4px;
    }
  }
  .card-content {
    padding: 0 26px 26px 26px;

    @media screen and (max-width: 1024px) {
      padding: 0 20px 20px 20px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 10px 10px 10px;
    }
  }
  .trending-car-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    width:100%;
    cursor: pointer;
    border-radius: 1rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease,border 0.3s ease;
    &:hover {
      box-shadow: 0 4px 12px rgba(255, 255, 255, 0.5);
      border: 1px solid white;
      border-radius: 1rem;
    }
  }

  .swiper-mobile {
    padding: 5rem 0rem 5rem 11rem;
    @media screen and (max-width: 1200px) {
      padding-left: 3.75rem;
    }
    @media screen and (max-width: 1200px) {
      padding: 0;
    }
    .margin-right {
      margin-right: 11rem;
    }

    .collection_image {
      width: 35px;
      height: 35px;
    }
    .swiper {
      width: 100%;
      padding: 10px 0;
      overflow: hidden;
      position: relative;

      .swiper-wrapper {
        align-items: stretch;
        display: flex;
        width: 100%;
      }

      .swiper-slide {
        height: auto;
        display: flex;
        align-items: stretch;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}

.black-bg {
  background-color: #1d1d1d;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  top: 26%;
  @media screen and (max-width: 1920px) {
    top: 31%;
  }
  @media screen and (max-width: 1680px) {
    top: 30%;
  }
  @media screen and (max-width: 1600px) {
    top: 30%;
  }
  @media screen and (max-width: 1440px) {
    top: 29%;
  }
  @media screen and (max-width: 1200px) {
    top: 22%;
  }

  @media screen and (max-width: 768px) {
    top: 22%;
  }
  @media screen and (max-width: 425px) {
    top: 22%;
  }
}
.vehicle-switch {
  width: 50px;
  height: 26px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}
.vehicle-switch-slider {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  transition: left 0.3s ease;
}
.vehicle-switch.active .vehicle-switch-slider {
  left: 27px;
}

.swiper-desktop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .swiper-desktop {
    display: block;
  }
}

.swiper-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .swiper-mobile {
    display: block;
  }
}
