.home {
  height: 100vh;

  .content {
    margin-top: 6rem;

    @media (max-width: 1536px) {
      margin-top: 0rem;
    }

    @media (max-width: 1440px) {
      margin-top: 3rem;
    }

    @media (max-width: 1280px) {
      margin-top: 1rem;
    }

    @media (max-width: 1024px) {
      margin-top: 0;
    }

    @media (max-width: 768px) {
      margin-top: 0;
    }

    .hero-para {
      // width: 527px;
      width: 488px;

      @media (max-width: 1536px) {
        width: 422px;
      }

      @media (max-width: 1440px) {
        width: 352px;
      }

      @media (max-width: 1280px) {
        width: 331px;
      }

      @media (max-width: 1024px) {
        width: 422px;
      }

      @media (max-width: 768px) {
        width: 50%;
      }

      @media (max-width: 768px) {
        width: 50%;
      }

      @media (max-width: 430px) {
        width: 100%;
      }
    }
  }

  .form-top {
    top: 52%;

    @media screen and (max-width: 1920px) {
      top: 53%;
    }

    @media screen and (max-width: 1600px) {
      top: 54%;
    }

    @media screen and (max-width: 1440px) {
      top: 56%;
    }

    @media screen and (max-width: 1280px) {
      top: 58%;
    }

    @media screen and (max-width: 1024px) {
      top: 54%;
    }

    @media screen and (max-width: 414px) {
      top: 52%;
    }
  }

  .form-glass {
    overflow: visible !important;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    fill-opacity: 49%;
    border-radius: 30px;
    padding: 42px 36px;
    width: 100%;
    // position: absolute;
    top: 50%;
    right: 6.5%;
    // transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 650px;


    @media screen and (max-width: 1920px) {
      max-width: 500px;
      gap: 0;
      // padding: 20px 30px;
      padding: 46px 36px 42px;
      margin-left: 25px;
    }

    @media screen and (max-width: 1600px) {
      padding: 25px;
      max-width: 450px;
    }

    @media screen and (max-width: 1536px) {
      padding: 15px;
      max-width: 400px;
      margin-top: 0px
    }

    @media screen and (max-width: 1440px) {
      padding: 20px;
      max-width: 373px;
    }

    @media screen and (max-width: 1366px) {
      padding: 18px;
    }

    @media screen and (max-width: 1280px) {
      padding: 15px;
    }

    @media (max-width: 1024px) {
      padding: 1rem;
    }

    @media (max-width: 768px) {
      padding: 0.5rem;
    }

    @media (max-width: 430px) {
      padding: 10px;
      max-width: 300px;
    }

    .form-select {
      position: relative;
      z-index: 1;

      // option {
      //   position: relative;
      //   z-index: 1000;
      // }
    }

    .form-control,
    .form-select {
      position: relative;
      z-index: 1;
      border: none;
      border-radius: 100px;
      padding: 19px 24px;

      @media screen and (max-width: 1920px) {
        // padding: 10px 15px;
        padding: 11.5px 15px;
      }

      @media screen and (max-width: 1600px) {
        padding: 10px 12px;
      }

      @media screen and (max-width: 1536px) {
        padding: 5px 12px;
      }

      @media screen and (max-width: 1440px) {
        padding: 4px 18px;
      }

      @media screen and (max-width: 1280px) {
        padding: 5px 10px;
      }

      @media screen and (max-width: 430px) {
        padding: 7px 15px;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }

      // option {
      //   position: static;
      //   z-index: 1000;
      // }
    }

    .form-label {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 85%;
      transform: translateY(-50%);
      margin: 0;
      background-color: white;

      @media screen and (max-width: 768px) {
        left: 10px;
        width: 90%;
      }
    }



    .toggle-switch {
      position: relative;
      width: 78px;
      height: 37px;
      background: white;
      border-radius: 24px;
      cursor: pointer;
      transition: background 0.3s;

      @media (max-width: 1536px) {
        width: 45px;
        height: 26px;
      }

      @media (max-width: 1440px) {
        width: 45px;
        height: 25px;
      }

      @media (max-width: 1366px) {
        width: 45px;
        height: 22px;
      }

      @media (max-width: 1280px) {
        width: 40px;
        height: 20px;
      }

      @media (max-width: 768px) {
        width: 35px;
        height: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 31px;
        height: 31px;
        left: 3px;
        top: 3px;
        background-color: black;
        border-radius: 50%;
        transition: transform 0.3s;

        @media (max-width: 1536px) {
          width: 20px;
          height: 20px;
          left: 2px;
        }

        @media (max-width: 1440px) {
          width: 20px;
          height: 20px;
          left: 2px;
          top: 2px;
        }

        @media (max-width: 1366px) {
          width: 18px;
          height: 18px;
          left: 2px;
          top: 2px;
        }

        @media (max-width: 1280px) {
          width: 16px;
          height: 16px;
          top: 2px;
        }

        @media (max-width: 768px) {
          width: 15px;
          height: 15px;
          left: 1px;
        }

        @media (max-width: 430px) {
          width: 16px;
          height: 16px;
          left: 2px;
          top: 2px;
        }
      }

      &.active {
        &::before {
          transform: translateX(41px);

          @media (max-width: 1536px) {
            transform: translateX(21px);
          }

          @media (max-width: 1440px) {
            transform: translateX(21px);
          }

          @media (max-width: 1366px) {
            transform: translateX(23px);
          }

          @media (max-width: 1280px) {
            transform: translateX(19px);
          }

          @media (max-width: 768px) {
            transform: translateX(17px);
          }

          @media (max-width: 430px) {
            transform: translateX(15px);
          }
        }
      }
    }

    .size14 {
      font-size: 14px !important;

      @media (max-width: 768px) {
        font-size: 12px !important;
      }
    }


    lucide-icon[name="calendar-days"] {
      top: 24%;
      right: 24px;
      position: absolute;
      background: white;
      pointer-events: none;
      transition: transform 0.2s ease-in-out;
      z-index: 1;
      @media (max-width: 1920px) {
        top: 18%;
        right: 17px;
      }
      @media (max-width: 1536px) {
        top: 8%;
        right: 15px;
      }
      @media (max-width: 1440px) {
        top: 3%;
        right: 21px;
      }
      @media (max-width: 1366px) {
        top: 3%;
        right: 22px
      }
      @media (max-width: 1280px) {
        top: 4%;
        right: 12px;
      }
      @media (max-width: 1024px) {
        top: 4%;
        right: 12px;
      }
      @media (max-width: 430px) {
        top: 6%;
        right: 16px;
      }
      ::ng-deep svg {
        width: 20px !important;
        height: 20px !important;
        @media (max-width: 1920px) {
          width: 15px !important;
          height: 15px !important;
        }
        @media (max-width: 1536px) {
          width: 12px !important;
          height: 12px !important;
        }
        @media (max-width: 430px) {
          width: 12px !important;
          height: 12px !important;
        }
      }
    }

    // custom - margin
    h2 {
      margin-bottom: 25px;

      @media screen and (max-width: 1920px) {
        margin-bottom: 25px;
      }

      @media screen and (max-width: 1600px) {
        margin-bottom: 22px;
      }

      @media screen and (max-width: 1440px) {
        margin-bottom: 18px;
      }

      @media screen and (max-width: 1366px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1280px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }

    .toggle {
      margin-bottom: 25px;

      @media screen and (max-width: 1920px) {
        margin-bottom: 25px;
      }

      @media screen and (max-width: 1600px) {
        margin-bottom: 16px;
      }

      @media screen and (max-width: 1440px) {
        margin-bottom: 14px;
      }

      @media screen and (max-width: 1366px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1280px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }


      font-size: 18px;

      @media screen and (max-width: 1280px) {
        font-size: 18px;
      }

      @media screen and (max-width: 430px) {
        font-size: 14px;
      }
    }

    .type-margin {
      margin-bottom: 23px;

      @media screen and (max-width: 1920px) {
        margin-bottom: 23px;
      }

      @media screen and (max-width: 1600px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1440px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1366px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1280px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1024px) {
        margin-bottom: 18px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }

    .label-margin {
      margin-bottom: 14px;

      @media screen and (max-width: 1920px) {
        margin-bottom: 14px;
      }

      @media screen and (max-width: 1600px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1440px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1366px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1280px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1024px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }

    .input-margin {
      margin-bottom: 17px;

      @media screen and (max-width: 1920px) {
        margin-bottom: 17px;
      }

      @media screen and (max-width: 1600px) {
        margin-bottom: 15px;
      }

      @media screen and (max-width: 1440px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1366px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1280px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1024px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }

    .select-margin {
      margin-bottom: 21px;

      @media screen and (max-width: 1920px) {
        margin-bottom: 21px;
      }

      @media screen and (max-width: 1600px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1440px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1366px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1280px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1024px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 430px) {
        margin-bottom: 5px;
      }
    }

    .btn-margin {
      margin-top: 53px;

      @media screen and (max-width: 1920px) {
        margin-top: 20px;
      }

      @media screen and (max-width: 1600px) {
        margin-top: 18px;
      }

      @media screen and (max-width: 1440px) {
        margin-top: 10px;
      }

      @media screen and (max-width: 1366px) {
        margin-top: 10px;
      }

      @media screen and (max-width: 1280px) {
        margin-top: 10px;
      }

      @media screen and (max-width: 1024px) {
        margin-top: 10px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 10px;
      }

      @media screen and (max-width: 430px) {
        margin-top: 5px;
      }
    }

    .span-holder {
      background-color: white;
      // width: 90%;
      // top: 50%;
      // left: 50%;
      width: 69%;
      top: 50%;
      left: 43%;
      z-index: 2;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease;
      pointer-events: none;

      @media screen and (max-width: 1920px) {
        // width: 85%;
        width: 68%;
        left: 41%;
      }

      @media screen and (max-width: 1600px) {
        width: 80%;
      }

      @media screen and (max-width: 1536px) {
        // width: 88%;
        // top: 52%;
        width: 67%;

      }

      @media screen and (max-width: 1440px) {
        // width: 58%;
        width: 67%;
        // left: 40%;
      }

      @media screen and (max-width: 1366px) {
        // width: 80%;
        width: 58%;
      }

      @media screen and (max-width: 1280px) {
        // width: 88%;
        width: 69%;
      }

      @media screen and (max-width: 1024px) {
        // width: 80%;
        width: 69%;
      }

      @media screen and (max-width: 768px) {
        width: 70%;
      }

      @media screen and (max-width: 430px) {
        width: 59%;
      }
      @media screen and (max-width: 360px) {
        width: 64%;
    left: 43%;
      }
      @media screen and (max-width: 320px) {
        width: 56%;
        left: 42%;
      }
    }
  }
}


// category section
.car-types-section {
  padding: 161px 197px 182px;

  @media screen and (max-width: 1536px) {
    padding: 150px 116px;
  }

  @media screen and (max-width: 1440px) {
    padding: 90px 116px 100px;
  }

  @media screen and (max-width: 1200px) {
    padding: 100px 100px;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 50px;
  }

  @media screen and (max-width: 430px) {
    padding: 66px 20px;
  }

  @media screen and (max-width: 320px) {
    padding: 36px 20px;
  }

  .grid-category {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }

    @media screen and (max-width: 430px) {
      column-gap: 1rem;
    }
  }

  .car-icon {
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .category-image {
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;

    @media screen and (max-width: 1920px) {
      width: auto;
      height: auto;
    }

    @media screen and (max-width: 1680px) {
      width: 100%;
      height: 133px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }

  .padding-between {
    padding-left: 18px;
    padding-right: 18px;
  }

  .type-margin {
    position: absolute;
    bottom: -1.5px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 100%;

    @media screen and (max-width: 414px) {
      bottom: -3px;
    }
  }

  .gap {
    gap: 4rem;
    justify-content: center;

    @media screen and (max-width: 1920px) {
      gap: 2rem;
    }

    @media screen and (max-width: 1680px) {
      gap: 2rem;
    }

    @media screen and (max-width: 1536px) {
      gap: 2rem;
    }

    @media screen and (max-width: 1440px) {
      gap: 2rem;
    }

    @media screen and (max-width: 1200px) {
      gap: 1rem;
    }

    @media screen and (max-width: 768px) {
      gap: .5rem;
    }
  }
}

.services {
  padding: 0 104px;

  @media screen and (max-width: 1440px) {
    padding: 0 90px;
  }

  @media screen and (max-width: 1200px) {
    padding: 0 1rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0 .5rem;
  }

  @media screen and (max-width: 430px) {
    padding: 0;
  }

  .img-height {
    height: 540px;
    overflow: hidden;
    object-fit: fill;

    @media screen and (max-width: 1536px) {
      height: 488px;
    }

    // @media screen and (max-width: 1440px) {
    //   height: 400px;
    // }
    @media screen and (max-width: 768px) {
      // height: 300px;
      object-fit: cover;
    }
  }

  .card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 20px;
    transition: transform 0.3s ease;
    border: 1px solid #D1D1D1;
  }

  .card-content {
    padding: 22px 24px;

    @media screen and (max-width: 1440px) {
      padding: 20px 12px;
    }

    @media screen and (max-width: 1024px) {
      padding: 10px;
    }

    @media screen and (max-width: 768px) {
      padding: 10px;
    }

  }

  .services-images {
    border-radius: 25px;
    padding: 7px 7px 0;

    @media screen and (max-width: 768px) {
      padding: 6px 6px 0;
      border-radius: 20px;
    }

    @media screen and (max-width: 430px) {
      padding: 4px 4px 0;
    }
  }

  .service-para-width {
    width: 47%;

    @media screen and (max-width: 1920px) {
      width: 65%;
    }

    @media screen and (max-width: 1600px) {
      width: 75%;
    }

    @media screen and (max-width: 1440px) {
      width: 84%;
    }

    @media screen and (max-width: 1280px) {
      width: 92%;
    }

    @media screen and (max-width: 430px) {
      width: 100%;
    }
  }

  .topspace {
    top: -5%;

    @media (max-width: 768px) {
      top: 0%;
    }

    @media (max-width: 430px) {
      top: 13%;
    }
  }

  .topMargin {
    margin-top: -5%;
    padding: 0px 50px;

    @media (max-width: 1920px) {
      margin-top: -6%;
    }

    @media (max-width: 1536px) {
      margin-top: -4%;
    }

    @media (max-width: 1440px) {
      margin-top: -7%;
    }

    @media (max-width: 1280px) {
      margin-top: -7%;
      padding: 0px 30px;
    }

    @media (max-width: 1024px) {
      margin-top: -5%;
      padding: 0px 30px;
    }

    @media (max-width: 768px) {
      margin-top: 0%;
    }

    @media (max-width: 430px) {
      margin-top: -34%;
    }
  }

  .margin-x {
    margin: 0;

    @media screen and (max-width: 1440px) {
      margin-top: 0 30px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }
  }

  .padding-x {
    padding: 0 2rem;

    @media screen and (max-width: 1440px) {
      padding: 0 1rem;
    }

    @media screen and (max-width: 430px) {
      padding: 0;
    }
  }
}

// collections
.collection {
  padding-left: 7rem;

  @media screen and (max-width: 1440px) {
    padding-left: 5rem;
  }

  @media screen and (max-width: 1200px) {
    padding-left: 3.75rem;
  }

  @media screen and (max-width: 768px) {
    padding: 22px;
  }

  .margin-right {
    margin-right: 11rem;

    @media screen and (max-width: 1200px) {
      margin-right: 8rem;
    }

    @media screen and (max-width: 768px) {
      margin-right: 0;
    }
  }

  .card-content {
    padding: 0 26px 26px 26px;

    @media screen and (max-width: 1024px) {
      padding: 0 20px 20px 20px;
    }

    @media screen and (max-width: 768px) {
      padding: 0 10px 10px 10px;
    }

    @media screen and (max-width: 430px) {
      padding: 16px 10px 12px;
    }
  }
  .collection_image {
    width: 35px;
    height: 35px;

    @media screen and (max-width: 1440px) {
      width: 25px;
      height: 25px;
    }
  }

  .swiper {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    position: relative;

    .swiper-wrapper {
      align-items: stretch;
      display: flex;
      width: 100%;
    }

    .swiper-slide {
      height: auto;
      display: flex;
      align-items: stretch;
    }
  }

  .car-swiper-button-prev,
  .car-swiper-button-next,
  .yacht-swiper-button-prev,
  .yacht-swiper-button-next {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid black;
    transition: all 0.3s ease;

    &:hover {
      background: black;
      color: white;
    }

    &::after {
      display: none;
    }

    .swiper-button-icon {
      width: 24px;
      height: 24px;
      line-height: normal;
    }
  }

  .car-card {
    border: 1px solid #d1d1d1;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 15px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 12px;

    @media screen and (max-width: 768px) {
      padding: 10px;
    }

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }
  }

  .card-content {
    padding: 16px 18px 0;

    @media screen and (max-width: 1920px) {
      padding: 12px 14px 0;
    }

    @media screen and (max-width: 1400px) {
      padding: 10px 12px 0;
    }

    @media screen and (max-width: 768px) {
      padding: 8px 10px 0;
    }

    @media screen and (max-width: 430px) {
      padding: 16px 10px 12px;
    }
  }
}

.yacht-padding {
  padding-top: 120px;

  @media screen and (max-width: 1440px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 1200px) {
    padding-top: 60px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 20px;
  }
}

// About Us section
.about-us {
  padding: 0 116px;

  @media screen and (max-width: 1440px) {
    padding: 0 78px;
  }

  @media screen and (max-width: 1280px) {
    padding: 4rem;
  }

  @media screen and (max-width: 768px) {
    padding: 3rem 10px;
  }

  .div-height {
    height: 580px;

    @media screen and (max-width: 1440px) {
      height: 488px;
    }

    @media screen and (max-width: 768px) {
      height: 488px;
    }
  }
  .padding-x{
    padding: 0 10rem;
    @media screen and (max-width:1920px) {
      padding: 0; 
    }
  }

  .about-content {
    position: relative;
    z-index: 1;
    max-width: 900px;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1536px) {
      max-width: 814px;
    }

    @media screen and (max-width: 1440px) {
      max-width: 808px;
    }

    @media screen and (max-width: 1200px) {
      max-width: 729px;
    }

    @media screen and (max-width: 430px) {
      padding: 9px;
    }

    .heading-width {
      width: 65%;

      @media screen and (max-width: 1920px) {
        width: 63%;
      }

      @media screen and (max-width: 1600px) {
        width: 63%;
      }

      @media screen and (max-width: 1536px) {
        width: 61%;
      }

      @media screen and (max-width: 1440px) {
        width: 54%;
      }

      @media screen and (max-width: 1280px) {
        width: 46%;
      }

      @media screen and (max-width: 1200px) {
        width: 80%;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      @media screen and (max-width: 430px) {
        width: 75%;
      }

      @media screen and (max-width: 384px) {
        width: 65%;
      }

      @media screen and (max-width: 360px) {
        width: 66%;
      }
    }

  }

  .feature-icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }
}

.trending_cars {
  padding: 200px 116px 120px;

  @media screen and (max-width: 1536px) {
    padding: 150px 100px 120px;
  }

  @media screen and (max-width: 1440px) {
    padding: 80px 90px;
  }

  @media screen and (max-width: 1200px) {
    padding: 4rem 5rem;
  }

  @media screen and (max-width: 768px) {
    padding: 3rem 1rem;
  }

  .black-bg {
    top: 0%;
    transform: translateY(0%);
  }

  .trending-cars-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    row-gap: 5rem;

    @media (max-width: 1536px) {
      row-gap: 3rem;
    }

    @media (max-width: 1440px) {
      margin-top: 3rem;
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      margin-top: 1rem;
    }
  }

  .card-content {
    padding: 16px 16px 27px;

    @media screen and (max-width: 1536px) {
      padding: 12px 12px 22px;
    }

    @media screen and (max-width: 768px) {
      padding: 10px 10px 18px;
    }
  }

  .trending-main-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .trending-car-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    padding: 12px;
    border-radius: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;

    @media screen and (max-width: 768px) {
      padding: 10px;
    }

    &:hover {
      border: 1px solid white;
      border-radius: 1rem;
    }
  }



  .swiper-mobile {
    padding: 5rem 0rem 5rem 11rem;

    @media screen and (max-width: 1200px) {
      padding-left: 3.75rem;
    }

    @media screen and (max-width: 1200px) {
      padding: 0;
    }

    .margin-right {
      margin-right: 11rem;
    }

    .collection_image {
      width: 35px;
      height: 35px;
    }

    .swiper {
      width: 100%;
      padding: 10px 0;
      overflow: hidden;
      position: relative;

      .swiper-wrapper {
        align-items: stretch;
        display: flex;
        width: 100%;
      }

      .swiper-slide {
        height: auto;
        display: flex;
        align-items: stretch;

        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }

  .swiper-desktop {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    .swiper-desktop {
      display: block;
    }
  }

  .swiper-mobile {
    display: none;

    .trending-car-card {
      border: 1px solid #d1d1d1;
      height: 100%;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      width: 500px;
      cursor: pointer;
      padding: 12px;
      transition: box-shadow 0.3s ease, transform 0.3s ease;

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
      }

      @media screen and (max-width: 768px) {
        padding: 10px;
      }


    }
  }

  @media screen and (max-width: 1024px) {
    .swiper-mobile {
      display: block;
    }
  }
}

.black-bg {
  background-color: #1d1d1d;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  top: 26%;

  @media screen and (max-width: 1920px) {
    top: 31%;
  }

  @media screen and (max-width: 1680px) {
    top: 30%;
  }

  @media screen and (max-width: 1600px) {
    top: 30%;
  }

  @media screen and (max-width: 1440px) {
    top: 24%;
  }

  @media screen and (max-width: 1200px) {
    top: 22%;
  }

  @media screen and (max-width: 768px) {
    top: 22%;
  }

  @media screen and (max-width: 430px) {
    top: 17%;
  }
}