<section class="home bannerPadding">
  <div class="container-fluid position-relative p-0 h-100">
    <img
      *ngIf="bannerData && bannerData.media_data.length > 0"
      src="{{ backendURl }}/banner/{{ bannerData.media_data[0].src }}"
      alt="Limousine on road"
      class="w-100 h-100 rounded-4"
      loading="lazy"
      decoding="async"
    />

    <div class="content" *ngIf="!bannerData">
      <h1 class="size90 performa-thin white-color line-height90">
        Drive <br />Your Dream
      </h1>
      <p class="size20 redhat-regular hero-para beige-color line-height26">
        Welcome to our limousine rental website, we offer luxury transportation
        services for any occasion, from weddings and proms to corporate events
        and airport transferes.
      </p>
      <button class="white-border-button size18 redhat-bold">Book Now</button>
    </div>

    <div class="content" *ngIf="bannerData">
      <h1
        class="size90 performa-thin white-color line-height90"
        [innerHtml]="bannerData.short_desc"
      ></h1>
      <p
        class="size20 redhat-regular hero-para beige-color line-height26"
        [innerHtml]="bannerData.description"
      ></p>
      <button class="white-border-button size18 redhat-bold">Book Now</button>
    </div>

    <div class="form-content">
      <form class="quick-reservation-form">
        <h2 class="text-center mb-1 size28 redhat-bold black-color">
          Quick Reservation
        </h2>

        <div class="d-flex justify-content-center align-items-center gap-2">
          <h5 class="size18 redhat-bold text-uppercase m-0 black-color">
            Cars
          </h5>
          <div
            id="vehicleToggle"
            class="vehicle-switch"
            (click)="toggleVehicle()"
            [class.active]="isVehicleYacht"
            tabindex="0"
            role="switch"
            aria-checked="false"
          >
            <span class="vehicle-switch-slider"></span>
          </div>
          <h5 class="size18 redhat-bold text-uppercase m-0 black-color">
            Yachts
          </h5>
        </div>

        <div id="carForm" class="car-form">
          <div class="row">
            <div class="mb-3 col-6">
              <select
                class="form-select"
                (change)="selectData('body_type', $event)"
              >
                <option value="" class="size14 redhat-semibold">Type</option>
                <option
                  value="{{ bodytype.url_key }}"
                  class="size14 redhat-semibold"
                  *ngFor="let bodytype of filteredBodytype"
                >
                  {{ bodytype.name }}
                </option>
              </select>
            </div>

            <div class="mb-3 col-6">
              <!-- <label class="form-label size18 redhat-bold">Model</label> -->
              <select
                class="form-select"
                (change)="selectData('brand', $event)"
              >
                <option value="" class="size14 redhat-semibold">Brands</option>
                <option
                  value="{{ model.url_key }}"
                  class="size14 redhat-semibold"
                  *ngFor="let model of filteredBrands"
                >
                  {{ model.name }}
                </option>
              </select>
            </div>
            <div class="mb-3 col-12">
              <label class="form-label size18 redhat-bold black-color"
                >Pickup</label
              >
              <div class="row">
                <div class="col-6 mb-3">
                  <input
                    type="date"
                    [(ngModel)]="selelctedstartDate"
                    name="selelctedstartDate"
                    class="form-input"
                  />
                </div>
                <div class="col-6 mb-3">
                  <input
                    type="time"
                    [(ngModel)]="selectedstartTime"
                    name="selectedstartTime"
                    class="form-input"
                  />
                </div>
              </div>
              <input type="text" class="form-input" placeholder="Address" />
            </div>
            <div class="mb-md-5 mb-3 col-md-12 col-12">
              <label class="form-label size18 redhat-bold black-color"
                >Return</label
              >
              <div class="row">
                <div class="col-6 mb-3">
                  <input
                    type="date"
                    [(ngModel)]="selelctedendDate"
                    name="selelctedendDate"
                    class="form-input"
                  />
                </div>
                <div class="col-6 mb-3">
                  <input
                    type="time"
                    [(ngModel)]="selectedendTime"
                    name="selectedendTime"
                    class="form-input"
                  />
                </div>
              </div>
              <input type="text" class="form-input" placeholder="Address" />
            </div>
          </div>

          <button
            type="submit"
            class="black-button d-flex mx-auto size18 redhat-bold"
            (click)="goToResults()"
          >
            Book Now
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="car-types-section sectionPadding">
  <h3 class="text-center mb-3 size22 redhat-bold">Browse by Car Type</h3>
  <div class="container-fluid">
    <div class="row">
      <div
        *ngFor="let car of cartypeData"
        class="col-xl-2 col-md-4 col-3 d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="{{ backendURl }}/cartype/{{ car.image[0].src }}"
          [alt]="car.name"
          class="category-image"
          [routerLink]="['/product/list', car.url_key]"
          routerLinkActive="router-link-active"
        />
        <p
          class="size18 redhat-semibold text-center m-0"
          [routerLink]="['/product/list', car.url_key]"
          routerLinkActive="router-link-active"
        >
          {{ car.name }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="services sectionPadding position-relative">
  <div class="container-fluid">
    <div class="position-relative service-banner">
      <div class="img-container position-absolute top-0 start-0 h-100 w-100">
        <img
          src="{{ imageURL }}/home/services/services1.png"
          alt=""
          class="w-100 h-100 object-fit-cover"
        />
        <span class="overlay"></span>
        <div class="services-content">
          <h3
            class="size22 redhat-bold text-capitalize text-center beige-color"
          >
            our Services
          </h3>
          <h2
            class="size60 performa-light text-capitalize text-center beige-color"
          >
            Drive Your Dream
          </h2>
          <p class="size20 redhat-regular text-center white-color">
            Welcome to our limousine rental website, we offer luxury
            transportation services for any occasion, from weddings and proms to
            corporate events and airport transfers.
          </p>
          <button
            class="white-button d-flex mx-auto my-4 size18 redhat-bold text-capitalize"
          >
            view all
          </button>
        </div>
      </div>
    </div>

    <div class="card-container position-relative">
      <div class="position-absolute h-100 w-100 cards px-lg-5">
        <div class="row justify-content-md-center">
          <div class="col-xl-4 col-md-7 mb-md-4 mb-xl-0">
            <div class="card h-100">
              <div class="img-cont p-1">
                <img
                  src="{{ imageURL }}/home/services/car-rental.jpg"
                  alt=""
                  class="services-images"
                />
              </div>
              <div class="card-content">
                <h4
                  class="size26 redhat-semibold text-capitalize gray-color mb-3"
                >
                  Luxury car Rental
                </h4>
                <p class="size18 redhat-semibold color-card-p mb-5">
                  Choose from top brands like Lamborghini, Rolls-Royce, and
                  Range Rover. Enjoy daily or long-term rentals with free
                  delivery across the UAE.
                </p>
                <a
                  class="size16 redhat-semibold text-capitalize text-decoration-none color-card-p"
                >
                  know more
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-7 mb-md-4 mb-xl-0">
            <div class="card h-100">
              <div class="img-cont p-1">
                <img
                  src="{{ imageURL }}/home/services/yacht_rental.png"
                  alt=""
                  class="services-images"
                />
              </div>
              <div class="card-content">
                <h4
                  class="size26 redhat-semibold text-capitalize gray-color mb-3"
                >
                  Luxury Yacht Rental
                </h4>
                <p class="size18 redhat-semibold color-card-p mb-5">
                  Book private yachts for parties, getaways, or events. Includes
                  crew, catering options, and scenic routes like Marina &
                  Atlantis.
                </p>
                <a
                  class="size16 redhat-semibold text-capitalize text-decoration-none color-card-p"
                >
                  know more
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-7 mb-md-4 mb-xl-0">
            <div class="card h-100">
              <div class="img-cont p-1">
                <img
                  src="{{ imageURL }}/home/services/chauffeur.png"
                  alt=""
                  class="services-images"
                />
              </div>
              <div class="card-content">
                <h4
                  class="size26 redhat-semibold text-capitalize gray-color mb-3"
                >
                  Luxury Chauffeur Services
                </h4>
                <p class="size18 redhat-semibold color-card-p mb-5">
                  Professional chauffeurs, luxury cars, and on-time service for
                  VIPs, weddings, or airport transfers transfers.
                </p>
                <a
                  class="size16 redhat-semibold text-capitalize text-decoration-none color-card-p"
                >
                  know more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="collection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 pb-5">
        <div
          class="d-flex justify-content-between align-items-center mb-4 margin-right"
        >
          <h3 class="text-capitalize size60 performa-light">
            our car collection
          </h3>
          <button class="black-button size18 redhat-bold">view all</button>
        </div>

        <div class="position-relative">
          <div class="swiper car-collection-swiper" #carSwiper>
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let car of ourCarCollections">
                <div class="car-card">
                  <img
                    *ngIf="car.media_data && car.media_data.length > 0"
                    src="{{ backendURl }}/media/{{ car.media_data[0].src }}"
                    [alt]="car.name"
                    class="img-fluid rounded w-100"
                  />
                  <div class="car-info">
                    <h4 class="car-name mb-1 size26 redhat-semibold">
                      {{ car.name }}
                    </h4>
                    <h6 class="transmission text-muted size18 redhat-semibold">
                      {{ car.transmission }}
                    </h6>
                  </div>

                  <div
                    class="d-flex justify-content-between border-top border-bottom"
                    style="padding: 1rem 2rem"
                  >
                    <div class="text-center">
                      <img
                        src="{{ imageURL }}/home/collection/fuel_icon.png"
                        class="img-fluid collection_image"
                        alt=""
                      />
                      <h6 class="mb-0 size16 redhat-semibold">
                        {{ car.fuelType }}
                      </h6>
                    </div>
                    <div class="text-center">
                      <img
                        src="{{ imageURL }}/home/collection/speed_icon.png"
                        class="img-fluid collection_image"
                        alt=""
                      />
                      <h6 class="mb-0 size16 redhat-semibold">
                        {{ car.mileage }}
                      </h6>
                    </div>
                    <div class="text-center">
                      <img
                        src="{{ imageURL }}/home/collection/seat_icon.png"
                        class="img-fluid collection_image"
                        alt=""
                      />
                      <h6 class="mb-0 size16 redhat-semibold">
                        {{ car.seating_capacity }} Seats
                      </h6>
                    </div>
                  </div>

                  <div
                    class="cash-container mt-2 d-flex justify-content-between align-items-center"
                  >
                    <div class="cash">
                      <h6 class="text-muted mb-0 size18 redhat-semibold">
                        <del>AED {{ car.regularRate }}</del>
                      </h6>
                      <h5 class="mb-0 size26 redhat-semibold">
                        AED {{ car.dailyRate }}
                      </h5>
                    </div>
                    <a
                      href="#"
                      class="color-card-p p-0 mt-auto text-decoration-none"
                      >View More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-start gap-2 d-flex mt-5">
            <div class="button car-swiper-button-prev">
              <lucide-icon
                name="arrow-left"
                class="swiper-button-icon"
              ></lucide-icon>
            </div>
            <div class="button car-swiper-button-next">
              <lucide-icon
                name="arrow-right"
                class="swiper-button-icon"
              ></lucide-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="collection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div
          class="d-flex justify-content-between align-items-center mb-4 margin-right"
        >
          <h3 class="text-capitalize size60 performa-light">
            our yacht collection
          </h3>
          <button class="black-button size18 redhat-bold">view all</button>
        </div>

        <div class="position-relative">
          <div class="swiper yacht-collection-swiper" #yachtSwiper>
            <div class="swiper-wrapper">
              <div
                class="swiper-slide"
                *ngFor="let yacht of ouryatchsCollections"
              >
                <div class="car-card">
                  <img
                    *ngIf="yacht.media_data && yacht.media_data.length > 0"
                    src="{{ backendURl }}/media/{{ yacht.media_data[0].src }}"
                    [alt]="yacht.name"
                    class="img-fluid rounded w-100"
                  />
                  <div class="car-info">
                    <h4 class="car-name mb-1 size26 redhat-semibold">
                      {{ yacht.name }}
                    </h4>
                    <h6 class="transmission text-muted size18 redhat-semibold">
                      {{ yacht.type }}
                    </h6>
                  </div>

                  <div
                    class="d-flex justify-content-between border-top border-bottom"
                    style="padding: 1rem 2rem"
                  >
                    <div class="text-center">
                      <img
                        src="{{ imageURL }}/home/collection/fuel_icon.png"
                        class="img-fluid collection_image"
                        alt=""
                      />
                      <h6 class="mb-0 size16 redhat-semibold">
                        {{ yacht.length }}
                      </h6>
                    </div>
                    <div class="text-center">
                      <img
                        src="{{ imageURL }}/home/collection/speed_icon.png"
                        class="img-fluid collection_image"
                        alt=""
                      />
                      <h6 class="mb-0 size16 redhat-semibold">
                        {{ yacht.cabins }} Cabins
                      </h6>
                    </div>
                    <div class="text-center">
                      <img
                        src="{{ imageURL }}/home/collection/seat_icon.png"
                        class="img-fluid collection_image"
                        alt=""
                      />
                      <h6 class="mb-0 size16 redhat-semibold">
                        {{ yacht.guests }} Guests
                      </h6>
                    </div>
                  </div>
                  <div
                    class="cash-container mt-2 d-flex justify-content-between align-items-center"
                  >
                    <div class="cash">
                      <h6 class="text-muted mb-0 size18 redhat-semibold">
                        <del>AED {{ yacht.regularRate }}</del>
                      </h6>
                      <h5 class="mb-0 size26 redhat-semibold">
                        AED {{ yacht.dailyRate }}
                      </h5>
                    </div>
                    <a
                      href="#"
                      class="color-card-p p-0 mt-auto text-decoration-none"
                      >View More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-start gap-2 d-flex mt-5">
            <div class="button yacht-swiper-button-prev">
              <lucide-icon
                name="arrow-left"
                class="swiper-button-icon"
              ></lucide-icon>
            </div>
            <div class="button yacht-swiper-button-next">
              <lucide-icon
                name="arrow-right"
                class="swiper-button-icon"
              ></lucide-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-brands
  title="Explore Our Premium Brands"
  titleClass="text-center size60 performa-light text-uppercase mb-5"
></app-brands>

<section class="about-us w-100 min-vh-100 position-relative overflow-hidden">
  <div class="d-flex flex-column w-100">
    <div class="position-relative w-100 div-height">
      <img
        src="{{ imageURL }}/home/about_us.png"
        alt="Luxury car and yacht rental"
        class="rounded-4 position-absolute top-0 start-0 w-100 h-100 object-fit-cover z-1"
      />
      <div class="about-content">
        <h3 class="size22 redhat-bold text-capitalize white-color">about us</h3>
        <h1 class="size60 performa-light text-capitalize white-color">
          Driven By Luxury. <br />Defined By Experience.
        </h1>
        <p class="size20 redhat-regular text-center white-color">
          At GhostRental.ae, we specialize in providing elite rental services
          across the UAE — from luxury cars and private yachts to executive
          chauffeur experiences. Built on trust, discretion, and premium
          service, our brand caters to individuals who expect nothing but the
          best.
        </p>
        <button class="white-button size18 redhat-bold text-capitalize">
          know more
        </button>
      </div>
    </div>

    <div class="black-bg"></div>
    <div class="container-fluid mt-5">
      <h3 class="text-center my-5 size60 performa-light white-color">
        What Sets Us Apart?
      </h3>
      <div class="features-grid">
        <div class="feature-item" *ngFor="let feature of features">
          <img
            [src]="imageURL + '/' + feature.image"
            [alt]="feature.title"
            class="feature-icon"
          />
          <h4 class="size26 redhat-semibold white-color">
            {{ feature.title }}
          </h4>
          <p class="size18 redhat-semibold white-color">
            {{ feature.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="trending_cars sectionPadding w-100 position-relative overflow-hidden"
>
  <div class="black-bg"></div>
  desktop
  <div class="container-fluid swiper-desktop">
    <h3
      class="text-center size60 performa-light white-color text-capitalize mb-4"
    >
      trending rental cars
    </h3>
    <h6
      class="text-center size18 redhat-semibold text-capitalize gray-light-color"
    >
      rent all popular cars
    </h6>

    <div class="px-4 w-100 mx-auto my-0">
      <div class="trending-cars-grid">
        <div *ngFor="let car of trendingRentalCars" class="trending-car-card">
          <img
            src="{{ backendURl }}/media/{{ car.media_data[0].src }}"
            [alt]="car.name"
            class="trending-car-image"
          />
          <div class="car-info p-3">
            <h4 class="car-name size35 redhat-semibold white-color">
              {{ car.name }}
            </h4>
            <h6 class="car-spec size24 redhat-semibold gray-light-color">
              {{ car.transmission }}
            </h6>
          </div>
          <div
            class="car-pricing p-3 pt-0 d-flex justify-content-between align-items-end"
          >
            <div class="d-flex flex-column">
              <span
                class="original-price size24 redhat-semibold gray-light-color"
                >AED {{ car.regularRate }}</span
              >
              <span class="discounted-price size35 redhat-semibold white-color"
                >AED {{ car.dailyRate }}</span
              >
            </div>
            <a
              href="#"
              class="p-0 mt-auto text-decoration-none gray-light-color size22 redhat-semibold"
              >View details</a
            >
          </div>
        </div>
      </div>
    </div>
    <button
      class="white-button d-flex mx-auto size18 redhat-bold text-capitalize my-5"
    >
      view all
    </button>
  </div>

  <!-- mobile -->
  <div class="container-fluid swiper-mobile">
    <div class="row">
      <div class="col-12 pb-5">
        <div
          class="d-flex flex-column justify-content-between align-items-center mb-4"
        >
          <h3
            class="text-center size60 performa-light white-color text-capitalize mb-4"
          >
            trending rental cars
          </h3>
          <h6
            class="text-center size18 redhat-semibold text-capitalize gray-light-color"
          >
            rent all popular cars
          </h6>
        </div>

        <div class="position-relative">
          <div class="swiper car-collection-swiper" #carSwiper>
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let car of trendingRentalCars">
                <div class="trending-car-card">
                  <img
                    src="{{ backendURl }}/media/{{ car.media_data[0].src }}"
                    [alt]="car.name"
                    class="trending-car-image"
                  />
                  <div class="car-info p-3">
                    <h4 class="car-name size35 redhat-semibold white-color">
                      {{ car.name }}
                    </h4>
                    <h6
                      class="car-spec size24 redhat-semibold gray-light-color"
                    >
                      {{ car.transmission }}
                    </h6>
                  </div>
                  <div
                    class="car-pricing p-3 pt-0 d-flex justify-content-between align-items-end"
                  >
                    <div class="d-flex flex-column">
                      <span
                        class="original-price size24 redhat-semibold gray-light-color"
                        >AED {{ car.regularRate }}</span
                      >
                      <span
                        class="discounted-price size35 redhat-semibold white-color"
                        >AED {{ car.dailyRate }}</span
                      >
                    </div>
                    <a
                      href="#"
                      class="p-0 mt-auto text-decoration-none gray-light-color size22 redhat-semibold"
                      >View details</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="text-start gap-2 d-flex mt-5">
            <div class="button car-swiper-button-prev">
              <lucide-icon
                name="arrow-left"
                class="swiper-button-icon"
              ></lucide-icon>
            </div>
            <div class="button car-swiper-button-next">
              <lucide-icon
                name="arrow-right"
                class="swiper-button-icon"
              ></lucide-icon>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <button
      class="white-button d-flex mx-auto size18 redhat-bold text-capitalize my-5"
    >
      view all
    </button>
  </div>
</section>

<app-testimonials></app-testimonials>
