<section class="min-vh-100 sectionPadding search-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-3 filter-section">
        <div
          class="border border-2 rounded-4 p-xl-4 p-md-3 p-2 filter-container position-sticky filter-container"
          style="top: 11rem; transition: all 0.3s ease"
          #filterContainer
          [class.collapse-height]="isFilterCollapsed"
        >
          <div class="desktop-filter-container custom-filter">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="{{ imageURL }}/product-details/overview_icons/filter.svg"
                  alt="Filter"
                  class="img-fluid"
                  style="width: 20px"
                />
                <h6 class="mb-0 size18 redhat-semibold">Filter</h6>
              </div>
              <!-- <button
                class="btn gray-color p-0"
                (click)="toggleFilter()"
                type="button"
              >
                <lucide-icon
                  [name]="isFilterCollapsed ? 'plus' : 'minus'"
                  size="20"
                />
              </button> -->
            </div>

            <div id="desktopFilter" [class.collapsed]="isFilterCollapsed">
              <!-- Special Number Plate -->
              <label
                class="form-label gray-light-color size14 redhat-semibold mb-1 mt-xl-3 mt-lg-3 mt-0"
                >Special Number Plate</label
              >
              <div class="filter-section">
                <select
                  class="form-selection size16 redhat-semibold"
                  (change)="onChangeSpecialNumber($event)"
                  (click)="
                    $event.stopPropagation(); toggleSelectDropdown($event)
                  "
                  (blur)="onSelectBlur($event)"
                >
                  <option value="">Select Special Number Plate</option>
                  <option value="true">Enable</option>
                  <option value="false">Disable</option>
                </select>
                <lucide-icon name="chevron-down" size="20" />
              </div>
              <!-- Rental Type -->
              <label
                class="form-label gray-light-color size14 redhat-semibold mb-1"
                >Rental Type</label
              >
              <div class="filter-section">
                <select
                  class="form-selection size16 redhat-semibold"
                  (change)="changeRentalType($event)"
                  (click)="
                    $event.stopPropagation(); toggleSelectDropdown($event)
                  "
                  (blur)="onSelectBlur($event)"
                >
                  <option value="">Select Rental Type</option>
                  <option value="Daily">Daily</option>
                  <option value="Hourly">Hourly</option>
                  <option value="Weekly">Weekly</option>
                  <option value="Monthly">Monthly</option>
                </select>
                <lucide-icon name="chevron-down" size="20" />
              </div>
              <!-- Body Type -->
              <label
                class="form-label size14 redhat-semibold mb-1 gray-light-color"
                >Body Type</label
              >
              <div class="filter-section">
                <select
                  class="form-selection size16 redhat-semibold"
                  name="bodytype"
                  #selbodyType
                  (change)="changeBodyType($event)"
                  (click)="
                    $event.stopPropagation(); toggleSelectDropdown($event)
                  "
                  (blur)="onSelectBlur($event)"
                >
                  <option value="">Select Body Type</option>
                  <option
                    *ngFor="let item of bodyTypeData"
                    value="{{ item._id }}"
                  >
                    {{ item.name }}
                  </option>
                </select>
                <lucide-icon name="chevron-down" size="20" />
              </div>
              <!-- Car Brand -->
              <label
                class="form-label size14 redhat-semibold mb-1 gray-light-color"
                >Car Brand</label
              >
              <div class="filter-section">
                <select
                  class="form-selection size16 redhat-semibold"
                  #selBrand
                  name="brand"
                  (change)="changeBrand($event)"
                  (click)="
                    $event.stopPropagation(); toggleSelectDropdown($event)
                  "
                  (blur)="onSelectBlur($event)"
                >
                  <option value="">Select Car Brand</option>
                  <option *ngFor="let item of brandData" value="{{ item._id }}">
                    {{ item.name }}
                  </option>
                </select>
                <lucide-icon name="chevron-down" size="20" />
              </div>
              <!-- Car Model -->
              <label
                class="form-label size14 redhat-semibold mb-1 gray-light-color"
                >Car Model</label
              >
              <div class="filter-section">
                <select
                  class="form-selection size16 redhat-semibold"
                  #selctModel
                  name="model"
                  (change)="changeModel($event)"
                  (click)="
                    $event.stopPropagation(); toggleSelectDropdown($event)
                  "
                  (blur)="onSelectBlur($event)"
                >
                  <option value="">Select Car Model</option>
                  <option
                    *ngFor="let item of filteredModel"
                    value="{{ item._id }}"
                  >
                    {{ item.name }}
                  </option>
                </select>
                <lucide-icon name="chevron-down" size="20" />
              </div>
              <!-- Date From -->
              <label
                class="form-label size14 redhat-semibold mb-1 gray-light-color"
                >Date From</label
              >
              <div class="filter-section">
                <span
                  *ngIf="!availableStartDate"
                  class="size16 redhat-semibold position-absolute text-capitalize bg-white h-50 label-text"
                  >Start date</span
                >

                <input
                  type="datetime-local"
                  class="form-controls size16 redhat-semibold mb-2"
                  [(ngModel)]="availableStartDate"
                />
                <lucide-icon name="calendar-days" size="20"></lucide-icon>
              </div>
              <!-- Date To -->
              <label
                class="form-label size14 redhat-semibold mb-1 gray-light-color"
                >Date To</label
              >
              <div class="filter-section">
                <span
                  *ngIf="!availableendDate"
                  class="size16 redhat-semibold position-absolute text-capitalize bg-white h-50 label-text"
                  >End date</span
                >

                <input
                  type="datetime-local"
                  class="form-controls size16 redhat-semibold mb-2"
                  [(ngModel)]="availableendDate"
                />
                <lucide-icon name="calendar-days" size="20"></lucide-icon>
              </div>

              <!-- Price Range -->
              <div class="price-wrapper">
                <label
                  class="form-label size14 redhat-semibold mb-1 gray-light-color"
                >
                  Price Range (AED)
                </label>

                <!-- Price Inputs -->
                <div class="row">
                  <div class="col-6">
                    <label
                      for="minPrice"
                      class="form-label size14 redhat-semibold mb-1 gray-light-color"
                      >Min</label
                    >
                    <input
                      type="number"
                      id="minPrice"
                      [(ngModel)]="minPrice"
                      (change)="onPriceInputChange('min')"
                      min="0"
                      max="{{ maxPrice - 500 }}"
                      class="form-controls size16 redhat-semibold mb-2"
                    />
                  </div>
                  <div class="col-6">
                    <label
                      for="maxPrice"
                      class="form-label size14 redhat-semibold mb-1 gray-light-color"
                      >Max</label
                    >
                    <input
                      type="number"
                      id="maxPrice"
                      [(ngModel)]="maxPrice"
                      (change)="onPriceInputChange('max')"
                      min="{{ minPrice + 500 }}"
                      max="10000"
                      class="form-controls size16 redhat-semibold mb-2"
                    />
                  </div>
                </div>

                <!-- Slider -->
                <div class="slider" id="slider">
                  <div class="slider-range" id="slider-range"></div>
                  <div
                    class="slider-thumb"
                    id="thumb-min"
                    role="slider"
                    aria-valuemin="0"
                    aria-valuemax="10000"
                    [attr.aria-valuenow]="minPrice"
                    tabindex="0"
                  ></div>
                  <div
                    class="slider-thumb"
                    id="thumb-max"
                    role="slider"
                    aria-valuemin="0"
                    aria-valuemax="10000"
                    [attr.aria-valuenow]="maxPrice"
                    tabindex="0"
                  ></div>
                </div>
              </div>

              <!-- Search Button -->
              <button
                class="black-button w-100 size16 redhat-semibold mt-4"
                (click)="SearchItems()"
              >
                Search
              </button>
            </div>
          </div>

          <div
            class="mobile-filter-container d-xl-none d-lg-none d-md-block d-block"
          >
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="{{ imageURL }}/product-details/overview_icons/filter.svg"
                  alt="Filter"
                  class="img-fluid"
                  style="width: 20px"
                />
                <h6 class="mb-0 size18 redhat-semibold">Filter</h6>
              </div>

              <button
                class="bg-transparent gray-color p-0 border-0"
                style="background: transparent; border: none"
                (click)="toggleFilter()"
                type="button"
              >
                <lucide-icon
                  [name]="isMobileFilterVisible ? 'minus' : 'plus'"
                  size="20"
                />
              </button>
            </div>

            <div
              class="mobile-filter p-3 bg-white z-index-1 d-xl-none d-lg-none d-md-block d-block border border-2 rounded-4 mt-md-2 mt-1"
              [class.show]="isMobileFilterVisible"
              *ngIf="isMobileFilterVisible"
            >
              <div class="mobile-filter-content">
                <!-- <div
                  class="d-flex justify-content-between align-items-center mb-4"
                >
                  <div class="d-flex align-items-center gap-3">
                    <img
                      src="{{
                        imageURL
                      }}/product-details/overview_icons/filter.svg"
                      alt="Filter"
                      class="img-fluid h-100"
                    />
                    <h4 class="mb-0 size18 redhat-semibold">Filter</h4>
                  </div>
                  <button
                    class="btn gray-color"
                    (click)="closeMobileFilter()"
                    aria-label="Close"
                  >
                    <lucide-icon name="x" />
                  </button>
                </div> -->

                <!-- Special Number Plate -->
                <label
                  class="form-label gray-light-color size14 redhat-semibold mt-xl-4 mb-xl-1 mb-1"
                  >Special Number Plate</label
                >
                <div class="filter-section">
                  <select
                    class="form-selection size16 redhat-semibold"
                    (change)="onChangeSpecialNumber($event)"
                    (click)="
                      $event.stopPropagation(); toggleSelectDropdown($event)
                    "
                    (blur)="onSelectBlur($event)"
                  >
                    <option value="">Select Special Number Plate</option>
                    <option value="true">Enable</option>
                    <option value="false">Disable</option>
                  </select>

                  <lucide-icon name="chevron-down" size="20" />
                </div>

                <!-- Rental Type -->
                <label
                  class="form-label gray-light-color size14 redhat-semibold mb-1"
                  >Rental Type</label
                >
                <div class="filter-section">
                  <select
                    class="form-selection size16 redhat-semibold"
                    (change)="changeRentalType($event)"
                    (click)="
                      $event.stopPropagation(); toggleSelectDropdown($event)
                    "
                    (blur)="onSelectBlur($event)"
                  >
                    <option value="">Select Rental Type</option>
                    <option value="Daily">Daily</option>
                    <option value="Hourly">Hourly</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                  </select>
                  <lucide-icon name="chevron-down" size="20" />
                </div>

                <!-- Body Type -->
                <label
                  class="form-label size14 redhat-semibold mb-1 gray-light-color"
                  >Body Type</label
                >
                <div class="filter-section">
                  <select
                    class="form-selection size16 redhat-semibold"
                    name="bodytype"
                    #selbodyType
                    (change)="changeBodyType($event)"
                    (click)="
                      $event.stopPropagation(); toggleSelectDropdown($event)
                    "
                    (blur)="onSelectBlur($event)"
                  >
                    <option value="">Select Body Type</option>
                    <option
                      *ngFor="let item of bodyTypeData"
                      value="{{ item._id }}"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                  <lucide-icon name="chevron-down" size="20" />
                </div>
                <!-- Car Brand -->
                <label
                  class="form-label size14 redhat-semibold mb-1 gray-light-color"
                  >Car Brand</label
                >
                <div class="filter-section">
                  <select
                    class="form-selection size16 redhat-semibold"
                    #selBrand
                    name="brand"
                    (change)="changeBrand($event)"
                    (click)="
                      $event.stopPropagation(); toggleSelectDropdown($event)
                    "
                    (blur)="onSelectBlur($event)"
                  >
                    <option value="">Select Car Brand</option>
                    <option
                      *ngFor="let item of brandData"
                      value="{{ item._id }}"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                  <lucide-icon name="chevron-down" size="20" />
                </div>
                <!-- Car Model -->
                <label
                  class="form-label size14 redhat-semibold mb-1 gray-light-color"
                  >Car Model</label
                >
                <div class="filter-section">
                  <select
                    class="form-selection size16 redhat-semibold"
                    #selctModel
                    name="model"
                    (change)="changeModel($event)"
                    (click)="
                      $event.stopPropagation(); toggleSelectDropdown($event)
                    "
                    (blur)="onSelectBlur($event)"
                  >
                    <option value="">Select Car Model</option>
                    <option
                      *ngFor="let item of filteredModel"
                      value="{{ item._id }}"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                  <lucide-icon name="chevron-down" size="20" />
                </div>
                <!-- Date From -->
                <label
                  class="form-label size14 redhat-semibold mb-1 gray-light-color"
                  >Date From</label
                >
                <div class="filter-section">
                  <span
                    *ngIf="!availableStartDate"
                    class="size16 redhat-semibold position-absolute text-capitalize bg-white h-50"
                    style="top: 20%; left: 4%; width: 77%"
                    >Start date</span
                  >

                  <input
                    type="datetime-local"
                    class="form-controls size16 redhat-semibold mb-1"
                    [(ngModel)]="availableStartDate"
                  />
                  <lucide-icon name="calendar-days" size="15"></lucide-icon>
                </div>
                <!-- Date To -->
                <label
                  class="form-label size14 redhat-semibold mb-1 gray-light-color"
                  >Date To</label
                >
                <div class="filter-section">
                  <span
                    *ngIf="!availableendDate"
                    class="size16 redhat-semibold position-absolute text-capitalize bg-white h-50"
                    style="top: 20%; left: 4%; width: 77%"
                    >End date</span
                  >

                  <input
                    type="datetime-local"
                    class="form-controls size16 redhat-semibold mb-1"
                    [(ngModel)]="availableendDate"
                  />
                  <lucide-icon name="calendar-days" size="15"></lucide-icon>
                </div>

                <!-- Price -->
                <div class="price-range-wrapper">
                  <label
                    class="form-label size14 redhat-semibold mb-1 gray-light-color"
                  >
                    Price (AED)
                  </label>

                  <div class="price-inputs d-flex gap-2 mb-1">
                    <input
                      type="number"
                      #minPriceInput
                      id="minPrice"
                      min="0"
                      class="form-controls size16 redhat-semibold mb-1"
                      [(ngModel)]="minPrice"
                    />
                    <input
                      type="number"
                      #maxPriceInput
                      id="maxPrice"
                      min="0"
                      class="form-controls size16 redhat-semibold mb-1"
                      [(ngModel)]="maxPrice"
                    />
                  </div>

                  <div
                    class="slider d-flex gap-2 position-relative"
                    style="width: 100%; height: 30px"
                  >
                    <div class="slider-track"></div>
                    <div class="slider-range" id="slider-range"></div>

                    <input
                      type="range"
                      #rangeMin
                      id="rangeMin"
                      min="0"
                      max="10000"
                      step="50"
                      class="form-range position-absolute w-100"
                      [(ngModel)]="minPrice"
                      (input)="updateSlider()"
                    />
                    <input
                      type="range"
                      #rangeMax
                      id="rangeMax"
                      min="0"
                      max="10000"
                      step="50"
                      class="form-range position-absolute w-100"
                      [(ngModel)]="maxPrice"
                      (input)="updateSlider()"
                    />
                  </div>
                </div>

                <!-- Search Button -->
                <button
                  class="black-button w-100 size16 redhat-semibold mt-4"
                  (click)="SearchItems()"
                  (click)="toggleFilter()"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="results-section col-xl-9 col-lg-9 col-md-12 col-12"
        #resultsSection
        [ngClass]="{
          'col-xl-12 col-lg-12 col-md-12 col-12': isFilterCollapsed,
          'col-xl-9 col-lg-9': !isFilterCollapsed
        }"
      >
        <!-- <div class="container-fluid"> -->
        <div
          class="d-flex justify-content-between align-items-center my-md-3 my-2"
        >
          <h6 class="mb-0 size22 redhat-bold d-md-block d-none color-card-p">
            Showing {{ (currentPage - 1) * itemsPerPage + 1 }} to
            {{ Math.min(currentPage * itemsPerPage, totalItems) }} of
            {{ totalItems }} vehicles
          </h6>

          <select
            class="border-0 outline-none size16 redhat-semibold text-capitalize"
            (change)="onChangeSort($event)"
          >
            <option
              selected
              disabled
              class="text-muted size14 redhat-semibold text-capitalize"
            >
              Sort by any makes
            </option>
            <option value="A-Z" class="size14 redhat-semibold text-capitalize">
              Sort by A - Z
            </option>
            <option value="H-L" class="size14 redhat-semibold text-capitalize">
              Price: High to Low
            </option>
            <option value="L-H" class="size14 redhat-semibold text-capitalize">
              Price: Low to High
            </option>
            <option value="old" class="size14 redhat-semibold text-capitalize">
              Old to New
            </option>
            <option
              value="relevance"
              class="size14 redhat-semibold text-capitalize"
            >
              Relevance
            </option>
          </select>
        </div>
        <div class="products">
          <div class="row">
            <div
              class="col-xl-4 col-lg-4 col-md-6 col-12 mb-xl-5 mb-4"
              *ngFor="let car of vehicleData"
            >
              <div class="car-card rounded-4">
                <img
                  src="{{ backendURl }}/media/{{ car.media_data[0].src }}"
                  [alt]="car.name"
                  class="img-fluid rounded-4 w-100 thumbnail-image h-100"
                />
                <div class="card-content">
                  <div
                    class="car-info pb-xl-3 d-flex justify-content-between align-items-center"
                  >
                    <div class="car-header">
                      <h4
                        class="car-name mb-1 size26 redhat-semibold gray-color"
                      >
                        {{ car.name }}
                      </h4>
                      <h6
                        class="transmission text-muted size18 redhat-semibold text-capitalize color-card-p"
                      >
                        {{ car.transmission }}
                      </h6>
                    </div>
                    <span
                      *ngIf="car && car.isvipNumberPlate"
                      class="size8 redhat-bold text-capitalize border border-3 rounded-2 px-2 py-1"
                      >special number plate</span
                    >
                  </div>

                  <div
                    class="d-flex justify-content-between border-top border-bottom p-md-3 p-2"
                  >
                    <div class="text-center">
                      <img
                        src="{{ imageURL }}/home/collection/fuel_icon.png"
                        class="img-fluid collection_image"
                        alt=""
                      />
                      <h6
                        class="mb-0 mt-md-2 size16 redhat-semibold color-card-p"
                      >
                        {{ car.fuelType }}
                      </h6>
                    </div>
                    <div class="text-center">
                      <img
                        src="{{ imageURL }}/home/collection/speed_icon.png"
                        class="img-fluid collection_image"
                        alt=""
                      />
                      <h6
                        class="mb-0 mt-md-2 size16 redhat-semibold color-card-p"
                      >
                        {{ car.mileage }}
                      </h6>
                    </div>
                    <div class="text-center">
                      <img
                        src="{{ imageURL }}/home/collection/seat_icon.png"
                        class="img-fluid collection_image"
                        alt=""
                      />
                      <h6
                        class="mb-0 mt-md-2 size16 redhat-semibold color-card-p"
                      >
                        {{ car.seating_capacity }} Seats
                      </h6>
                    </div>
                  </div>

                  <div
                    class="cash-container mt-2 d-flex justify-content-between align-items-center pt-md-3 pt-2"
                  >
                    <div class="cash">
                      <h6
                        class="text-muted mb-0 size18 redhat-semibold color-card-p"
                      >
                        <del>AED {{ car.regularRate }}</del>
                      </h6>
                      <h5 class="mb-0 size26 redhat-semibold gray-color">
                        AED {{ car.dailyRate }}
                      </h5>
                    </div>
                    <a
                      href="/product/detail/{{ car.url_key }}"
                      class="p-0 mt-auto text-decoration-none color-card-p size16 redhat-semibold text-capitalize"
                      >View details</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation" class="mt-4" *ngIf="totalPages > 1">
          <ul
            class="pagination justify-content-center align-items-center gap-2"
          >
            <!-- Previous -->
            <li [class.disabled]="currentPage === 1">
              <button
                class="circle-btn filled"
                [disabled]="currentPage === 1"
                (click)="onPageChange(currentPage - 1)"
              >
                <lucide-icon name="arrow-left" />
              </button>
            </li>

            <!-- Page Numbers -->
            <li *ngFor="let page of getPages()">
              <button
                class="number-btn"
                [class.active-page]="page === currentPage"
                (click)="onPageChange(page)"
              >
                {{ page }}
              </button>
            </li>

            <!-- Next -->
            <li [class.disabled]="currentPage === totalPages">
              <button
                class="circle-btn filled"
                [disabled]="currentPage === totalPages"
                (click)="onPageChange(currentPage + 1)"
              >
                <lucide-icon name="arrow-right" />
              </button>
            </li>
          </ul>
        </nav>
        <!-- </div> -->
      </div>
    </div>
  </div>
</section>

<app-testimonials></app-testimonials>
