<section class="sectionPadding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 ">
        <h1 class="size90 performa-light text-capitalize heading-width gray-color">
          Privacy Policy Ghost Rentals
        </h1>
      </div>
      <div class="col-xl-12">
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">Introduction</h2>
          <p class="margin42 size18 redhat-medium gray-color">
            We, at Ghost Rentals, appreciate every customer’s trust in us in sharing their personal information.
            Therefore, privacy protection is very important to us. With this Privacy Policy, we explain how we will
            collect, use, and protect your data as you interact with our brand in renting luxury cars, yachts and
            chauffeurs in Dubai, UAE.</p>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color ">
            Information We Collect
          </h2>

            <p class="size18 redhat-bold gray-color text-capitalize">
              personal information
          </p>
          <p class="size18 redhat-medium gray-color">When you book a service or send an inquiry through our website, we
            may collect:</p>
          <ul class="size18 redhat-medium gray-color">
            <li>
              Full Name
            </li>
            <li>
              Contact Information (e.g., email, phone number)
            </li>
            <li>
              Payment Details
            </li>
          </ul>
          <p class="size18 redhat-medium gray-color margin42">This information is essential for processing your reservations and
            ensuring our services meet your preferences.</p>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color ">usage data</h2>
          <p class="size18 redhat-bold gray-color">We also gather non-personal information, such as:</p>
          <ul class="size18 redhat-medium gray-color">
            <li>IP Address</li>
            <li>Browser Type</li>
            <li>Device Used</li>
            <li>Time Spent on Our Website</li>
          </ul>
          <p class="size18 redhat-medium gray-color">This data helps us analyze user behavior and improve your
            experience on our platform.</p>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            How We Use Your Information
          </h2>
          <ol class="margin42">
            <li class="size18 redhat-bold gray-color ">
              Booking & Service Fulfillment
              <p class="size18 redhat-medium gray-color">Your personal data allows us to:</p>
              <ul class="size18 redhat-medium gray-color">
                <li>Confirm bookings</li>
                <li>Send updates</li>
                <li>Coordinate services like vehicle delivery, yacht charters, or chauffeur logistics</li>
              </ul>
            </li>
            <li class="size18 redhat-bold gray-color ">
              Enhancing Customer Experience
              <p class="size18 redhat-medium gray-color">We use your information to personalize your experience, understand your preferences, and provide
                tailored recommendations for future interactions.
              </p>
            </li>
            <li class="size18 redhat-bold gray-color ">
              Marketing Communication
              <p class="size18 redhat-medium gray-color">With your consent, we may send you:
              </p>
              <ul class="size18 redhat-medium gray-color">
                <li>Updates</li>
                <li>Promotional offers</li>
                <li>Exclusive invitations</li>
              </ul>
              <p class="size18 redhat-medium gray-color">You can unsubscribe anytime using the link provided in our messages.</p>

            </li>
            <li class="size18 redhat-bold gray-color ">
              Legal Compliance
              <p class="size18 redhat-medium gray-color">We may process or share your data to:</p>
              <ul class="size18 redhat-medium gray-color">
                <li>Comply with legal obligations</li>
                <li>Respond to court orders</li>
                <li>Protect our rights, users, or business interests</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            How We Protect Your Data
          </h2>
          <p class="size18 redhat-bold gray-color">
            We implement industry-standard security measures to safeguard your information, including:
          </p>
          <ul class="size18 redhat-medium gray-color">
            <li>Encryption</li>
            <li>Secure Servers</li>
            <li>Strict Access Controls</li>

          </ul>
          <p class="size18 redhat-medium gray-color">Only authorized team members, trained in confidentiality and data protection, can access your data. While
            we strive to ensure the highest level of security, no online transmission is 100% secure. Therefore, we
            cannot guarantee absolute protection.
          </p>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            Data Retention
          </h2>
          <p class="size18 redhat-bold gray-color">
            We retain your personal information only as long as necessary to:
          </p>
          <ul class="size18 redhat-medium gray-color">
            <li>Provide our services</li>
            <li>Comply with legal requirements</li>
          </ul>
          <p class="size18 redhat-medium gray-color">If you wish to have your data deleted, we will honor your request unless it conflicts with legal or
            contractual obligations.</p>

        </div>
      </div>
      <div class="col-xl-12">
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            Sharing Your Information
          </h2>
          <ol class="margin42">
            <li class="size18 redhat-bold gray-color"> Trusted Third Parties
              <p class="size18 redhat-medium gray-color">To fulfill your bookings, we may share your data with trusted partners, such as:</p>
              <ul class="size18 redhat-medium gray-color">
                <li>Payment gateways</li>
                <li>Service providers</li>
                <li>Fleet partners</li>
              </ul>
              <p class="size18 redhat-medium gray-color">These third parties are contractually obligated to keep your data secure and use it solely for the
                intended purpose.</p>
            </li>
            <li class="size18 redhat-bold gray-color">
              No Selling of Data
              <p class="size18 redhat-medium gray-color">We do not sell, rent, or trade your personal information to third parties for marketing purposes.
              </p>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="border-bottom border-2">
          <h2 class="size55 performa-light text-capitalize gray-color">
            Updates to This Policy

          </h2>
          <p class="size18 redhat-medium gray-color">
            We may update this Privacy Policy from time to time. Any changes will be posted on this page. We encourage
            you to review it regularly to stay informed about how we protect your data.
          </p>
          <p class="size18 redhat-medium gray-color margin42">
            By using our services, you agree to the practices outlined in this policy.
          </p>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="contact-us">
          <h2 class="size55 performa-light text-capitalize gray-color">Contact Us</h2>
          <p class="size18 redhat-medium gray-color">
            If you have any questions, concerns, or requests related to your data, feel free to reach out to us:
          </p>
          <ul>
            <li class="size18 redhat-bold " style="color: #1D1D1F">
              Email:
              <a href="mailto:info@ghostrentals.ae" class=" text-decoration-none size18 redhat-medium"
                style="color: #1D1D1F">info&#64;ghostrentals.ae</a>
            </li>
            <li class="size18 redhat-bold" style="color: #1D1D1F">
              Website:
              <a href="https://ghostrentals.ae/" class=" size18 text-decoration-none redhat-medium"
                style="color: #1D1D1F">ghostrentals.ae</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>