<section class="sectionPadding">
  <div class="container-fluid">
    <div class="row">
    <div class="col-xl-7">
      <h1 class="size89 performa-light text-capitalize mb-5">
        Privacy Policy ghost rentals
      </h1>
    </div>
    <div class="col-xl-12">
      <div class="border-bottom border-2">
        <h2 class="size55 performa-light text-capitalize">Introduction</h2>
        <p class="size18 redhat-medium">
          We understand that you trust us with your information. The security of
          your privately held information holds our greatest attention. This
          Privacy Policy explains how we collect, use, and safeguard your data
          when you engage with our luxury car, yacht, and chauffeur rental
          services in the UAE.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="border-bottom border-2">
        <h2 class="size55 performa-light text-capitalize">
          Information We Collect Personal Information
        </h2>
        <p class="size18 redhat-medium">
          When you make a booking, or sending us an inquiry through our website
          we may need your full name, contact information, and payment details.
          We use it for your reservation and service that will meet your
          preferences.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="border-bottom border-2">
        <h2 class="size55 performa-light text-capitalize">usage data</h2>
        <p class="size18 redhat-medium">
          We may also collect non-personal data such as your IP address, browser
          type, device used, and time spent on our site. This information helps
          us understand the behavior of users of our platform so as to improve
          on our offerings. 
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="border-bottom border-2">
        <h2 class="size55 performa-light text-capitalize">
          How We Use Your Information Booking & Service Fulfillment
        </h2>
        <p class="size18 redhat-medium">
          Your personal data enables us to confirm bookings, send updates, and
          offer smooth coordination of services including vehicle delivery,
          yacht charter schedules, or chauffeur logistics.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="border-bottom border-2">
        <h2 class="size55 performa-light text-capitalize">
          Customer Experience
        </h2>
        <p class="size18 redhat-medium">
          We may use the information to personalize your experience, understand
          preferences, and provide relevant suggestions or enhancements during
          future interactions.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="border-bottom border-2">
        <h2 class="size55 performa-light text-capitalize">
          Marketing Communication
        </h2>
        <p class="size18 redhat-medium">
          If you choose, we may send you updates, promotional offers, or
          exclusive invites via email or SMS. You are free to unsubscribe at any
          time through the link provided in our messages.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="border-bottom border-2">
        <h2 class="size55 performa-light text-capitalize">Legal Compliance</h2>
        <p class="size18 redhat-medium">
          Your data may be processed or shared when required or to comply with
          any legal obligations, respond to court orders or protect our rights,
          users, or business interests.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="border-bottom border-2">
        <h2 class="size55 performa-light text-capitalize">
          How We Protect Your Data
        </h2>
        <p class="size18 redhat-medium">
          We apply industry-standard practices to protect your information from
          any unauthorized entry or misuse. For this encryption, secure servers
          and strict access controls are used. Only our authorized team members
          can handle your data. All our staff are trained on confidentiality and
          data protection protocols. While we do our utmost, no online
          transmission is 100% secure—so we cannot fully guarantee security.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="border-bottom border-2">
        <h2 class="size55 performa-light text-capitalize">
          Sharing With Third Parties
        </h2>
        <p class="size18 redhat-medium">
          To fulfill your bookings, we may work with trusted third parties such
          as payment gateways, service providers and fleet partners. we have
          contractual obligation on these parties to keep your data safe and use
          it only for the intended purpose. We don't sell, rent, or trade your
          personal information to third parties for marketing purposes.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="border-bottom border-2">
        <h2 class="size55 performa-light text-capitalize">
          Updates To This Policy
        </h2>
        <p class="size18 redhat-medium">
          This Privacy Policy may be updated periodically. Changes will be
          posted on this page, and we encourage you to review it regularly to
          stay informed. By using our services, you consent to the practices
          described in this policy.
        </p>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="contact-us">
        <h2 class="size55 performa-light text-capitalize">Contact Us</h2>
        <p class="size18 redhat-medium">
          For any questions, concerns, or data-related requests, please reach
          out to us at:
        </p>
        <ul>
          <li class="size18 redhat-bold">
            Email:
            <a
              href="mailto:info@ghostrentals.ae"
              class="black-color text-decoration-none size18 redhat-medium"
              >info&#64;ghostrentals.ae</a
            >
          </li>
          <li class="size18 redhat-bold">
            Website:
            <a
              href="https://ghostrentals.ae/"
              class="gray-color size18 text-decoration-none redhat-medium"
              >ghostrentals.ae</a
            >
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</section>
