<section class="testimonial">
  <div class="container">
    <h3
      class="text-center text-capitalize size60 performa-light gray-color"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      What Our Family of Clients Say
    </h3>
    <div class="swiper py-md-4" #swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let testimonial of testimonialsData">
          <div class="row">
            <div
              class="col-12 col-sm-9 col-md-9 col-lg-4 text-center mb-3 mb-md-2 img-container"
              data-aos="fade-up"
              data-aos-duration="1500"
            >
              <img
                src="{{ backendURL }}/{{ testimonial.image }}"
                alt="Customer Testimonial"
                class="rounded-4 img-fluid testimonial-img"
              />
            </div>
            <div
              class="col-12 col-sm-9 col-md-7 col-lg-7 d-flex flex-column"
              data-aos="fade-up"
              data-aos-duration="1500"
            >
              <div
                class="margin28 d-flex gap-2 justify-content-center justify-content-lg-start align-items-center"
              >
                <ng-container
                  *ngFor="let star of getStars(testimonial.ratings)"
                >
                  <img
                    src="{{ imageURL }}/testimonials/star-icon.svg"
                    alt=""
                    class="star-icon"
                  />
                  <!-- <lucide-icon
                    name="star"
                    size="24"
                    style="width: 24px; height: 24px"
                  ></lucide-icon> -->
                </ng-container>
              </div>
              <h5
                class="size30 redhat-regular margin22 black-color text-center text-lg-start"
              >
                "{{ testimonial.title }}"
              </h5>
              <p
                class="size22 redhat-regular mb-4 color-card-p text-center text-lg-start"
              >
                {{ testimonial.text }}
              </p>
              <h6
                class="size18 redhat-regular gray-color text-center text-lg-start"
              >
                {{ testimonial.name }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="text-start gap-2 d-flex justify-content-lg-start justify-content-center margin-left"
    >
      <div #prevButton class="button swiper-button-prev">
        <lucide-icon name="arrow-left" class="swiper-button-icon" />
      </div>
      <div #nextButton class="button swiper-button-next">
        <lucide-icon name="arrow-right" class="swiper-button-icon" />
      </div>
    </div>
  </div>
</section>

<section class="faq" id="faq">
  <h3
    class="text-center text-capitalize size60 performa-light gray-color"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    Frequently Asked Questions
  </h3>
  <p
    class="text-center size18 redhat-regular gray-color margin28"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    Got Questions? We've Got Answers To Help You Navigate Your Car Rental
    Experience!
  </p>
  <div class="text-center" style="margin-bottom: 66px">
    <button
      routerLink="/contact"
      class="black-button size18 redhat-bold d-flex mx-auto"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      Help Center
    </button>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12 d-grid">
        <div
          class="faq-item margin18"
          *ngFor="let faq of faqs; let i = index"
          [class.expanded]="expandedIndex === i"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <div class="faq-question m-0" (click)="toggleAccordion(i)">
            <h4 class="size26 redhat-medium m-0 gray-color">
              {{ faq.question }}
            </h4>
            <!-- <span class="icon">{{ expandedIndex === i ? "−" : "+" }}</span> -->
            <span>
              <lucide-icon
                [name]="expandedIndex === i ? 'minus' : 'plus'"
                [class]="expandedIndex === i ? 'white' : 'black'"
                size="24"
                style="width: 24px; height: 24px"
              >
              </lucide-icon>
            </span>
          </div>
          <div
            class="faq-answer me-lg-4 me-2"
            [style.maxHeight]="expandedIndex === i ? '300px' : '0'"
          >
            <p class="size18 redhat-semibold m-0 gray-light-color">
              {{ faq.answer }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
