<section class="testimonial sectionPadding">
  <div class="container">
    <h3 class="text-center text-capitalize size60 performa-light p-5">
      What Our Customers Say
    </h3>
    <div class="swiper py-4" #swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let testimonial of testimoinsData">
          <div class="row g-5">
            <div class="col-md-4 text-center mb-3 mb-md-0 img-container">
              <img
                src="{{backendURL}}/{{testimonial.image}}"
                alt="Customer Testimonial"
                class="rounded-4 img-fluid testimonial-img"
              />
            </div>
            <div class="col-md-8 text-start">
              <div class="mb-2 d-flex">
                <ng-container *ngFor="let star of getStars(testimonial.rating)">
                  <lucide-icon
                    name="star"
                    size="24"
                    style="width: 24px; height: 24px"
                  ></lucide-icon>
                </ng-container>
              </div>
              <h5 class="size30 redhat-regular mb-1 mt-4">
                {{ testimonial.title }}
              </h5>
              <p class="size22 redhat-regular mb-2 mt-3">
                {{ testimonial.text }}
              </p>
              <h6 class="size18 redhat-regular mt-3">{{ testimonial.name }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-start gap-2 d-flex ms-4">
      <div #prevButton class="button swiper-button-prev">
        <lucide-icon name="arrow-left" class="swiper-button-icon" />
      </div>
      <div #nextButton class="button swiper-button-next">
        <lucide-icon name="arrow-right" class="swiper-button-icon" />
      </div>
    </div>
  </div>
</section>

<section class="faq sectionPadding">
  <h3 class="text-center text-capitalize size60 performa-light">
    Frequently Asked Questions
  </h3>
  <p class="text-center size18 redhat-semibold">
    Got Questions? We've Got Answers To Help You Navigate Your Car Rental
    Experience!
  </p>
  <div class="text-center my-4">
    <button class="button size18 redhat-bold">Help Center</button>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-9 d-grid gap-3">
        <div
          class="faq-item"
          *ngFor="let faq of faqs; let i = index"
          [class.expanded]="expandedIndex === i"
        >
          <div class="faq-question m-0" (click)="toggleAccordion(i)">
            <h4 class="size26 redhat-medium m-0">{{ faq.question }}</h4>
            <!-- <span class="icon">{{ expandedIndex === i ? "−" : "+" }}</span> -->
            <span>
              <lucide-icon
                [name]="expandedIndex === i ? 'minus' : 'plus'"
                [class]="expandedIndex === i ? 'white' : 'black'"
                size="24"
                style="width: 24px; height: 24px"
              >
              </lucide-icon>
            </span>
          </div>
          <div
            class="faq-answer"
            [style.maxHeight]="expandedIndex === i ? '300px' : '0'"
          >
            <p class="size18 redhat-semibold m-0">{{ faq.answer }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
