<div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h1 class="size20 redhat-bold gray-color">Ghost Rentals</h1>
      </div>
      <h2 class="size26 redhat-semibold gray-color text-uppercase">Redirecting you to your requested page…</h2>
      <div class="w-100 d-flex justify-content-center align-items-center">
          <a class="black-button size18 redhat-bold text-capitalize" href="/" data-text="Back To Home">
            <span>Back To Home</span>
          </a>
        </div>
    </div>
  </div>
  <app-complimentory></app-complimentory>