<section class="brands">
  <div class="container-fluid p-0">
    <h3 [ngClass]="titleClass" >
      {{ h3 }}
    </h3>
    <div
      class="d-flex justify-content-center align-items-center flex-wrap brands-gap"
    >
      <div class="brand-item" *ngFor="let brand of brandsData">
        <img
          *ngIf="brand.image.length > 0 && brand.image[0].src"
          src="{{ backendURl }}/brand/{{ brand.image[0].src }}"
          [alt]="brand.name"
          class="brand-logo"
        />
        <h4 class="brand-name redhat-semibold">{{ brand.name }}</h4>
      </div>
    </div>
    <button
      class="black-button d-flex mx-auto size18 redhat-bold margin-top60"
    >
      <a href="/product/search" class="white-color text-decoration-none">show all</a>
    </button>
  </div>
</section>
