<section class="brands sectionPadding">
  <div class="container-fluid">
    <h3 class="text-center size60 performa-light text-capitalize mb-5">
      {{ title }}
    </h3>
    <div class="d-flex justify-content-center align-items-center gap-4">
      <div class="brand-item" *ngFor="let brand of brands">
        <img [src]="brand.imageUrl" [alt]="brand.name" class="brand-logo" />
        <h4 class="size18 redhat-semibold">{{ brand.name }}</h4>
      </div>
    </div>
    <button class="button size18 redhat-bold mt-5">show all</button>
  </div>
</section>
