.brands {
  padding: 172px 200px 200px;
  @media screen and (max-width: 1536px) {
    padding: 150px;
  }
  @media screen and (max-width: 1200px) {
    padding: 100px;
  }
  @media screen and (max-width: 768px) {
    padding: 3rem 2rem;
  }
  .brand-logo {
    width: 107px;
    height: 52px;
    object-fit: contain;
    @media screen and (max-width: 768px) {
      width: 71px;
      height: 34px;
    }
  }

  .brand-item {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 145px;
    min-height: 145px;
    @media screen and (max-width: 768px) {
      width: 96px;
      min-height: 96px;
      padding: 0.5rem;
    }
  }
}

.brand-name {
  font-size: 18px;
  @media (max-width: 768px) {
    font-size: 11px;
  }
}
