.services {
  height: 100vh;
  .content {
    position: absolute;
    top: 27%;
    left: 6%;
    transform: translateY(-26%);
    @media (max-width: 1920px) {
      top: 33.5%;
      left: 6%;
      transform: translateY(-50%);
    }
    @media (max-width: 1536px) {
      top: 42%;
      left: 5%;
      transform: translateY(-50%);
    }
    @media (max-width: 1536px) {
      top: 34%;
    }
    @media (max-width: 1440px) {
      top: 37%;
    }
    @media (max-width: 1024px) {
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
    }
    @media (max-width: 430px) {
      top: 47%;
    }
    .heading-width{
      width: 57%;
      @media (max-width: 1920px) {
        width: 78%;
      }
      @media (max-width: 1600px) {
        width: 70%; 
      }
      @media (max-width: 1440px) {
        width: 67%; 
      }
      @media (max-width: 1280px) {
        width: 76%; 
      }
      @media (max-width: 1024px) {
        width: 100%; 
      }
      }
    p{
      width: 22%;
      @media (max-width: 1920px) {
        width: 26%;
      }
      @media (max-width: 1536px) {
        width: 29%;
      }
      @media (max-width: 1440px) {
        width: 33%;
      }
      @media (max-width: 1280px) {
        width: 35%;
      }
      @media (max-width: 1024px) {
        width: 62%;
      }
      @media (max-width: 430px) {
        width: 100%;
      }
    }
    
  }
}


.service{
  height: 100vh;
  @media screen and (max-width: 1024px){
    height: auto;
  }
}
.service_image {
  object-fit: contain;
}
.sectionPadding{
  // padding: 4rem 7rem;
  padding: 11rem 7.2rem;
  
  @media screen and (max-width: 1920px){
    padding: 11rem 7.2rem;
  }
  @media screen and (max-width: 1440px){
    padding: 4rem 
  }
  @media screen and (max-width: 1024px){
    padding: 3rem 
  }
  @media screen and (max-width: 768px){
    padding: 2rem
  }
}

.servicePadding{
  padding: 8rem;
  @media screen and (max-width: 1920px){
    padding: 8rem 14rem;
  }
  @media screen and (max-width: 1440px){
    padding: 8rem 9rem;
  }
  @media screen and (max-width: 1024px){
    padding: 70px 60px;
  }
  @media screen and (max-width: 768px){
    padding: 46px 27px;
  }
}

.para-width{
  width: 54%;
  @media screen and (max-width: 1920px){
    width: 78%;
  }
  @media screen and (max-width: 1536px){
    width: 64%;
  }
  @media screen and (max-width: 1440px){
    width: 89%;
  }
  @media screen and (max-width: 1433px){
    width: 67%;
  }
  @media screen and (max-width: 1280px){
    width: 79%;
  }
  @media screen and (max-width: 1024px){
    width: 100%;
  }
}

.service1-width{
  // width: 63%;
  // @media screen and (max-width: 1920px){
  //   width: 94%;
  // }
  h5{
    width: 91%;
    @media screen and (max-width: 1920px){
      width: 90%;
    }
    @media screen and (max-width: 1440px){
      width: 96%;
    }
  }
  .para-width{
    width: 91%;
    @media screen and (max-width: 1920px){
      width: 81%;
    }
    @media screen and (max-width: 1440px){
      width: 92%;
    }
  }
}
.service2-width{
// width: 62%;
//   @media screen and (max-width: 1920px){
//     width: 94%;
//   }
//   @media screen and (max-width: 1536px){
//     width: 100%;
//   }
  h5{
    width: 91%;
    @media screen and (max-width: 1920px){
      width: 91%;
    }
    @media screen and (max-width: 1440px){
      width: 96%;
    }
  }
  .para-width{
    width: 91%;
    @media screen and (max-width: 1920px){
      width: 87%;
    }
    @media screen and (max-width: 1440px){
      width: 100%;
    }
  }
}
.service3-width{
  // width: 80%;
  // @media screen and (max-width: 1920px){
  //   width: 86%;
  // }
  // @media screen and (max-width: 1536px){
  //   width: 100%;
  // }
  h5{
    width: 91%;
    @media screen and (max-width: 1920px){
      width: 91%;
    }
    @media screen and (max-width: 1440px){
      width: 80%;
    }
  }
  .para-width{
    width: 91%;
    @media screen and (max-width: 1920px){
      width: 84%;
    }
    @media screen and (max-width: 1440px){
      width: 95%;
    }
  }
}