.services {
  .content {
    position: absolute;
    top: 30%;
    left: 4%;
    transform: translateY(-30%);
    h1 {
      line-height: 90px;
    }
  }
}
.service_image {
  width: 774px;
  height: 587px;
}
