<section class="services bannerPadding">
  <div class="container-fluid position-relative p-0 h-100">
    <img src="{{ imageURL }}/services/services_banner.png" alt="Limousine on road" class="w-100 h-100 bannerImage"
      loading="lazy" decoding="async" />

    <div class="content">
      <h1 class="size89 performa-thin white-color heading-width">
        Exclusive Services Redefining Luxury Travel
      </h1>
      <p class="size20 redhat-regular beige-color">
        Unmatched Luxury Awaits: Premium Cars, Yachts & Chauffeur Services Crafted for Your Sophistication
      </p>
      <!-- <button class="size18 redhat-bold white-border-button">book now</button> -->
    </div>
  </div>
</section>

<section class="sectionPadding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3 class="size42 performa-thin para-width">
          Live Your Dubai Dream In Style With Ghost Rentals. Cruise In A Luxury Car Or Set Sail In A Private Yacht. Our
          Team Handles Every Detail, So You Can Relax And Enjoy The City With Our Chauffeur Services In Dubai.
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="service black-bg d-flex align-items-center">
  <div class="container-fluid servicePadding">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-xl-0 mb-4">
        <div class="service1-width d-flex justify-content-center h-100 flex-column">
          <h4 class="size18 redhat-semibold text-uppercase mb-2 white-color">
            DRIVE YOUR DREAM
          </h4>
          <h3 class="size46 mb-0 performa-light text-capitalize white-color">
            Luxury Car Rental Dubai
          </h3>
          <h5 class="size22 performa-light text-uppercase my-3 my-md-4 white-color line-height30">
            TRAVEL IN STYLE—DIVE INTO OUR EXTRAORDINARY COLLECTION OF LUXURY AND EXOTIC VEHICLES TODAY!
          </h5>
          <p class="size18 redhat-semibold mb-xl-5 mb-lg-4 mb-md-3 mb-2 white-color line-height30 para-width">
            Command Rolls-Royce luxury, unleash Lamborghini power, or cruise in Range Rover elegance. Our handpicked
            fleet transforms moments into memories. Day rentals to long-term solutions—every pristine vehicle arrives at
            your door because your time & impression matter.
          </p>
          <ul class="size18 redhat-semibold list-unstyled mb-xl-5 mb-lg-4 mb-md-3 mb-2 white-color line-height30">
            <li>- Fast Car rentals: Short & Long term options</li>
            <li>- Flexibility: Hourly, Daily, Weekly & Monthly</li>
            <li>- Convenient: Self-drive & Chauffeur Service</li>
            <li>- 24/7 Support and instant online booking</li>
          </ul>
          <button class="size18 redhat-bold white-button mt-2">
            Explore Cars
          </button>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12 d-flex align-items-center">
        <img src="{{ imageURL }}/services/services1.png" alt="" class="service_image h-100" loading="lazy"
          decoding="async" />
      </div>
    </div>
  </div>
</section>

<section class="service d-flex align-items-center">
  <div class="container-fluid servicePadding">
    <div class="row justify-content-around">
      <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-xl-0 mb-4 order-md-2 order-1 ps-md-5">
        <div class="service2-width d-flex justify-content-center h-100 flex-column">
          <h4 class="size18 redhat-semibold text-uppercase mb-2 black-color">
            CRUISE DUBAI IN LUXURY!
          </h4>
          <h3 class="size46 mb-0 performa-light text-capitalize black-color">
            Yacht Rental Dubai
          </h3>
          <h5 class="size22 performa-light text-uppercase my-3 my-md-4 black-color">
            LUXURY YACHT RENTALS WITH GHOST RENTALS. FINE DINING, VIEWS & CREW. BOOK YOUR ESCAPE TODAY!
          </h5>
          <p class="size18 redhat-semibold mb-xl-5 mb-lg-4 mb-md-3 mb-2 black-color line-height30 para-width">
            Aboard our luxury yacht rental in Dubai and experience floating palaces with expert crew, gourmet catering,
            and iconic routes past Marina's skyline and Atlantis. Every wave carries you to unforgettable celebrations.
          </p>
          <ul class="size18 redhat-semibold list-unstyled mb-xl-5 mb-lg-4 mb-md-3 mb-2 black-color line-height30">
            <li>- Private yacht charters & yacht hire Dubai.</li>
            <li>- Yacht parties & intimate Dubai tours</li>
            <li>- Easy booking with transparent pricing</li>
            <li>- Bespoke luxury charters for your exclusive sanctuary</li>
          </ul>
          <button class="size18 redhat-bold black-button mt-2">
            Explore Yachts
          </button>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12 d-flex align-items-center mb-4 mb-md-0 order-md-1 order-2">
        <img src="{{ imageURL }}/services/services2.png" alt="" class="service_image h-100" loading="lazy"
          decoding="async" />
      </div>
    </div>
  </div>
</section>

<section class="service d-flex align-items-center black-bg">
  <div class="container-fluid servicePadding">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-xl-0 mb-4">
        <div class="service3-width d-flex justify-content-center h-100 flex-column">
          <h4 class="size18 redhat-semibold text-uppercase mb-2 white-color">
            ELEGANCE, YOUR WAY!
          </h4>
          <h3 class="size46 mb-0 performa-light text-capitalize white-color">
            Chauffeur Services Dubai
          </h3>
          <h5 class="size22 performa-light text-uppercase my-3 my-md-4 white-color">
            RIDE IN STYLE AND ELEGANCE – LUXURY CHAUFFEUR SERVICES PERFECT FOR EVERY OCCASION IN DUBAI
          </h5>
          <p class="size18 redhat-semibold mb-xl-5 mb-lg-4 mb-md-3 mb-2 white-color para-width line-height30">
            Glide through Dubai in absolute sophistication with our chauffeur services. We merge professional excellence
            with luxury, ensuring every journey is stylish and punctual. Perfect for VIPs, weddings, and airports.
          </p>
          <ul class="size18 redhat-semibold list-unstyled mb-xl-5 mb-lg-4 mb-md-3 mb-2 white-color line-height30">
            <li>- Luxury Cars: Rolls-Royce, S-Class, BMW 7 Series</li>
            <li>- Trained, Uniformed Drivers</li>
            <li>- Hourly & Event-Based Packages</li>
            <li>- Multilingual Drivers Available</li>
            <li>- Real-time GPS Tracking & 24/7 Dispatch Support</li>
          </ul>
          <button class="size18 redhat-bold white-button mt-2">
            Hire A Chauffeur
          </button>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-12 d-flex align-items-center">
        <img src="{{ imageURL }}/services/services3.png" alt="" class="service_image h-100" loading="lazy"
          decoding="async" />
      </div>
    </div>
  </div>
</section>
<app-vip-number-plate></app-vip-number-plate>
<app-testimonials></app-testimonials>