<section class="services bannerPadding">
  <div class="container-fluid position-relative p-0 h-100">
    <div class="overlay"></div>

    <img
      src="{{ imageURL }}/services/services_banner.png"
      alt="Limousine on road"
      class="w-100 h-100 bannerImage"
      loading="lazy"
      decoding="async"
    />

    <div class="content zindex2">
      <h1
        class="size88 performa-thin white-color heading-width"
      >
        Exclusive Services Redefining Luxury Travel
      </h1>
      <p
        class="size20 redhat-regular beige-color"
      >
        Unmatched Luxury awaits: Premium Cars, Yachts & Chauffeur Services
        Crafted for your Sophistication
      </p>
      <!-- <button class="size18 redhat-bold white-border-button">book now</button> -->
    </div>
  </div>
</section>

<section class="sectionPadding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3
          class="size42 performa-thin para-width text-capitalize"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          Live your Dubai Dream in Style with Ghost Rentals. Cruise in a Luxury
          Car Or Set Sail in a Private Yacht. Our team handles every detail, so
          you can relax and enjoy the city with our Chauffeur Services in Dubai.
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="service black-bg d-flex align-items-center" id="car-service">
  <div class="container-fluid servicePadding">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-xl-0  order-lg-1 order-md-2 order-sm-2 order-2">
        <div
          class="service1-width d-flex justify-content-center h-100 flex-column"
        >
          <h4
            class="size18 redhat-semibold text-capitalize mb-2 white-color"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            Drive Your Dream
          </h4>
          <h3
            class="size46 margin24 performa-light text-capitalize white-color"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Luxury Car Rental Dubai
          </h3>
          <h5
            class="size22 performa-light text-uppercase margin24 white-color line-height30"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Travel in style-Drive our extraordinary collection of Luxury and
            Exotic Vehicles Today!
          </h5>
          <p
            class="size18 redhat-semibold margin24 white-color line-height30 para-width"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Command Rolls-Royce Luxury, unleash Lamborghini power, or cruise in
            Range Rover elegance. Our handpicked fleet transforms moments into
            memories. Day rentals to long-term solutions—every pristine vehicle
            arrives at your door because your time & impression matter.
          </p>
          <ul
            class="size18 redhat-semibold list-unstyled margin48 white-color line-height30"
            data-aos="fade-up"
            data-aos-duration="2000"
          >
            <li>- Fast Car rentals: Short & Long term options</li>
            <li>- Flexibility: Hourly, Daily, Weekly & Monthly</li>
            <li>- Convenient: Self-drive & Chauffeur Service</li>
            <li>- 24/7 Support and instant online booking</li>
          </ul>
          <button
            routerLink="/product/search"
            class="size18 redhat-bold white-button "
            data-aos="fade-up"
            data-aos-duration="2000"
          >
            Explore Cars
          </button>
        </div>
      </div>
      <div
        class="col-xl-6 col-lg-6 col-md-12 col-12 d-flex align-items-xl-center align-items-start order-lg-2 order-md-1 order-sm-1 order-1 mb-lg-0 mb-4"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <img
          src="{{ imageURL }}/services/services1.png"
          alt=""
          class="service_image"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </div>
</section>

<section class="service d-flex align-items-center" id="yacht-service">
  <div class="container-fluid servicePadding">
    <div class="row justify-content-around">
      <div
        class="col-xl-6 col-lg-6 col-md-12 col-12  order-md-2 order-2 ps-lg-5"
      >
        <div
          class="service2-width d-flex justify-content-center h-100 flex-column"
        >
          <h4
            class="size18 redhat-semibold text-capitalize mb-2 black-color"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            Cruise Dubai in Luxury!
          </h4>
          <h3
            class="size46 margin24 performa-light text-uppercase black-color"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Yacht Rental Dubai
          </h3>
          <h5
            class="size22 performa-light text-uppercase margin24 black-color"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Luxury Yacht Rentals with Ghost Rentals. Fine Dining, Views & Crew.
            Book your escape today!
          </h5>
          <p
            class="size18 redhat-semibold margin24 black-color line-height30 para-width"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Aboard our Luxury Yacht Rental in Dubai and experience floating
            palaces with expert crew, gourmet catering, and iconic routes past
            Marine's skyline and Atlantis. Every wave carries you to
            unforgettable celebrations.
          </p>
          <ul
            class="size18 redhat-semibold list-unstyled margin48 black-color line-height30"
            data-aos="fade-up"
            data-aos-duration="2000"
          >
            <li>- Private Yacht Charters & Yacht hire Dubai.</li>
            <li>- Yacht parties & intimate Dubai tours</li>
            <li>- Easy booking with transparent pricing</li>
            <li>- Bespoke Luxury Charters for your exclusive sanctuary</li>
          </ul>
          <button
            routerLink="/product/search"
            class="size18 redhat-bold black-button"
            data-aos="fade-up"
            data-aos-duration="2000"
          >
            Explore Yachts
          </button>
        </div>
      </div>
      <div
        class="col-xl-6 col-lg-6 col-md-12 col-12 d-flex align-items-xl-center align-items-start mb-4 mb-lg-0 order-lg-1 order-1"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <img
          src="{{ imageURL }}/services/services2.png"
          alt=""
          class="service_image h-100"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </div>
</section>

<section class="service d-flex align-items-center black-bg" id="chauffeur-service">
  <div class="container-fluid servicePadding">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 ">
        <div
          class="service3-width d-flex justify-content-center h-100 flex-column"
        >
          <h4
            class="size18 redhat-semibold text-capitalize mb-2 white-color"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            Elegance, Your Way!
          </h4>
          <h3
            class="size46 margin24 performa-light text-capitalize white-color"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Chauffeur Services Dubai
          </h3>
          <h5
            class="size22 performa-light text-uppercase margin24 white-color"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Ride in Style and Elegance with our Luxury Chauffeur Services.
            Perfect for every occasion in Dubai.
          </h5>
          <p
            class="size18 redhat-semibold margin24 white-color para-width line-height30"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Glide through Dubai in absolute sophistication with our Chauffeur
            Services. We merge professional excellence with Luxury, ensuring
            every journey is stylish and punctual. Perfect for VIPs, Weddings,
            and Airports.
          </p>
          <ul
            class="size18 redhat-semibold list-unstyled margin48 white-color line-height30"
            data-aos="fade-up"
            data-aos-duration="2000"
          >
            <li>
              - Cars at our Chauffeur Services: Rolls-Royce, S-Class, BMW 7
              Series
            </li>
            <li>- Trained, Uniformed Drivers</li>
            <li>- Hourly & Event-Based Packages</li>
            <li>- Multilingual Drivers Available</li>
            <li>- Real-time GPS Tracking & 24/7 Dispatch Support</li>
          </ul>
          <button
            routerLink="/product/search"
            class="size18 redhat-bold white-button"
            data-aos="fade-up"
            data-aos-duration="2000"
          >
            Hire a Chauffeur
          </button>
        </div>
      </div>
      <div
        class="col-xl-6 col-lg-6 col-md-12 col-12 d-flex align-items-xl-center align-items-start order-lg-2 order-md-1 order-sm-1 order-1 mb-lg-0 mb-4"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <img
          src="{{ imageURL }}/services/services3.png"
          alt=""
          class="service_image h-100"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </div>
</section>
<app-vip-number-plate></app-vip-number-plate>
<app-testimonials></app-testimonials>
