.services {
  height: 100vh;

  .content {
    position: absolute;
    transform: translateY(-26%);
    top: 37%;
    left: 5%;

    @media (max-width: 1920px) {
      top: 43%;
      left: 6.5%;
      transform: translateY(-50%);
    }

    @media (max-width: 1536px) {
      top: 42%;
      // left: 7%;
      left: 5.9%;
    }

    @media (max-width: 1440px) {
      top: 37%;
    }

    @media (max-width: 1366px) {
      top: 43.5%;
      left: 7.8%;
    }

    @media (max-width: 1280px) {
      top: 44%;
      left: 6.3%;
    }

    @media (max-width: 1024px) {
      top: 35%;
      left: 3.5%;
      transform: translateY(-50%);
    }

    @media (max-width: 430px) {
      top: 47%;
    }

    .heading-width {
      width: 59%;

      @media (max-width: 1920px) {
        width: 78%;
      }

      @media (max-width: 1600px) {
        width: 70%;
      }

      @media (max-width: 1536px) {
        width: 59%;
      }

      @media (max-width: 1440px) {
        width: 67%;
      }

      @media (max-width: 1280px) {
        width: 76%;
      }

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    p {
      width: 22%;

      @media (max-width: 1920px) {
        width: 27%;
      }

      @media (max-width: 1536px) {
        width: 33%;
      }

      @media (max-width: 1440px) {
        width: 35%;
      }

      @media (max-width: 1280px) {
        width: 36%;
      }

      @media (max-width: 1024px) {
        width: 44%;
      }

      @media (max-width: 768px) {
        width: 62%;
      }

      @media (max-width: 430px) {
        width: 100%;
      }
    }
  }
}

.black-bg {
  background-color: #1D1D1D;
}

.service {
  // height: 100vh;

  @media screen and (max-width: 1024px) {
    height: auto;
  }
}

.service_image {
  border-radius: 15px;
  object-fit: contain;
}

.sectionPadding {
  // padding: 4rem 7rem;
  padding: 11rem 7.2rem;

  @media screen and (max-width: 1920px) {
    padding: 11rem 7.2rem;
  }

  @media screen and (max-width: 1440px) {
    padding: 4rem
  }

  @media screen and (max-width: 1024px) {
    padding: 3rem
  }

  @media screen and (max-width: 768px) {
    padding: 2rem
  }

  @media screen and (max-width: 430px) {
    padding: 68px 8px;
  }
}

.servicePadding {
  padding: 8rem;

  @media screen and (max-width: 1920px) {
    padding: 8rem 14rem;
  }

  @media screen and (max-width: 1440px) {
    padding: 8rem 9rem;
  }

  @media screen and (max-width: 1024px) {
    padding: 70px 60px;
  }

  @media screen and (max-width: 768px) {
    padding: 46px 30px;
  }

  @media screen and (max-width: 430px) {
    padding: 46px 30px;
  }
}

.para-width {
  width: 56%;

  @media screen and (max-width: 1920px) {
    width: 78%;
  }

  @media screen and (max-width: 1536px) {
    // width: 64%;
    // width: 78;
    width: 94%;
  }

  @media screen and (max-width: 1440px) {
    width: 89%;
  }

  @media screen and (max-width: 1433px) {
    width: 100%;
  }

  @media screen and (max-width: 1280px) {
    width: 77%;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.service1-width {

  // width: 63%;
  // @media screen and (max-width: 1920px){
  //   width: 94%;
  // }
  h5 {
    width: 91%;

    @media screen and (max-width: 1920px) {
      width: 90%;
    }

    @media screen and (max-width: 1440px) {
      width: 96%;
      line-height: 25px;
    }

    @media screen and (max-width: 430px) {
      width: 100%;
      line-height: 22px;
    }
  }

  .para-width {
    width: 91%;

    @media screen and (max-width: 1920px) {
      width: 81%;
    }

    @media screen and (max-width: 1440px) {
      width: 92%;
      line-height: 25px;
    }

    @media screen and (max-width: 430px) {
      width: 100%;
      line-height: 24px;
    }
  }

  ul li {
    @media screen and (max-width: 430px) {
      line-height: 24px;
    }
  }
}

.service2-width {

  // width: 62%;
  //   @media screen and (max-width: 1920px){
  //     width: 94%;
  //   }
  //   @media screen and (max-width: 1536px){
  //     width: 100%;
  //   }
  h5 {
    width: 91%;

    @media screen and (max-width: 1920px) {
      width: 91%;
    }

    @media screen and (max-width: 1440px) {
      width: 96%;
      line-height: 25px;
    }

    @media screen and (max-width: 430px) {
      width: 100%;
      line-height: 22px;
    }
  }

  .para-width {
    width: 91%;

    @media screen and (max-width: 1920px) {
      width: 87%;
    }

    @media screen and (max-width: 1440px) {
      width: 100%;
      line-height: 25px;
    }

    @media screen and (max-width: 430px) {
      width: 100%;
      line-height: 24px;
    }
  }

  ul li {
    @media screen and (max-width: 430px) {
      line-height: 24px;
    }
  }
}

.service3-width {

  // width: 80%;
  // @media screen and (max-width: 1920px){
  //   width: 86%;
  // }
  // @media screen and (max-width: 1536px){
  //   width: 100%;
  // }
  h5 {
    width: 91%;

    @media screen and (max-width: 1920px) {
      width: 91%;
    }

    @media screen and (max-width: 1440px) {
      width: 80%;
      line-height: 25px;
    }

    @media screen and (max-width: 430px) {
      width: 100%;
      line-height: 22px;
    }
  }

  .para-width {
    width: 91%;

    @media screen and (max-width: 1920px) {
      width: 84%;
    }

    @media screen and (max-width: 1440px) {
      width: 95%;
      line-height: 25px;
    }

    @media screen and (max-width: 430px) {
      width: 100%;
      line-height: 24px;
    }
  }

  ul li {
    @media screen and (max-width: 430px) {
      line-height: 24px;
    }
  }
}


.size89 {
  font-size: 89px;

  @media (max-width: 1650px) {
    font-size: 56px;
  }

  @media (max-width: 1280px) {
    font-size: 64px;
  }

  @media (max-width: 768px) {
    font-size: 60px;
  }

  @media (max-width: 480px) {
    font-size: 34px;
  }

}