.testimonial {
  .swiper {
    overflow: hidden;
    margin-top: 0;

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      flex-shrink: 0;
      width: 100%;
      height: 500px;
      display: flex;
      align-items: center;
      margin: 0;
      padding-top: 2rem;
    }

    .row {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
    }

    .col-md-4 {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    .testimonial-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .text-warning {
      color: #000 !important;
    }

    .button {
      width: 41px;
      padding: 0;
      height: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      border: 1px solid black;
    }
  }
}
