
body{
  padding: 28px;
  background-color: #FFFFFF;
}
.performa-thin {
  font-family: "Performa thin";
}
.performa-light {
  font-family: "Performa Light";
}
.performa-regular {
  font-family: "Performa Regular";
}
.performa-medium {
  font-family: "Performa Medium";
}
.performa-semibold {
  font-family: "Performa SemiBold";
}
.performa-bold {
  font-family: "Performa Bold";
}
.redhat-thin {
  font-family: "RedHatDisplay";
  font-weight: 200;
}
.redhat-light {
  font-family: "RedHatDisplay";
  font-weight: 300;
}
.redhat-regular {
  font-family: "RedHatDisplay";
  font-weight: 400;
}
.redhat-medium {
  font-family: "RedHatDisplay";
  font-weight: 500;
}
.redhat-semibold {
  font-family: "RedHatDisplay";
  font-weight: 600;
}
.redhat-bold {
  font-family: "RedHatDisplay";
  font-weight: 700;
}

.size18 {
  font-size: 18px;
}
.size16 {
  font-size: 16px;
}
.size14 {
  font-size: 14px;
}
.size20 {
  font-size: 20px;
}
.size22 {
  font-size: 22px;
}
.size28 {
  font-size: 28px;
}
.size89 {
  font-size: 89px;
}
