

@import "assets/scss/abstract/_variables";

body {
  background-color: #ffffff;
  @media (max-width: 768px) {
    padding: 0;
  }
}
//  performa Font family 
.performa-thin {
  font-family: $perfoma-thin;
  font-weight: 200;
}

.performa-light {
  font-family: $perfoma-light;
  font-weight: 300;
}

.performa-regular {
  font-family: $perfoma-regular;
  font-weight: 400;
}

.performa-medium {
  font-family: $perfoma-medium;
  font-weight: 500;
}

.performa-semibold {
  font-family: $perfoma-semibold;
  font-weight: 600;
}

.performa-bold {
  font-family: $perfoma-bold;
  font-weight: 700;
}

// Red Hat Display font family  
.redhat-thin {
  font-family: $redhat;
  font-weight: 200;
}

.redhat-light {
  font-family: $redhat;
  font-weight: 300;
}
.redhat-regular {
  font-family: $redhat;
  font-weight: 400;
}
.redhat-medium {
  font-family: $redhat;
  font-weight: 500;
}
.redhat-semibold {
  font-family: $redhat;
  font-weight: 600;
}
.redhat-bold {
  font-family: $redhat;
  font-weight: 700;
}

// font sizes
.size8{
  font-size: 8px ;
}
.size14 {
  font-size: 14px;
  @media (max-width:768px) {
    font-size: 12px;
  }
}
.size16 {
  font-size: 16px;
  @media (max-width:1600px) {
    font-size: 14px;
  }
  @media (max-width:1440px) {
    font-size: 12px;
  }
  @media (max-width:1280px) {
    font-size: 12px;
  }
  @media (max-width:768px) {
    font-size: 10px;
  }
}
.size18 {
  font-size: 18px;
  @media (max-width: 1600px) {
    font-size: 16px;
  }
  @media (max-width: 1536px) {
    font-size: 14px;
  }
  @media (max-width: 1280px) {
    font-size: 12px;
  }
  @media (max-width:768px) {
    font-size: 12px;
  }
  @media (max-width:425px) {
    font-size: 12px;
  }
}
.size20 {
  font-size: 20px;
  @media (max-width: 1600px) {
		font-size: 18px;
	}
	@media (max-width: 1440px) {
		font-size: 16px;
	}
	@media (max-width: 1024px) {
		font-size: 14px;
	}
	@media (max-width: 380px) {
		font-size: 12px;
	}
}
.size22 {
  font-size: 22px;
  @media (max-width: 1600px) {
		font-size: 20px;
	}
	@media (max-width: 1440px) {
		font-size: 18px;
	}
  @media (max-width: 1280px) {
    font-size: 16px;
  }
  @media (max-width: 1024px) {
    font-size: 14px;
  } 
  @media (max-width:768px) {
    font-size: 16px;
  }
}
.size24 {
  font-size: 24px;
  @media (max-width: 1600px) {
		font-size: 22px;
	}
	@media (max-width: 1440px) {
		font-size: 20px;
	}
  @media (max-width: 1280px) {
    font-size: 18px;
  }
  @media (max-width: 1024px) {
    font-size: 16px;
  }
  @media (max-width:768px) {
    font-size: 10px;
  }
}
.size26 {
  font-size: 26px;
  @media (max-width: 1600px) {
		font-size: 22px;
	}
	@media (max-width: 1440px) {
		font-size: 20px;
	}
  @media (max-width: 1280px) {
    font-size: 18px;
  }
  @media (max-width: 1024px) {
    font-size: 16px;
  }
  @media (max-width:768px) {
    font-size: 16px;
  }
}
.size28 {
  font-size: 28px;
  @media (max-width: 1600px) {
		font-size: 26px;
	}
  @media (max-width: 1440px) {
		font-size: 22px;
	}
	@media (max-width: 1280px) {
		font-size: 20px;
	}
  @media (max-width:768px) {
    font-size: 16px;
  }
}
.size30 {
  font-size: 30px;
    @media (max-width: 1600px) {
		font-size: 28px;
	}
  @media (max-width: 1440px) {
		font-size: 26px;
	}
	@media (max-width: 1280px) {
		font-size: 24px;
	}
  @media (max-width:768px) {
    font-size: 11px;
  }
}
.size32 {
  font-size: 32px;
  @media (max-width: 1600px) {
		font-size: 28px;
	}
	@media (max-width: 1440px) {
		font-size: 26px;
	}
	@media (max-width: 1024px) {
		font-size: 24px;
	}

	@media (max-width: 991px) {
		font-size: 20px;
	}
	@media (max-width: 480px) {
		font-size: 18px;
	}
}
.size35 {
  font-size: 35px;
  @media (max-width: 1600px) {
		font-size: 28px;
	}
  @media (max-width: 1440px) {
		font-size: 26px;
	}
  @media (max-width: 1280px) {
    font-size: 24px;
  }
  @media (max-width:1024px) {
    font-size: 21px;
  }
  @media (max-width:768px) {
    font-size: 12px;
  }
}
.size42 {
  font-size: 42px;
  @media (max-width: 1600px) {
		font-size: 32px;
	}
	@media (max-width: 1440px) {
		font-size: 28px;
	}
	@media (max-width: 575px) {
		font-size: 24px;
	}
}
.size46 {
  font-size: 46px;
  @media (max-width:1536px) {
    font-size: 40px;
  }
  @media (max-width:1024px) {
    font-size: 36px;
  }
  @media (max-width:768px) {
    font-size: 32px;
  }
}
.size55 {
  font-size: 55px;
  @media (max-width: 1600px) {
		font-size: 42px;
	}

	@media (max-width: 1440px) {
		font-size: 36px;
	}

	@media (max-width: 991px) {
		font-size: 32px;
	}

	@media (max-width: 430px) {
		font-size: 26px;
	}
}
.size60{
  font-size: 60px;
  @media (max-width:1536px) {
    font-size: 44px;
  }
  @media (max-width:1024px) {
    font-size: 42px;
  }
  @media (max-width:768px) {
    font-size: 32px;
  }
  @media (max-width:430px) {
    font-size: 22px;
  }
}
.size90 {
  font-size: 90px;
  @media (max-width: 1650px) {
		font-size: 80px;
	}

	@media (max-width: 1600px) {
		font-size: 75px;
	}

	@media (max-width: 1440px) {
		font-size: 60px;
	}

	@media (max-width: 1280px) {
		font-size: 50px;
	}

	@media (max-width: 767px) {
		font-size: 40px;
	}

	@media (max-width: 600px) {
		font-size: 36px;
	}

	@media (max-width: 480px) {
		font-size: 32px;
	}

	@media (max-width: 380px) {
		font-size: 26px;
	}
}

// line-height
.line-height90{
  line-height: 90px;
  @media (max-width:1650px) {
    line-height: 75px;
  }
  @media (max-width:1440px) {
    line-height: 70px;
  }
  @media (max-width:1366px) {
    line-height: 65px;
  }
  @media (max-width:1280px) {
    line-height: 60px;
  }
  @media (max-width:1024px) {
    line-height: 45px;
  }
  @media (max-width:768px) {
    line-height: 35px;
  }
  @media (max-width:430px) {
    line-height: 25px;
  }
}
.line-height30{
  line-height: 30px;
  @media (max-width:1600px) {
    line-height: 22px;
  }
  @media (max-width:1440px) {
    line-height: 20px;
  }
  @media (max-width:1024px) {
    line-height: 16px;
  }
  
}
.line-height26{
  line-height: 26px;
  @media (max-width:1600px) {
    line-height: 23px;
  }
  @media (max-width:1440px) {
    line-height: 18px;
  }
  @media (max-width:1280px) {
    line-height: 16px;
  }
  
}


// colors

.white-color{
  // $color-white: #F3F3F3;
  color: $color-white;
}
.white-border-color{
  // #F3F3F359
  border-color: $color-border-white;
}
.black-color{
  // $color-black: #11191F;
  color: $color-black;
}
.black-light-color{
  // $color-black: #11191F;
  color: $color-light-black;
}
.green-color{
  // $color-green: #89E283;
  color: $color-green;
  border-color: $color-green;
}
.beige-color{
  // $color-beige: #F8F4F0;
  color: $color-beige;
}
// $color-gray-light: #D1D1D1;
.gray-light-color{
  color: $color-gray-light;
}
.gray-color{
  // $color-gray: #1D1D1D;
  color: $color-gray;
}
.gray-beige-color{
  // $color-gray-beige: #F0F0F0;
  color: $color-gray-beige;
} 
.color-card-p{
  // #48494B
  color: $color-card-p;
}

// common button styles
.white-button {
  width: max-content;
  border: 2px solid $color-white;
  color: $color-black;
  background-color: $color-white;
  border-radius: 100px;
  padding: 14px 68.5px;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease;
  @media (max-width:1600px) {
    padding: 14px 40px;
  }
  @media (max-width:1440px) {
    padding: 10px 30px;
  }
  @media (max-width:768px) {
    padding: 10px 40px;
  }
  @media (max-width:430px) {
    padding: 10px 20px;
  }
}
.white-border-button {
  width: max-content;
  border: 2px solid $color-white;
  color: $color-white;
  background-color: transparent;
  border-radius: 100px;
  padding: 14px 68.5px;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease;
  @media (max-width:1600px) {
    padding: 14px 50px;
  }
  @media (max-width:1440px) {
    padding:10px 30px;
  }
  @media (max-width:768px) {
    padding: 10px 40px;
  }
  @media (max-width:430px) {
    padding: 10px 20px;
  }
}
.black-button {
  width: max-content;
  border: 2px solid $color-gray;
  color: $color-gray-beige;
  background-color: $color-gray;
  border-radius: 100px;
  padding: 14px 68.5px;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease;
  @media (max-width:1600px) {
    padding: 14px 50px;
  }
  @media (max-width:1440px) {
    padding: 10px 30px;
  }
  @media (max-width:768px) {
    padding: 10px 40px;
  }
  @media (max-width:430px) {
    padding: 10px 20px;
  }
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.sectionPadding{
  padding:6rem 12rem;
  @media (max-width:1440px) {
    padding: 4rem 7rem;
  }
  @media (max-width:1024px) {
    padding: 4rem 6rem;
  }
  @media (max-width:768px) {
    padding: 3rem 10px;
  }
}

.bannerPadding{
  padding: 28px;
  @media (max-width:1536px) {
    padding: 24px;
  }
  @media (max-width:1024px) {
    padding: 20px;
  }
  @media (max-width:768px) {
    padding: 15px;
  }
}

a{
  &:focus{
    outline: none;
    border: none;
  }
  &:active{
    outline: none;
    border: none;
  }
  &:hover{
    outline: none;
    border: none;
  }
}