<div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h1 class="size80 redhat-bold gray-color">4<span class="size80 redhat-bold gray-color">0</span>4</h1>
      </div>
      <h2 class="size26 redhat-semibold gray-color text-uppercase">the page you requested could not found</h2>
      <div class="w-100 d-flex justify-content-center align-items-center">
          <a class="black-button size18 redhat-bold text-capitalize" href="/">Back To Home</a>
        </div>
    </div>
  </div>
  <app-complimentory></app-complimentory>