<section class="home">
  <div class="container-fluid position-relative">
    <img src="assets/images/home_banner.png" alt="home" class="w-100" />

    <div class="content">
      <h1 class="size89 performa-thin">Drive <br />Your Dream</h1>
      <p class="size20 redhat-regular">
        Welcome to our limousine rental website, we offer luxury transportation
        services for any occasion, from weddings and proms to corporate events
        and airport transferes.
      </p>
      <button class="size18 redhat-bold">Book Now</button>
    </div>
    <div class="form-content">
      <form
        [formGroup]="reservationForm"
        class="quick-reservation-form"
        (ngSubmit)="onSubmit()"
      >
        <h2 class="text-center mb-4 size28 redhat-bold text-black">
          Quick Reservation
        </h2>

        <!-- Vehicle Type Toggle -->
        <div class="d-flex justify-content-center mb-4">
          <div class="vehicle-switch-container">
            <label class="vehicle-switch-label">
              <span class="vehicle-switch-text">CARS</span>
              <input
                type="radio"
                name="vehicleType"
                formControlName="vehicleType"
                value="Car"
                class="vehicle-switch-input"
                (change)="toggleVehicleType()"
              />
              <span class="vehicle-switch-slider"></span>
              <span class="vehicle-switch-text">Yachts</span>
            </label>
          </div>
        </div>

        <!-- Car Form -->
        <div *ngIf="isCar" class="car-form">
          <div class="row">
            <div class="mb-4 col-6">
              <label for="carType" class="form-label size18 redhat-bold"
                >Type</label
              >
              <select class="form-select" formControlName="type">
                <option value="">Select Type</option>
                <option *ngFor="let type of carTypes" [value]="type.name">
                  {{ type.name }}
                </option>
              </select>
            </div>

            <div class="mb-4 col-6">
              <label for="carModel" class="form-label size18 redhat-bold"
                >Model</label
              >
              <select class="form-select" formControlName="model">
                <option value="">Select Model</option>
                <option *ngFor="let model of carTypes" [value]="model.name">
                  {{ model.name }}
                </option>
              </select>
            </div>

            <div class="mb-4 col-6">
              <label for="pickupDate" class="form-label size18 redhat-bold"
                >Pickup Date</label
              >
              <input
                type="date"
                class="form-input"
                formControlName="pickupDate"
                [min]="today"
                [max]="maxDate"
              />
              <div class="row mb-2">
                <div class="col-6">
                  <input
                    type="time"
                    class="form-input"
                    formControlName="pickupTime"
                  />
                </div>
              </div>
              <input
                type="text"
                class="form-input"
                formControlName="pickupLocation"
                placeholder="Enter pickup location"
              />
            </div>

            <div class="mb-4 col-6">
              <label for="returnDate" class="form-label size18 redhat-bold"
                >Return Date</label
              >
              <input
                type="date"
                class="form-input"
                formControlName="returnDate"
                [min]="reservationForm.get('pickupDate').value"
                [max]="maxDate"
              />
              <div class="row mb-2">
                <div class="col-6">
                  <input
                    type="time"
                    class="form-input"
                    formControlName="returnTime"
                  />
                </div>
              </div>
              <input
                type="text"
                class="form-input"
                formControlName="returnLocation"
                placeholder="Enter return location"
              />
            </div>
          </div>

          <button type="submit" class="book-now-btn">Book Now</button>
        </div>

        <!-- Yacht Form -->
        <div *ngIf="!isCar" class="yacht-form">
          <div class="row">
            <div class="mb-4 col-6">
              <label for="yachtType" class="form-label size18 redhat-bold"
                >Type</label
              >
              <select class="form-select" formControlName="type">
                <option value="">Select Type</option>
                <option *ngFor="let type of yachtTypes" [value]="type">
                  {{ type }}
                </option>
              </select>
            </div>

            <div class="mb-4 col-6">
              <label for="yachtSize" class="form-label size18 redhat-bold"
                >Size</label
              >
              <select class="form-select" formControlName="model">
                <option value="">Select Size</option>
                <option *ngFor="let size of yachtSizes" [value]="size">
                  {{ size }}
                </option>
              </select>
            </div>

            <div class="mb-4 col-6">
              <label for="departureDate" class="form-label size18 redhat-bold"
                >Departure Date</label
              >
              <input
                type="date"
                class="form-input"
                formControlName="departureDate"
                [min]="today"
                [max]="maxDate"
              />
              <div class="row mb-2">
                <div class="col-6">
                  <input
                    type="time"
                    class="form-input"
                    formControlName="departureTime"
                  />
                </div>
              </div>
              <input
                type="text"
                class="form-input"
                formControlName="departureMarina"
                placeholder="Enter departure marina"
              />
            </div>

            <div class="mb-4 col-6">
              <label for="returnDate" class="form-label size18 redhat-bold"
                >Return Date</label
              >
              <input
                type="date"
                class="form-input"
                formControlName="returnDate"
                [min]="reservationForm.get('departureDate').value"
                [max]="maxDate"
              />
              <div class="row mb-2">
                <div class="col-6">
                  <input
                    type="time"
                    class="form-input"
                    formControlName="returnTime"
                  />
                </div>
              </div>
              <input
                type="text"
                class="form-input"
                formControlName="returnMarina"
                placeholder="Enter return marina"
              />
            </div>
          </div>

          <button type="submit" class="book-now-btn">Book Now</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="car-types-section">
  <h3 class="text-center mb-3 size22 redhat-bold">Browse by Car Type</h3>
  <div class="container-fluid" style="padding: 0 195px">
    <div class="d-flex justify-content-between align-items-center gap-4">
      <div *ngFor="let car of carTypes" class="car-icon">
        <img [src]="getCarImageUrl(car)" [alt]="car.name" />
        <p class="size18 redhat-semibold text-center position-relative">
          {{ car.name }}
        </p>
      </div>
    </div>
  </div>
</section>

<!-- services section -->
<section>
  <div class="container">
    <div class="">
      <h3 class="size22 redhat-bold">Services</h3>
      <h2 class="size60 performa-light">Drive Your Dream</h2>
      <p class="size20 redhat-regular">
        Welcome to our limousine rental website, we offer luxury transportation
        services for any occasion, from weddings and proms to corporate events
        and airport transfers.
      </p>
      <button class="size18 redhat-bold">view all</button>
    </div>
  </div>
</section>
