<section class="product-detail" *ngIf="vehicleData">
  <div class="container-fluid " style="height: auto;">
    <div class="product-header mb-4">
      <h3 *ngIf="
          vehicleData.bodytype_data && vehicleData.bodytype_data.length > 0
        " class="size22 redhat-semibold text-uppercase mb-2">
        {{ vehicleData.bodytype_data[0].name }}
      </h3>
      <h1 class="size46 performa-light mb-4">
        {{ vehicleData.name }}
      </h1>
    </div>

    <div class="container-fluid gallery-height">
      <div class="row h-100">
        <div class="col-xl-9 col-lg-12 mb-xl-0 mb-md-3 mb-2 pad-right h-100">
          <div class="main-image-wrapper position-relative">
            <img [src]="images[currentIndex].src" [alt]="images[currentIndex].alt" class="img-fluid h-100" loading="lazy" />
            <button class="position-absolute top-50 translate-middle-y prev" (click)="prevImage()">
              <img src="{{ imageURL }}/product-details/left-arrow.svg" alt="Previous" />
            </button>
            <button class="position-absolute top-50 translate-middle-y next" (click)="nextImage()">
              <img src="{{ imageURL }}/product-details/right-arrow.svg" alt="Next" class="arrows" />
            </button>
          </div>
        </div>

        <div class="col-xl-3 col-lg-12 pad-left h-100">
          <div class="d-flex flex-xl-column gap-xl-4 gap-lg-3 gap-md-3 gap-2 thumbnail-height">
            <div class="thumbnail-item" *ngFor="let img of images | slice:0:3; let i = index; let last = last" 
                 (click)="selectImage(i)">
              <img [src]="img.src" [alt]="img.alt" loading="lazy" />
              <div *ngIf="last && images.length > 3" class="remaining-count-overlay size18 redhat-semibold white-color">
                +{{images.length - 3}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="gallery-height d-grid">
      <div class="main-image-wrapper position-relative">
        <img [src]="mainImage.src" [alt]="mainImage.alt" class="img-fluid h-100" loading="lazy" />
        <button class="position-absolute top-50 translate-middle-y prev" (click)="prevImage()">
          <img src="{{ imageURL }}/product-details/left-arrow.svg" alt="Previous" />
        </button>
        <button class="position-absolute top-50 translate-middle-y next" (click)="nextImage()">
          <img src="{{ imageURL }}/product-details/right-arrow.svg" alt="Next" class="arrows" />
        </button>
      </div>
      <div class="sub d-flex w-100 mt-3">
        <div class="d-flex flex-xl-column h-100 gap-xl-4 gap-lg-3">
          <div *ngFor="let img of thumbnailImages.images; let i = index" class="thumbnail-item" [class.active]="i === 0"
            (click)="selectImage((currentIndex + i) % images.length)">
            <img [src]="img.src" [alt]="img.alt" loading="lazy" />
            <div *ngIf="img.showCount" class="remaining-count-overlay">
              +{{ img.count }}
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</section>

<section class="details" *ngIf="vehicleData">
  <div class="container-fluid">
    <div class="row sticky-container" #stickyContainer>
      <div class="d-xl-block d-none border border-1 border-black p-4 sticky-card" #stickyCard>
          <div class="row">
            <div class="col mb-md-4">
              <img src="{{ thumbnailImage }}" alt="" class="sticky_image thumbnail-image" />
            </div>
          <div class="col mb-md-4 d-flex flex-column justify-content-end">
            <p class="size18 redhat-semibold mb-0 color-card-p text-capitalize">{{ vehicleData.bodytype_data[0].name }}</p>
            <h4 class="size26 redhat-semibold m-0 gray-color">{{ vehicleData.name }}</h4>
          </div>
        </div>
        <!-- <div class="cash">
          <h5 class="mb-0 size26 redhat-semibold" *ngIf="vehicleData && vehicleData.rentalType == 'Daily'">
            AED {{ vehicleData.regularRateDaily }}
          </h5>
          <h5 class="mb-0 size26 redhat-semibold" *ngIf="vehicleData && vehicleData.rentalType == 'Hourly'">
            AED {{ vehicleData.regularRateHourly }}
          </h5>
          <h5 class="mb-0 size26 redhat-semibold" *ngIf="vehicleData && vehicleData.rentalType == 'Weekly'">
            AED {{ vehicleData.regularRateWeekly }}
          </h5>
          <h5 class="mb-0 size26 redhat-semibold" *ngIf="vehicleData && vehicleData.rentalType == 'Monthly'">
            AED {{ vehicleData.regularRateMonthly }}
          </h5>
        </div> -->
        <div class="d-flex align-items-center justify-content-between margin17">
          <div class="">
            <span class=" size14 redhat-medium color-card-p text-capitalize">per day</span>
            <h6 class="mb-0 size20 redhat-semibold  gray-color"
              *ngIf="vehicleData && vehicleData.dailyRate">
              <span class="size16 redhat-regular gray-color text-uppercase">AED</span> {{ vehicleData.dailyRate }}
            </h6>
          </div>
          <div class="">
            <span class=" size14 redhat-medium color-card-p text-capitalize">per week</span>
            <h6 class="mb-0 size20 redhat-semibold  gray-color"
              *ngIf="vehicleData && vehicleData.weeklyRate">
              <span class="size16 redhat-regular gray-color text-uppercase">AED</span> {{ vehicleData.weeklyRate }}
            </h6>
          </div>
          <div class="">
            <span class=" size14 redhat-medium color-card-p text-capitalize">per month</span>
            <h6 class="mb-0 size20 redhat-semibold  gray-color"
              *ngIf="vehicleData && vehicleData.monthlyRate">
              <span class="size16 redhat-regular gray-color text-uppercase">AED</span> {{ vehicleData.monthlyRate }}
            </h6>
          </div>
        </div>

        <div class="d-flex justify-content-between mb-4">
          <div class="d-flex align-items-center">
            <div class="circle rounded-pill bg-black d-flex align-items-center justify-content-center me-1 sticky-card-icons">
              <img src="{{ imageURL }}/product-details/overview_icons/location.svg" alt="location" />
            </div>
            <p class="size14 redhat-regular m-0 color-card-p text-capitalize">get directions</p>
          </div>
          <div class="d-flex align-items-center">
            <div class="circle rounded-pill bg-black d-flex align-items-center justify-content-center me-1 sticky-card-icons">
              <img src="{{ imageURL }}/product-details/overview_icons/call.svg" alt="call"/>
            </div>
            <p class="size14 redhat-regular m-0 color-card-p text-decoration-none">+971 800 44678</p>
          </div>
        </div>
        <div class="btns">
          <div class="w-100  mb-3 text-center" *ngIf="vehicleData">
            <a [routerLink]="['/contact/product', vehicleData.name]"
              class="size18 redhat-semibold text-decoration-none black-button text-capitalize">
              send a mail
            </a>
          </div>
          <div class="w-100  text-center">
            <a href="https://wa.me/971555555555"
              class="size18 redhat-semibold text-decoration-none rounded-pill cstpadding text-capitalize bg-green-color green-border-color white-color d-flex align-items-center justify-content-center whatsappbtn">
              <img class="whatsappicon me-1" src="{{ baseUrl }}/assets/home/whatsapp-white.svg" alt="whatsapp icon" width="28" height="28" /> book via whatsapp
            </a>
          </div>
        </div>
      </div>


      <div class="d-xl-none d-block px-sm-4 p-0">
        <div class="border border-1 border-black p-md-4 p-3 purchase-card mb-5">
          <div class="d-sm-flex d-block justify-content-between mb-4">
            <img src="{{ thumbnailImage }}" alt="" class="sticky_image thumbnail-image mb-sm-0 mb-4" />
            <div class="d-flex flex-column justify-content-between me-3 me-md-0">
              <div>
                <p class="size18 redhat-semibold mb-0 color-card-p text-capitalize">{{ vehicleData.bodytype_data[0].name }}</p>
                <h4 class="size26 redhat-semibold m-0 gray-color">{{ vehicleData.name }}</h4>
              </div>
              <div class="">
                <span class=" size14 redhat-medium color-card-p text-capitalize">per day</span>
                <h6 class="mb-0 size26 redhat-semibold  gray-color"
                  *ngIf="vehicleData && vehicleData.regularRateDaily">
                  <span class="size16 redhat-semibold gray-color text-uppercase">AED</span> {{ vehicleData.regularRateDaily }}
                </h6>
              </div>
            </div>
            <!-- <div class="cash">
              <h6 class="text-muted mb-0 size18 redhat-semibold text-decoration-line-through"
                *ngIf="vehicleData && vehicleData.regularRateDaily">
                AED {{ vehicleData.regularRateDaily }}
              </h6>
              <h5 class="mb-0 size26 redhat-semibold" *ngIf="vehicleData && vehicleData.rentalType == 'Daily'">
                AED {{ vehicleData.dailyRate }}
              </h5>
              <h5 class="mb-0 size26 redhat-semibold" *ngIf="vehicleData && vehicleData.rentalType == 'Hourly'">
                AED {{ vehicleData.hourlyRate }}
              </h5>
              <h5 class="mb-0 size26 redhat-semibold" *ngIf="vehicleData && vehicleData.rentalType == 'Weekly'">
                AED {{ vehicleData.weeklyRate }}
              </h5>
              <h5 class="mb-0 size26 redhat-semibold" *ngIf="vehicleData && vehicleData.rentalType == 'Monthly'">
                AED {{ vehicleData.monthlyRate }}
              </h5>
            </div> -->
          
          </div>
          <div class="d-flex align-items-center justify-content-between margin17">
            <div class="">
              <span class="size14 redhat-medium color-card-p text-capitalize">per day</span>
              <h6 class="mb-0 size20 redhat-semibold  gray-color"
                *ngIf="vehicleData && vehicleData.dailyRate">
                <span class="size16 redhat-regular gray-color text-uppercase">AED</span> {{ vehicleData.dailyRate }}
              </h6>
            </div>
            <div class="">
              <span class=" size14 redhat-medium color-card-p text-capitalize">per week</span>
              <h6 class="mb-0 size20 redhat-semibold  gray-color"
                *ngIf="vehicleData && vehicleData.weeklyRate">
                <span class="size16 redhat-regular gray-color text-uppercase">AED</span> {{ vehicleData.weeklyRate }}
              </h6>
            </div>
            <div class="">
              <span class=" size14 redhat-medium color-card-p text-capitalize">per month</span>
              <h6 class="mb-0 size20 redhat-semibold  gray-color"
                *ngIf="vehicleData && vehicleData.monthlyRate">
                <span class="size16 redhat-regular gray-color text-uppercase">AED</span> {{ vehicleData.monthlyRate }}
              </h6>
            </div>
          </div>
  
          <!-- <h4 class="size26 redhat-semibold m-0">{{ vehicleData.name }}</h4>
          <p class="size18 redhat-semibold mb-2">{{ vehicleData.bodytype_data[0].name }}</p> -->
  
          <div class="d-sm-flex d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center my-sm-0 my-3 justify-content-center pe-3">
              <div class="circle rounded-pill bg-black d-flex align-items-center justify-content-center me-1 sticky-card-icons">
                <img src="{{ imageURL }}/product-details/overview_icons/location.svg" alt="location" />
              </div>
              <p class="size14 redhat-regular m-0 text-capitalize">get directions</p>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="circle rounded-pill bg-black d-flex align-items-center justify-content-center me-1 sticky-card-icons">
                <img src="{{ imageURL }}/product-details/overview_icons/call.svg" alt="call" />
              </div>
              <p class="size14 redhat-regular m-0">+971 800 44678</p>
            </div>
          </div>
          <div class="btns">
            <div
              class="w-100 bg-black border border-1 rounded-3 mb-3 p-2 p-md-3 text-center d-flex justify-content-center align-items-center"
              *ngIf="vehicleData">
              <a [routerLink]="['/contact/product', vehicleData.name]"
                class="size18 redhat-semibold text-decoration-none white-color text-capitalize">
                send a mail
              </a>
            </div>
            <div
              class="w-100 bg-green-color rounded-3 p-2 p-md-3 green-border-color text-center d-flex justify-content-center align-items-center">
              <a href="https://wa.me/971555555555"
                class="size18 redhat-semibold  text-decoration-none text-capitalize white-color d-flex align-items-center justify-content-center">
                <img class="whatsappicon me-1" src="{{ baseUrl }}/assets/home/whatsapp-white.svg" alt="whatsapp icon" width="20" height="20" />book via whatsapp
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-9 col-12 border-1 border-bottom section-width">
        <div class="">
          <h3 class="size26 redhat-semibold text-capitalize margin42">
            {{vehicleData.vehicle_type}} overview
          </h3>

          <div class="row">
          <div class="col-lg-4 col-md-4 col-12 margin31" *ngFor="let detail of carDetails.flat()">
              <div class="row align-items-center">
                <div class="col-2 p-0">
                  <img [src]="
                      imageURL +
                      '/product-details/overview_icons/' +
                      detail.icon +
                      '.svg'
                    " [alt]="detail.label" class="overview_icons" />
                </div>
                <div class="col-4">
                  <h5 class="redhat-bold text-capitalize mb-0" style="font-size: 14px;">
                    {{ detail.label }}
                  </h5>
                </div>
                <div class="col-6">
                  <p class="redhat-semibold text-capitalize mb-0" style="font-size: 14px;">
                    {{ detail.value }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-9 col-12 border-1 border-bottom section-width" *ngIf="vehicleData">
        <div class="margin40">
          <h3 class="size26 redhat-semibold text-capitalize margin42">
            description
          </h3>
          <p class="size14 redhat-semibold csmb30" [innerHtml]="vehicleData.description"></p>
        </div>
      </div>

       <!-- <div class="col-xl-9 col-12 border-1 border-bottom section-width" *ngIf="vehicleData">
        <div class="margin40">
          <h3 class="size26 redhat-semibold text-capitalize margin42">
            description
          </h3>
         <p class="size18 redhat-semibold mb-5">
            With Ghost Rentals any trip turns into an exciting adventure. Rent a — 
            <span class=" redhat-bold">

              {{ vehicleData.name }} 
            </span>
            car in UAE for -  
            
            <span class=" redhat-bold">
              {{ vehicleData.regularRateDaily }} AED
            </span> per day, 
            <span class=" redhat-bold">
              {{ vehicleData.regularRateWeekly }} AED
            </span> per week, 
            <span class=" redhat-bold">
              {{ vehicleData.regularRateMonthly }} AED
            </span> per month.
            
            Experience the unmatched performance and Luxury on the city roads in a supercar with excellent customized services. From delivering the cleanest vehicle to ensuring on time delivery we focus on every detail to make your ride the best. So what's holding you back, book now with us! For any queries, please contact us.
          </p> 
          <p class="size14 redhat-semibold csmb30">With Ghost Rentals any trip turns into an exciting adventure. Rent a —-------- car in UAE for - per day, per week or per month. Experience the unmatched performance and luxury on the city roads in a supercar with excellent customized services.</p>
          <p class="size14 redhat-semibold">From delivering the cleanest vehicle to ensuring on time delivery we focus on every detail to make your ride the best. So what's holding you back, book now with us! For any queries, please contact us.</p>
        </div>
      </div>
      -->

      <div class="col-xl-9 col-12 border-1 border-bottom section-width"  *ngIf="vehicleData.vehicle_type =='Yachts' && vehicleData.feature_data && vehicleData.feature_data.length > 0">
        <div class="margin40">
          <h3 class="size26 redhat-semibold text-capitalize margin42">
            features
          </h3>
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-sm-0 mb-3" *ngIf="interior && interior.length > 0">
              <div class="d-flex flex-column" >
                <h6 class="size18 redhat-semibold text-capitalize mb-3">
                  Interior
                </h6>
                <ul class="list-unstyled">
                  <li class="d-flex gap-4 align-items-center mb-3" *ngFor="let item of interior">
                    <img src="{{ imageURL }}/product-details/tick_mark.png" alt="" class="features_icons" />
                    <p class="size14 redhat-semibold text-capitalize m-0">
                      {{ item.name }}
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-sm-0 mb-3" *ngIf="exterior && exterior.length > 0">
              <div class="d-flex flex-column">
                <h6 class="size18 redhat-semibold text-capitalize mb-3">
                  exterior
                </h6>
                <ul class="list-unstyled">
                  <li class="d-flex gap-4 align-items-center mb-3" *ngFor="let item of exterior">
                    <img src="{{ imageURL }}/product-details/tick_mark.png" alt="" class="features_icons" />
                    <p class="size14 redhat-semibold text-capitalize m-0">
                      {{ item.name }}
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-sm-0 mb-3" *ngIf="safety && safety.length > 0">
              <div class="d-flex flex-column">
                <h6 class="size18 redhat-semibold text-capitalize mb-3">
                  Safety
                </h6>
                <ul class="list-unstyled">
                  <li class="d-flex gap-4 align-items-center mb-3" *ngFor="let item of safety">
                    <img src="{{ imageURL }}/product-details/tick_mark.png" alt="" class="features_icons" />
                    <p class="size14 redhat-semibold text-capitalize m-0">
                      {{ item.name }}
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-sm-0 mb-3" *ngIf="comfort && comfort.length > 0">
              <div class="d-flex flex-column">
                <h6 class="size18 redhat-semibold text-capitalize mb-3">
                  Comfort & Convenience
                </h6>
                <ul class="list-unstyled">
                  <li class="d-flex gap-4 align-items-center mb-3" *ngFor="let item of comfort">
                    <img src="{{ imageURL }}/product-details/tick_mark.png" alt="" class="features_icons" />
                    <p class="size14 redhat-semibold text-capitalize m-0">
                      {{ item.name }}
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-6 mb-sm-0 mb-3" *ngIf="vehicleData.vehicle_type =='Yachts' && vehicleData.feature_data && vehicleData.feature_data.length > 0">
              <div class="d-flex flex-column">
                <h6 class="size18 redhat-semibold text-capitalize mb-3">
                  SPECIAL ADD-ONS
                </h6>
                <ul class="list-unstyled">
                  <li class="d-flex gap-4 align-items-center mb-3" *ngFor="let item of vehicleData.feature_data">
                    <img src="{{ imageURL }}/product-details/tick_mark.png" alt="" class="features_icons" />
                    <p class="size14 redhat-semibold text-capitalize m-0">
                      {{ item.name }}
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- <div class="d-flex gap-4">
            <div class="d-flex flex-column">
              <h6 class="size18 redhat-semibold text-capitalize mb-3">
                Interior
              </h6>
              <ul class="list-unstyled">
                <li
                  class="d-flex gap-4 align-items-center mb-3"
                  *ngFor="let item of interior"
                >
                  <img
                    src="{{ imageURL }}/product-details/tick_mark.png"
                    alt=""
                    class="features_icons"
                  />
                  <p class="size14 redhat-semibold text-capitalize m-0">
                    {{ item.name }}
                  </p>
                </li>
              </ul>
            </div>
            <div class="d-flex flex-column">
              <h6 class="size18 redhat-semibold text-capitalize mb-3">
                exterior
              </h6>
              <ul class="list-unstyled">
                <li
                  class="d-flex gap-4 align-items-center mb-3"
                  *ngFor="let item of exterior"
                >
                  <img
                    src="{{ imageURL }}/product-details/tick_mark.png"
                    alt=""
                    class="features_icons"
                  />
                  <p class="size14 redhat-semibold text-capitalize m-0">
                    {{ item.name }}
                  </p>
                </li>
              </ul>
            </div>
            <div class="d-flex flex-column">
              <h6 class="size18 redhat-semibold text-capitalize mb-3">
                Safety
              </h6>
              <ul class="list-unstyled">
                <li
                  class="d-flex gap-4 align-items-center mb-3"
                  *ngFor="let item of safety"
                >
                  <img
                    src="{{ imageURL }}/product-details/tick_mark.png"
                    alt=""
                    class="features_icons"
                  />
                  <p class="size14 redhat-semibold text-capitalize m-0">
                    {{ item.name }}
                  </p>
                </li>
              </ul>
            </div>
            <div class="d-flex flex-column">
              <h6 class="size18 redhat-semibold text-capitalize mb-3">
                Comfort & Convenience
              </h6>
              <ul class="list-unstyled">
                <li
                  class="d-flex gap-4 align-items-center mb-3"
                  *ngFor="let item of comfort"
                >
                  <img
                    src="{{ imageURL }}/product-details/tick_mark.png"
                    alt=""
                    class="features_icons"
                  />
                  <p class="size14 redhat-semibold text-capitalize m-0">
                    {{ item.name }}
                  </p>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>

      <div class="col-xl-9 col-12 location-section section-width">
        <div class="margin40">
          <h3 class="size26 redhat-semibold text-capitalize margin42">
            location
          </h3>
          <p class="size18 redhat-semibold text-capitalize">
            mk ghaninam, warehouse
            <br />
            no.40 3rd al wuar, al a rja industrial area
            <br />
            dubai, united arab emirates
          </p>
          <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.4000982981856!2d55.22321477595085!3d25.122160834734917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6bb7c49961e7%3A0x4b3661e383f4d582!2sGhost%20Rentals!5e0!3m2!1sen!2sin!4v1750942590319!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class=" collection">
  <div class="container-fluid">
    <h3 class="text-capitalize size60 performa-light margin42 " data-aos="fade-up" data-aos-duration="1000">related listings</h3>

    <div class="row">
      <div class="results-section col-xl-12 col-lg-12 col-md-12 col-12" #resultsSection>
        <div class="products" data-aos="fade-up" data-aos-duration="1000">
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-12 mb-xl-5 mb-4" *ngFor="let car of relatedVehicleData">
              <div class="car-card " [routerLink]="['/product', car.url_key]" routerLinkActive="router-link-active">
                <img src="{{ backendURl }}/media/{{ car.media_data[0].src }}" [alt]="car.name"
                  class="img-fluid thumbnail-image w-100" />
                <div class="card-content h-100 d-flex flex-column justify-content-center">
                  <div class="car-info  d-flex justify-content-between align-items-center position-relative">
                    <div class="car-header margin15">
                      <h4 class="car-name mb-1 size26 redhat-semibold gray-color">
                        {{ car.name }}
                      </h4>
                      <h6 class="transmission text-muted size18 redhat-semibold text-capitalize color-card-p">
                        {{ car.transmission }}
                      </h6>
                    </div>
                    <span *ngIf="car && car.isvipNumberPlate"
                      class="size12 redhat-bold text-capitalize special-number px-2 py-1">special number
                      plate</span>
                  </div>

                  <div class="d-flex justify-content-between border-top border-bottom collection-padding">
                    <div class="text-center">
                      <img src="{{ imageURL }}/home/collection/fuel_icon.png" class="img-fluid collection_image"
                        alt="" />
                      <h6 class="mb-0 mt-md-2 size16 redhat-semibold color-card-p">
                        {{ car.fuelType }}
                      </h6>
                    </div>
                    <div class="text-center">
                      <img src="{{ imageURL }}/home/collection/speed_icon.png" class="img-fluid collection_image"
                        alt="" />
                      <h6 class="mb-0 mt-md-2 size16 redhat-semibold color-card-p">
                        {{ car.mileage }}
                      </h6>
                    </div>
                    <div class="text-center">
                      <img src="{{ imageURL }}/home/collection/seat_icon.png" class="img-fluid collection_image"
                        alt="" />
                      <h6 class="mb-0 mt-md-2 size16 redhat-semibold color-card-p">
                        {{ car.seating_capacity }} Seats
                      </h6>
                    </div>
                  </div>

                  <div class="cash-container d-flex justify-content-between align-items-center pt-md-3 pt-2">
                    <div class="cash">
                      <h6 class="text-muted mb-0 size18 redhat-semibold color-card-p text-decoration-line-through">
                        AED {{ car.regularRateDaily }}
                      </h6>
                      <h5 class="mb-0 size26 redhat-semibold gray-color">
                        AED {{ car.dailyRate }}
                      </h5>
                    </div>
                    <a (click)="onclickrelateproduct(car.url_key)"
                      class="p-0 mt-auto text-decoration-none color-card-p size16 redhat-semibold text-capitalize">View
                      details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<app-testimonials></app-testimonials>