.product-detail {
  padding: 12rem 5rem 5rem 5rem;
  @media screen and (max-width: 1200px) {
    padding: 10rem 4rem 4rem 4rem;
  }
  @media screen and (max-width: 768px) {
    padding: 10rem 2rem 2rem 2rem;
  }
  @media screen and (max-width: 425px) {
    padding: 10rem 5px 2rem 5px;
  }

  .main-image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
    border-radius: 8px;
    background: #f5f5f5;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }

  .thumbnail-item {
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
    transition: all 0.3s ease;
    flex: 1;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    &:hover {
      opacity: 0.8;
      img {
        transform: scale(1.05);
      }
    }
    .remaining-count-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}



.prev {
  left: 15px;
  @media screen and (max-width: 768px) {
    left: -5px;
  }
}
.next {
  right: 15px;
  @media screen and (max-width: 768px) {
    right: -5px;
  }
}


.prev,
.next {
  z-index: 2;
  border: none;
  background: transparent;
  outline: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-50%) scale(1.1);
  }

  &:hover lucide-icon {
    transform: scale(1.2);
  }
}

.details {
  padding: 2rem 6rem 6rem 6rem;
  @media screen and (max-width: 1200px) {
    padding: 2rem 5rem;
  }
  @media screen and (max-width: 768px) {
    padding: 2rem 20px;
  }
}
.overview_icons {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 24px;
}

.car-details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.detail-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    // padding: 0.75rem;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    h5 {
      min-width: 140px;
      // margin-right: 35rem;
      @media screen and (max-width: 768px) {
        min-width: 96px;
      }
      @media screen and (max-width: 425px) {
        min-width: 130px;
      }
    }
  }

.features_icons {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.maps {
  width: 100%;
  margin: 20px 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 768px) {
    height: 300px; 
  }

  iframe {
    display: block;
    width: 100%;
    min-height: 450px;
    border: none;
  }
}

.sticky_image {
  width: 222px;
  height: 157px;
  object-fit: cover;
}

.sticky-card {
  position: absolute;
  right: 0.5rem;
  width: 400px;
  background: white;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  &.stuck {
    position: fixed;
    top: 8rem;
    bottom: auto;
    right: 6.5rem;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.bottom-reached {
    position: absolute;
    top: auto;
    bottom: 2rem;
    right: .5rem;
  }
}

.purchase-card{
  width: 400px;
  background: white;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  margin-left: auto;
  margin-right: 12px;
}

.sticky-card-icons {
  width: 50px;
  height: 50px;
  object-fit: contain;
  @media screen and (max-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.sticky-container {
  position: relative;
}

.main-image-wrapper {
  position: relative;
  height: 100%;

  .prev,
  .next {
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    @media screen and (max-width: 768px) {
      width: 80px;
      height: 80px;
    }
    &:hover {
      opacity: 1;
    }
  }
}
// collections
.collection {
  padding: 5rem 0rem 5rem 7rem;
  @media screen and (max-width: 1200px) {
    padding-left: 3.75rem;
  }
  @media screen and (max-width: 768px) {
    padding:22px;
  }
  .margin-right {
    margin-right: 11rem;
  }

  .collection_image {
    width: 35px;
    height: 35px;
  }
  .swiper {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    position: relative;

    .swiper-wrapper {
      align-items: stretch;
      display: flex;
      width: 100%;
    }

    .swiper-slide {
      height: auto;
      display: flex;
      align-items: stretch;
    }
  }
  .car-swiper-button-prev,
  .car-swiper-button-next,
  .yacht-swiper-button-prev,
  .yacht-swiper-button-next {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid black;
    transition: all 0.3s ease;

    &:hover {
      background: black;
      color: white;
    }
    &::after {
      display: none;
    }
    .swiper-button-icon {
      width: 24px;
      height: 24px;
    }
  }
  .car-card {
    width: 500px;
    height: 527px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    img {
      border-radius: 8px;
      margin-bottom: 15px;
    }
    .cash {
      h6 {
        text-decoration: line-through;
      }
    }
  }
}



