
.footer{
  background-color: #11191F;
  padding: 10rem;
  @media screen and (max-width: 1200px) {
    padding: 3.75rem;
  } 
  @media screen and (max-width: 420px) {
    padding: 3.75rem 8rem;
  }
}
.footer-logo {
  width: 264px;
  height: 175px;

  @media screen and (max-width: 1200px) {
    width: 180px;
    height: 120px;
  } 
  @media screen and (max-width: 420px) {
    width: 150px;
    height: 100px;
  }
}

.footer-link{
  font-size: 16px;
}
.footer-link-header{
  font-size: 20px;
}


.footer-gap{
  gap: 128px;
  @media screen and (max-width: 1536px) {
    gap: 90px;
  }
  @media screen and (max-width: 1200px) {
    gap: 64px;
  }
  @media screen and (max-width: 768px) {
    gap: 48px;
  }
  @media screen and (max-width: 420px) {
    gap: 24px;
  }
}