<section class="bg-dark white" style="padding: 10rem">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <img
        src="{{ imageURL }}/images/logo/footer_logo.png"
        alt=""
        style="width: 264px; height: 175px"
      />
    </div>
    <div class="d-flex justify-content-between" style="gap: 5rem">
      <div class="">
        <h4 class="size22 redhat-bold">Quick Links</h4>
        <ul class="nav d-flex flex-column">
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a routerLink="/" class="text-decoration-none white">Home</a>
          </li>
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a routerLink="/services" class="text-decoration-none white"
              >Our cars</a
            >
          </li>
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a routerLink="/services" class="text-decoration-none white"
              >our yachts</a
            >
          </li>
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a routerLink="/services" class="text-decoration-none white"
              >reservations</a
            >
          </li>
        </ul>
      </div>
      <div class="">
        <h4 class="size22 redhat-bold">Support</h4>
        <ul class="nav d-flex flex-column">
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a routerLink="/faq" class="text-decoration-none white">FAQ</a>
          </li>
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a routerLink="/contact" class="text-decoration-none white"
              >contact us</a
            >
          </li>
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a routerLink="/return-policy" class="text-decoration-none white"
              >return policy</a
            >
          </li>
        </ul>
      </div>
      <div class="">
        <h4 class="size22 redhat-bold">Legal</h4>
        <ul class="nav d-flex flex-column">
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a routerLink="/privacy-policy" class="text-decoration-none white"
              >privacy policy</a
            >
          </li>
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a
              routerLink="/terms-and-conditions"
              class="text-decoration-none white"
              >terms & conditions</a
            >
          </li>
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a routerLink="/customer-care" class="text-decoration-none white"
              >customer care</a
            >
          </li>
          <li class="nav-item white size16 redhat-regular text-capitalize">
            <a routerLink="/warranty" class="text-decoration-none white"
              >warranty</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
