<section class="footer">
  <div
    class="d-flex justify-content-between align-items-center flex-md-row flex-column gap-5 gap-lg-5"
  >
    <div class="logo">
      <img
        src="{{ imageURL }}/images/logo/footer_logo.png"
        alt=""
        class="footer-logo"
      />
    </div>
    <div
      class="footer-gap d-flex justify-content-between flex-md-row flex-column text-center text-md-start"
    >
      <div class="">
        <h4 class="footer-link-header redhat-bold white-color">Quick Links</h4>
        <ul class="nav d-flex flex-column">
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a routerLink="/" class="text-decoration-none white-color">Home</a>
          </li>
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a routerLink="/product/search" class="text-decoration-none white-color"
              >Our cars</a
            >
          </li>
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a routerLink="/product/search" class="text-decoration-none white-color"
              >our yachts</a
            >
          </li>
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a routerLink="/contact" class="text-decoration-none white-color"
              >reservations</a
            >
          </li>
        </ul>
      </div>
      <div class="">
        <h4 class="footer-link-header redhat-bold white-color">Support</h4>
        <ul class="nav d-flex flex-column">
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a routerLink="/contact" class="text-decoration-none white-color">FAQ</a>
          </li>
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a routerLink="/contact" class="text-decoration-none white-color"
              >contact us</a
            >
          </li>
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a routerLink="/privacy" class="text-decoration-none white-color"
              >return policy</a
            >
          </li>
        </ul>
      </div>
      <div class="">
        <h4 class="footer-link-header redhat-bold white-color">Legal</h4>
        <ul class="nav d-flex flex-column">
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a routerLink="/privacy" class="text-decoration-none white-color"
              >privacy policy</a
            >
          </li>
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a routerLink="/terms" class="text-decoration-none white-color"
              >terms & conditions</a
            >
          </li>
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a
              routerLink="/contact"
              class="text-decoration-none white-color"
              >customer care</a
            >
          </li>
          <li class="nav-item white footer-link redhat-regular text-capitalize">
            <a routerLink="/contact" class="text-decoration-none white-color"
              >warranty</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
