<section class="bg-dark text-white" style="padding: 10rem">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <img
        src="{{ imageURL }}/images/logo/footer_logo.png"
        alt=""
        style="width: 264px; height: 175px"
      />
    </div>
    <div class="d-flex justify-content-between" style="gap: 5rem">
      <div class="">
        <h4 class="size22 redhat-bold">Quick Links</h4>
        <ul class="nav d-flex flex-column">
          <li class="nav-item text-white size16 redhat-regular text-capitalize">
            Home
          </li>
          <li class="nav-item text-white size16 redhat-regular text-capitalize">
            Our cars
          </li>
          <li class="nav-item text-white size16 redhat-regular text-capitalize">
            our yachts
          </li>
          <li class="nav-item text-white size16 redhat-regular text-capitalize">
            reservations
          </li>
        </ul>
      </div>
      <div class="">
        <h4 class="size22 redhat-bold">Support</h4>
        <ul class="nav d-flex flex-column">
          <li class="nav-item text-white size16 redhat-regular text-capitalize">
            FAQ
          </li>
          <li class="nav-item text-white size16 redhat-regular text-capitalize">
            contact us
          </li>
          <li class="nav-item text-white size16 redhat-regular text-capitalize">
            return policy
          </li>
        </ul>
      </div>
      <div class="">
        <h4 class="size22 redhat-bold">Legal</h4>
        <ul class="nav d-flex flex-column">
          <li class="nav-item text-white size16 redhat-regular text-capitalize">
            terms & conditions
          </li>
          <li class="nav-item text-white size16 redhat-regular text-capitalize">
            customer care
          </li>
          <li class="nav-item text-white size16 redhat-regular text-capitalize">
            warranty
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
